.section-custom-register-brands {
  margin-top: 0;
  .headline {
    text-align: center;
  }
  // background-color: var(--color-grey1);
}
@media (max-width: 767px) {
  .section-custom-register-brands {
    padding-top: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-custom-register-brands {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .section-custom-register-brands {
    padding-top: 100px;
  }
}

.card-product-select {
  box-shadow: 5px 7px 7px #acb1a8;
  border-radius: unset;
  padding: 50px;
  .blog-post2_summary {
    color: black;
  }
}