<template>
    <section id="brand-wait">
        <div class="blog-post2 bg-white">
            <a class="blog-post2_photo" href="#">
                <span class="aspect-ratio is-1x1">
                    <img class="aspect-ratio_object lazyload" 
                        src="/image/public/default/0/blank.gif" 
                        :data-srcset="adviser_data.user.path_img +' 1x,' + adviser_data.user.path_img + ' 2x'" 
                        :alt="adviser_data.user.nickname">
                </span>
            </a>
            <div class="blog-post2_info">
                <h4 class="blog-post2_title">
                  การสมาชิกแบรนด์ของคุณอยู่ในระหว่างการดำเนินการ !
                </h4>
                <p class="blog-post2_meta">
                    หากต้องการสอบถามเพิ่มเติมสามารถปรึกษาได้ที่แม่ทีม หรือ คุยกับแอดมิน
                </p>
                <p class="blog-post2_summary">
                    <span  class="category">
                        <font-awesome-icon class="fa-md" :icon="[ 'fas', 'id-card' ]" /> {{ adviser_data.user.firstname}} {{ adviser_data.user.lastname}}
                        <br/>
                    </span>
                    <span  class="category">
                        <font-awesome-icon class="fa-md" :icon="[ 'fas', 'id-card' ]" /> {{adviser_data.show_full_id}}
                        <br/>
                    </span>
                    <span class="category"  v-if="adviser_data.user.address && adviser_data.user.address.province">
                        <span class="ti-location-pin"></span> {{adviser_data.user.address.province}}
                        <br/>
                    </span>
                    <span v-if="adviser_data.user.phone" class="category">
                        <font-awesome-icon class="fa-md" :icon="[ 'fas', 'phone-square-alt' ]" /> {{adviser_data.user.phone}}
                        <br/>
                    </span>
                    <span v-if="adviser_data.user.facebook" class="category">
                        <font-awesome-icon class="fa-md" :icon="[ 'fab', 'facebook-square' ]" />  {{adviser_data.user.facebook}}
                        <br/>
                    </span>
                    <span v-if="adviser_data.user.line" class="category">
                        <font-awesome-icon class="fa-md" :icon="[ 'fab', 'line' ]" />  {{adviser_data.user.line}}
                        <br/>
                    </span>
                </p>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'RegisterBrandWait',
    props : [
        'adviser_data'
    ]
}
</script>