<template>
    <div>
        <form-wizard  
            @on-complete="onComplete" shape="circle" color="#575942" error-color="#e74c3c" 
            back-button-text="กลับ"
            next-button-text="ต่อไป"
            finish-button-text="สมัครตัวแทน">
            <h3 class="" slot="title">สมัครตัวแทน</h3>
            <!-- <p class="category" slot="title">{{ brand.eng_name }}</p> -->
            <tab-content title="เลือกแม่ทีม" icon="ti-user" :before-change="validateAdviser">
                <div class="grid">
                    <div class="grid_row is-30">
                        <div class="grid_col is-12 is-md-12">
                            <SelectMember v-if="form.adviser_id == ''" :brand_id="brand.id"
                                @selectAdvisor="updateAdvisor" >
                            </SelectMember>
                            <div class="blog-post2 bg-white" v-if="form.adviser_id != '' && adviser_data != null" >
                                <a class="blog-post2_photo" href="#">
                                    <span class="aspect-ratio is-1x1">
                                        <img class="aspect-ratio_object lazyload" 
                                            src="/image/public/default/0/blank.gif" 
                                            :data-srcset="adviser_data.user.path_img +' 1x,' + adviser_data.user.path_img + ' 2x'" 
                                            :alt="adviser_data.user.nickname">
                                    </span>
                                </a>
                                <div class="blog-post2_info">
                                    <h3 class="blog-post2_title">
                                        <a href="#"> 
                                            {{ adviser_data.user.firstname}} {{ adviser_data.user.lastname}}
                                        </a>
                                    </h3>
                                    <p class="blog-post2_meta">
                                        <font-awesome-icon class="fa-md" :icon="[ 'fas', 'id-card' ]" /> {{adviser_data.show_full_id}}
                                        <a href="#">{{ adviser_data.text_level }}</a>
                                    </p>
                                    <p class="blog-post2_summary">
                                        <span class="category"  v-if="adviser_data.user.address && adviser_data.user.address.province">
                                            <span class="ti-location-pin"></span> {{adviser_data.user.address.province}}
                                            <br/>
                                        </span>
                                        <span v-if="adviser_data.user.phone" class="category">
                                            <font-awesome-icon class="fa-md" :icon="[ 'fas', 'phone-square-alt' ]" /> {{adviser_data.user.phone}}
                                            <br/>
                                        </span>
                                        <span v-if="adviser_data.user.facebook" class="category">
                                            <font-awesome-icon class="fa-md" :icon="[ 'fab', 'facebook-square' ]" />  {{adviser_data.user.facebook}}
                                            <br/>
                                        </span>
                                        <button class="button is-block is-grey mt-2" v-on:click="deleteSelectAdvisor()">
                                            <span class="button_text">ยกเลิก</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </tab-content>
            <tab-content title="เลือกตำแหน่ง" icon="ti-bar-chart" :before-change="validateLevel">
                <div class="grid">
                    <div class="grid_row is-30">
                        <div class="grid_col is-12 is-md-12">
                            <SelectLevel 
                                v-if="form.adviser_id != '' && adviser_data != null"
                                :adviser='adviser_data'
                                :oldLevel='level_data'
                                :error='error.level'
                                @selectLevel="updateLevel">
                            </SelectLevel>
                            <br>
                        </div>
                    </div>
                </div>
            </tab-content>
            <tab-content title="กรอกข้อมูล" icon="ti-id-badge" >
                <div class="grid">
                    <div class="grid_row is-30">
                        <div class="grid_col is-12 is-md-12 bg-white">
                            <RadioRate  
                                v-if="form.adviser_id != '' && adviser_data != null
                                    && form.level != '' && form.level != null"
                                :brand_id="brand.id"
                                :level='form.level'
                                :oldPrice='price_data'
                                :error='error.price'
                                @selectPrice="updatePrice" >
                            </RadioRate>
                        </div>
                    </div>
                    <b-form>
                    <div class="grid_row is-30">
                        <div class="grid_col is-12 is-md-12 bg-white">
                            <label class="form_label">เคยใช้สินค้าหรือไม่</label>
                            <div class="form_checks is-inline grey">
                                <label class="form_check">
                                    <input class="form_control_radio" v-bind:class="{ 'is-error': error.used }"
                                        @change="error.used = false"
                                        type="radio" name="used" v-model="form.used" value="used">
                                    เคย
                                </label>
                                <label class="form_check">
                                    <input class="form_control_radio" v-bind:class="{ 'is-error': error.used }"
                                        @change="error.used = false"
                                        type="radio" name="used" v-model="form.used" value="never">
                                    ไม่เคย
                                </label>
                            </div>
                        </div>
                        <div class="grid_col is-12 is-md-12 bg-white">
                            <label class="form_label">รู้อะไรเกี่ยวกับสินค้าตัวนี้บ้าง</label>
                            <textarea 
                                class="form_control_textarea" 
                                v-bind:class="{ 'is-error': error.know }"
                                cols="30" 
                                rows="3" 
                                placeholder="Enter something..."
                                @keydown="error.know = false"
                                v-model="form.know">
                            </textarea>
                        </div>
                        <div class="grid_col is-12 is-md-12 bg-white">
                            <label class="form_label">เพราะอะไรจึงเลือกมาสมัครตัวแทน</label>
                            <textarea 
                                class="form_control_textarea" 
                                v-bind:class="{ 'is-error': error.why_choose }"
                                cols="30" 
                                rows="3" 
                                placeholder="Enter something..."
                                 @keydown="error.why_choose = false"
                                v-model="form.why_choose">
                            </textarea>
                        </div>
                    </div>
                    </b-form>
                </div>
                <br>
            </tab-content>
        </form-wizard>
    </div>
</template>
<script>
import {FormWizard, TabContent} from 'vue-form-wizard';
import SelectMember from './subcomponent/SelectMember';
import SelectLevel from './subcomponent/SelectLevel';
import RadioRate from './subcomponent/RadioRate';
const Swal = require('sweetalert2');

export default {
    name: 'RegisterBrand',
    props : [
        'brand',
        'auth_id'
    ],
    components: {
        FormWizard,
        TabContent,
        SelectMember,
        SelectLevel,
        RadioRate
    },
    data() {
        return {
            form: new Form({
                adviser_id: '',
                level: '',
                price: '',
                why_choose: '',
                know: '',
                used: ''
            }),
            adviser_data: {},
            level_data: {},
            price_data: {},
            error: {
                level: false,
                price: false,
                why_choose: false,
                know: false,
                used: false,
            }
        };
    },
    methods: {
        validateAdviser: function() {
            if(this.form.adviser_id != null && this.form.adviser_id != ''){
                return true;
            }else{
                this.$toastr.w("กรุณาเลือกแม่ทีม");
                return false;
            }
        },
        clearError: function() {
            this.error.level = false;
            this.error.price = false;
        },
        //page 1
        updateAdvisor: function(variable) {
            this.form.adviser_id = variable.id;
            this.adviser_data = variable;
            this.form.level ='';
            this.level_data = null;
            this.form.price ='';
            this.price_data = null;
            this.clearError();
        },
        deleteSelectAdvisor: function(){
            this.form.adviser_id = '';
            this.adviser_data = null;
        },
        //page 2
        updateLevel: function(variable) {
            if(variable){
                this.form.level = variable.id;
            }
            this.level_data = variable;
            this.form.price ='';
            this.price_data = null;
            this.clearError();
        },
        validateLevel: function() {
            if(this.form.level != null && this.form.level != ''){
                return true;
            }else{
                this.error.level = true;
                this.$toastr.w("กรุณาเลือกตำแหน่ง");
                return false;
            }
        },
        //page 3
        updatePrice: function(variable) {
            if(variable){
                this.form.price = variable.id;
            }
            this.price_data = variable;
            this.error.price = false;
        },
        validateLast: function() {
            if(this.form.price == null || this.form.price == ''){
                this.error.price = true;
                this.$toastr.w("กรุณาเลือกเรทที่ต้องการเปิดบิล");
                return true;
            }
            if(this.form.used == null || this.form.used == ''){
                this.error.used = true;
                this.$toastr.w("กรุณากรอกข้อมูลให้ครบถ้วน");
                return true;
            }
            if(this.form.know == null || this.form.know == ''){
                this.error.know = true;
                this.$toastr.w("กรุณากรอกข้อมูลให้ครบถ้วน");
                return true;
            }
            if(this.form.why_choose == null || this.form.why_choose == ''){
                this.error.why_choose = true;
                this.$toastr.w("กรุณากรอกข้อมูลให้ครบถ้วน");
                return true;
            }
            return false;
        },
        //submit
        onComplete: function() {
            if(this.validateLast()){
                return;
            }      

            Swal.fire({
                title: 'Are you sure?',
                html:
                    '<table class="table">' +
                        '<tr>' +
                            '<td class="text-left">ตัวแทน</td>'+
                            '<td class="text-left">' + this.adviser_data.user.firstname + ' ' +this.adviser_data.user.lastname + '</td>' +
                        '</tr>' +
                        '<tr>' +
                            '<td class="text-left">ตำแน่ง</td>'+
                            '<td class="text-left">' + this.level_data.text + '</td>' +
                        '</tr>' +
                        '<tr>' +
                            '<td class="text-left">เรทที่เปิดบิล</td>'+
                            '<td class="text-left">' + this.$func.formatNumber(this.price_data.set) +' '+this.price_data.type + ' '+this.$func.formatPrice(this.price_data.total_price)+ ' บาท</td>' +
                        '</tr>' +
                    '</table>',
                showCancelButton: true,
                confirmButtonColor: '#575942',
                confirmButtonText: 'สมัครตัวแทน',
                cancelButtonText: 'ยกเลิก',
                preConfirm: (login) => {
                    let data = new FormData();
                    data.append('brand_id', this.brand.id);
                    data.append('adviser_id', this.form.adviser_id);
                    data.append('level', this.form.level);
                    data.append('why_choose', this.form.why_choose);
                    data.append('know', this.form.know);
                    data.append('used', this.form.used);
                    data.append('rate_selected',
                        this.$func.formatNumber(this.price_data.set) +' '+this.price_data.type + ' '
                        +this.$func.formatPrice(this.price_data.total_price)+ ' บาท');
                    return axios.post('/register-brand', data)
                        .then(response => {
                            if(response.data){
                                return response.data;
                            }else{
                                Swal.showValidationMessage(
                                    `คุณได้ลงทะเบียนเรียบร้อยแล้ว`
                                )
                            }
                        })
                        .catch(error => {
                            Swal.showValidationMessage(
                                `Request failed: ${error}`
                            )
                        })
                },
                allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title:  'ยินดีด้วย!!',
                            text: 'การสมัครตัวแทนดำเนินการเสร็จสิ้นเรียบร้อยแล้ว ยินดีต้อนรับ ขอบคุณที่มาเข้ามาเป็นส่วนหนึ่งสมาชิกของแบรนด์เรานะคะ',
                            icon:'success',
                            confirmButtonColor: '#575942'
                        }).then(() => {
                            window.location.href = '/'+this.brand.slug+'/register#brand-wait';
                            window.location.reload();
                        });
                    }
                });
        }
    }
}
</script>