//template


//end-template

// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// @import url('/vendor/fonts/th-sarabun/THSarabun.ttf');


// Variables
@import 'front/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'front/mixins';
@import 'front/core';
@import 'front/plugins';
@import 'front/navbar';
@import 'front/welcome';
@import 'front/footer';
@import 'front/contract';
@import 'front/register';
@import 'front/members';
@import 'front/rating_product';
@import 'front/detail_member';
@import 'front/home';


@font-face {
  font-family: 'th-sarabun';
  // font-weight: 700;
  src: url('front/fonts/th-sarabun/THSarabun-Bold.ttf');
};




