<template>
  <div>
      <div class="container mb-5">
          <div class="row">
              <div class="col-md-12">
                  <vue-good-table
                    :columns="columns"
                    :rows="rows"
                    :sort-options="{
                        enabled: true,
                        initialSortBy: {field: 'register_date', type: 'asc'}
                    }"
                    :pagination-options="{
                        enabled: true,
                        mode: 'records'
                    }">
                    <template slot="table-row" slot-scope="props">
                        <div v-if="props.column.field == 'action'">
                            <b-button size="sm" class="mb-2 mr-2"  variant="outline-info" @click="showUser(props.row.user_full_data)">
                                <span class="ti-search middle-icon"></span>
                            </b-button>
                            <b-button size="sm" class="mb-2 mr-2"  variant="outline-success" @click="dataUserApprove(props)">
                                <span class="ti-check middle-icon"></span>
                            </b-button>
                            <b-button size="sm" class="mb-2 mr-2" variant="outline-danger" @click="isBeforeDeleteUserApprove(props)">
                                <span class="ti-close middle-icon"></span>
                            </b-button>
                        </div>
                    </template>
                  </vue-good-table>
              </div>
                <b-modal id="modal-1" ref="approve-modal" title="รับสมาชิก" 
                    header-bg-variant="light"
                    footer-bg-variant="light"
                    :hide-footer="true" no-stacking >
                    <b-overlay :show="loading" rounded="sm"> 
                    <li class="d-flex justify-content-center mb-4">
                        <img
                            class="approve-image-user lazyload"
                            src="/image/public/default/0/blank.gif" 
                            :data-srcset="userSelectData.image +' 1x,'+userSelectData.image+' 2x'"
                            :alt="userSelectData.name"
                        >
                    </li>
                    <div class="grid_col is-12 mb-1">
                        <p class="mb-0"><b>ตำแหน่งที่สมัคร:</b></p>
                        <p class="">{{userSelectData.text_level}}</p>
                    </div>
                    <div class="grid_col is-12 mb-1">
                        <p class="mb-0"><b>ชื่อ-สุกล:</b></p>
                        <p class="">{{userSelectData.name}} 
                            <span v-if="userSelectData.nickname">({{userSelectData.nickname}})</span>
                        </p>
                    </div>
                    <form action="" class="mt-30">
                        <div class="grid_col is-12">
                            <hr>
                            <label for="slip_img" class="form-label">ใบเสร็จรับเงิน</label>
                            <input type="file" class="form_control_file" v-bind:class="{ 'is-error': errors.slip }"
                                        @change="errors.slip = false"
                                        placeholder="รูปสำหรับบัตรตัวแทน"
                                        drop-placeholder="Drop file here..."
                                        ref="slip_img"
                                        id="slip_img"
                                        name="slip_img">
                            <span class="text-red" v-if="errors.slip">{{errors.slipText}}</span>
                        </div>
                        <br>
                    </form>
                    <b-button class="mt-3 mb-3 btn-green-1" size="sm"  @click.prevent="approveUser()">รับสมาชิก</b-button>
                    <b-button class="mt-3 mb-3 float-right" size="sm" variant="secondary" @click="$bvModal.hide('modal-1')">ยกเลิก</b-button>
                    <template #overlay>
                        <div class="text-center">
                        <b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon>
                        <p id="cancel-label">Please wait...</p>
                        </div>
                    </template>
                    </b-overlay>
                </b-modal>
                <ShowUser :userData="modalUserData"></ShowUser>
          </div>
      </div>
  </div>
</template>

<script>
const Swal = require('sweetalert2');
import { VueGoodTable } from 'vue-good-table';
import 'vue-good-table/dist/vue-good-table.css'
import moment from 'moment';
import { BIcon, BIconStopwatch  } from 'bootstrap-vue';
import ShowUser from './subcomponent/ShowUser';

export default {
  name: 'ApproveUser',
  components: {
        VueGoodTable,
        BIcon,
        BIconStopwatch,
        ShowUser
  },
  props : [
    'authmember',
    'brandid'
  ],
  data(){
    return {
      columns: [
        {
            label: 'วันที่สมัคร',
            field: 'register_date',
            titleClass: 'center aligned',
            dataClass: 'center aligned'
        },
        {
            label: 'Member ID',
            field: 'memberid',
        },
        {
            label: 'ชื่อ-สกุล',
            field: 'name',
        },
        {
            label: 'ชื่อเล่น',
            field: 'nickname',
        },
        {
            label: 'อายุ',
            field: 'age',
        },
        {
            label: 'เพศ',
            field: 'gender',
        },
        {
            label: 'ตำแหน่งที่สมัคร',
            field: 'text_level',
            titleClass: 'center aligned',
            dataClass: 'center aligned'
        },
        {
            label: 'Actions',
            field: 'action',
            titleClass: 'center aligned',
            dataClass: 'center aligned'
        },
        {
            label: 'memberid',
            field: 'memberid',
            hidden : true
        }
      ],
      rows: [],
      totalRecords: '',
      isLoading: false,
      perPage: [
          10,20,30,40,50
      ],
      data : [],
      userRegisterData : [],
      getUserDataOnclickModal : [], //เรียกข้อมูลของ user ที่คลิก modal เป็นรายบุคคล
      userSelectID : '',
      userSelectData : [],
      slip_img: '',
      memberID: '',
      loading: false,
      errors: {
        slip: false,
        slipText: '',
      },
      modalUserData: {},
    };
  },
mounted() {
    this.isgetUser();
},
methods: {
    dataUserApprove(data) {
        this.$refs['approve-modal'].show();
        this.getUserDataOnclickModal = data.formattedRow;
        this.userSelectID = data.formattedRow.memberid;
        this.userSelectData = data.row;
        this.errors.slip = false;
        this.errors.slipText = '';
    },
    showUser(data){
        this.modalUserData = data;
        this.$bvModal.show('show-user');
    },
    //ไม่รับสมัครสมาชิก
    isBeforeDeleteUserApprove(data) {
        this.memberID = data.formattedRow.memberid
        Swal.fire({
            icon : 'warning',
            title: 'คุณยืนยันที่จะปฏิเสธหรือไม่!!',
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: `ยืนยัน`,
            confirmButtonColor: '#dc3545'
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                this.deleteUserApprove();
            }
        })
    },
    deleteUserApprove(data) {
        axios.delete('/api-front/delete-approve-user/' + this.memberID).then(res => {
            Swal.fire({
                icon : 'success',
                title: "เรียบร้อย",
                text: "ไม่รับสมัครสมาชิกเรียบร้อย",
                confirmButtonColor: '#575942'
            })
        }).catch(() => {
            Swal.fire({
                icon: 'error',
                title: 'ผิดพลาด.',
                text: 'มีบางอย่างผิดพลาด โปรดติดต่อแอดมิน!!',
            })
        });
        this.isgetUser();
    },
    //approve สมาชิก
    approveUser() {
        const slip = document.getElementById('slip_img').files[0];
        this.slip_img = slip;
        if(this.slip_img == null){
            this.errors.slip = true;
            this.errors.slipText = 'กรุณาใส่ใบเสร็จรับเงิน'
            return;
        }
        let data = new FormData();
        data.append('memberid', this.userSelectID);
        data.append('level', this.userSelectData.level);
        data.append('user_id', this.userSelectData.userid);
        data.append('brand_id', this.userSelectData.brand_id);
        data.append('slip', this.slip_img);
        
        this.loading = true;
        axios.post('/api-front/update-aprrove-user/',data,{
            methods: 'patch'
        }).then(res => {
            Swal.fire({
                icon : 'success',
                title: "เรียบร้อย",
                text: "รับสมัครสมาชิกเสร็จสิ้น",
            },function() {
                Swal.close();
            })
            this.isgetUser();
            this.$refs['approve-modal'].hide();
            this.loading = false;
        }).catch((err) => {
            this.loading = false;
            //return validate
            if(err.response.status == '422'){
                if(err.response.data.errors.slip){
                    this.errors.slip = true;
                    this.errors.slipText = err.response.data.errors.slip[0];
                    return;
                }
            }
            Swal.fire({
                icon: 'error',
                title: 'ผิดพลาด.',
                text: 'มีบางอย่างผิดพลาด โปรดติดต่อแอดมิน!!',
            })
        })
        // this.$refs['approve-modal'].hide()
    },
    // hideModal() {
    //     this.$refs['my-modal1'].hide()
    // },
    isgetUser(){
        this.rows = [];
        axios.get('/api-front/api-user-register/' + this.brandid+'/'+ this.authmember.id)
            .then( (res)=> {
                this.userRegisterData = res.data;
                res.data.map((item) => {
                    // console.log(item);
                    const data = {
                        memberid : item.id,
                        userid : item.user.id,
                        name : item.user.firstname + ' '+ item.user.lastname,
                        nickname : item.user.nickname,
                        age : item.user.age,
                        brand_id : item.brand_id,
                        level : item.level,
                        text_level : item.text_level,
                        gender : item.user.gender_text,
                        register_date : moment(item.created_at).format('DD/MM/YYYY HH:mm'),
                        image : item.user.path_img,
                        user_full_data : item,
                    }
                    this.rows.push(data);
                })
        });
    },
}
};
</script>
