<template>
    <div class="grid mt-5" >
    <b-overlay :show="loading" rounded="sm"> 
        <div class="grid_row is-40">
            <div class="grid_col is-12" data-aos="ntr-fade-up" data-aos-once="true">
                <div class="grid_row is-40">
                    <div class="grid_col is-12 is-md-12 is-lg-6 is-xl-4">
                        <form class="shop-sidebar_search"  @submit.stop.prevent="searchSubmit" >
                            <input class="shop-sidebar_search_input" 
                                v-model="search" 
                                type="text" 
                                name="keyword" 
                                placeholder="Search ..." >
                            <button class="shop-sidebar_search_button" type="submit" >
                                <span class="icon is-search"></span>
                            </button>
                        </form>
                        <!-- <div class="shop-header_result ">
                            <a class="vue-a-href" v-on:click="getAll()"> Search all </a>
                        </div> -->
                    </div>
                    <div class="grid_col is-12 is-md-12 is-lg-3 is-xl-2 ml-auto">
                        <div class="shop-header_select">
                            <span>Show</span>
                            <select class="form_control_select" name="showLimit" 
                                @change="onChangeLimit()" 
                                v-model="selectedLimit" >
                                <option v-for="item in limitItems" :value="item.val" :key="item.id">
                                    {{ item.val }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div v-for="member in members.data" :key="member.id" class="grid_col is-12 is-sm-6 is-lg-3" data-aos="ntr-fade-up" data-aos-once="true">
                <a class="team-member hover-up" style="cursor: pointer;"  @click="showUser(member)">
                    <span class="aspect-ratio is-4x5">
                        <img class="aspect-ratio_object lazyload"
                        :src="member.user.path_img"
                        :data-srcset="member.user.path_img + ' 1x ,' + member.user.path_img + ' 2x'"
                        :alt="member.user.nickname">
                    </span>
                    <span class="team-member_info">
                        <span class="team-member_name">{{ member.user.nickname }}</span>
                        <span class="team-member_title">
                            {{ member.user.firstname }}
                            {{ member.user.lastname }}
                        </span>
                    </span>
                </a>
            </div>
            <div class="grid_col is-12">
                <div class="pagination float-right">
                    <pagination :data="members" @pagination-change-page="getMembers"></pagination>
                </div> 
            </div>
            <div class="grid_col is-12" v-if="members.data &&  members.data.length < 1 && loading != true">
                <div class="alert is-grey text-center">
                    <p>No results found, <b><a class="vue-a-href" v-on:click="getAll()"> Search all </a></b></p> 
                </div>
            </div>
            <div class="grid_col is-12" v-if="!members.data && loading != true">
                <div class="alert is-grey text-center">
                    <p>No Data <b>Teams</b></p>
                </div>
            </div>
            <ShowUser :userData="modalUserData"></ShowUser>
        </div>
    <template #overlay>
        <div class="text-center">
        <b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon>
        <p id="cancel-label">Please wait...</p>
        </div>
    </template>
    </b-overlay>
    </div>
</template>

<script>
import pagination from 'laravel-vue-pagination';
import { BIcon, BIconStopwatch  } from 'bootstrap-vue';
import ShowUser from './subcomponent/ShowUser';

export default {
    name: 'TotalMember',
    components: {
        pagination,
        BIcon,
        BIconStopwatch,
        ShowUser
    },
    props : [
        'brand_id',
        'auth_id'
    ],
    mounted() {
		this.getMembers();
    },
    data() {
        return {
            members: {},
            selectedLimit: 12,
            limitItems: {
                12: {id: 1, val: 12},
                24: {id: 2, val: 24},
                48: {id: 3, val: 48},
            },
            search: '',
            modalUserData: {},
            loading: false
        }
    },
    methods : {
        getMembers(page = 1) {
            this.loading = true;
            axios.get('/team/api/'+ this.brand_id +'/'+this.auth_id+'?page=' + page
                    + '&&limit=' +this.selectedLimit
                    + '&&query='+this.search
                )
                .then(response => {
                    this.members = response.data;
                })
            .finally(() => this.loading = false);
        },
        onChangeLimit(){
            this.getMembers();
        },
        searchSubmit() {
            this.getMembers();
        },
        getAll() {
            this.search = '';
            this.getMembers();
        },
        showUser(data) {
            this.modalUserData = data;
            this.$bvModal.show('show-user');
        }
    }
}
</script>
