<template>
    <section>
        <b-form>
            <label class="form_label">เรทที่ต้องการเปิดบิล</label>
                <table class="table">
                    <tbody>
                        <tr  v-for="p in prices" :key="p.id"
                            v-bind:class="{ 'text-disabled': checkDisible(p.level_number) , 'grey': !checkDisible(p.level_number)}">
                            <td class="row text-left">
                                <label class="form_check">
                                    <input class="form_control_radio" type="radio" 
                                        v-bind:class="{ 'is-error': error }"
                                        name="price"
                                        v-model="price" 
                                        :disabled="checkDisible(p.level_number)"
                                        @change="onChange(price)"
                                        v-bind:value="{ id: p.id,
                                                        set: p.set,
                                                        type: p.type,
                                                        desc: p.desc,
                                                        price: p.price,
                                                        total_price: p.total_price }" > 
                                        {{ $func.formatNumber(p.set) }}
                                </label>
                            </td>
                            <td class="text-ledt">
                                {{ p.type }}
                            </td>
                            <td class="text-right">
                                {{ $func.formatNumber(p.total_price) }}
                            </td>
                            <td class="text-right">
                                บาท
                            </td>
                        </tr>
                    </tbody>
                </table>
        </b-form>
    </section>
</template>
<script>
export default {
    name: 'RadioRate',
    props : [
        'level',
        'brand_id',
        'oldPrice',
        'error'
    ],
    data() {
        return {
            loading: false,
            price: '',
            prices: {}
        };
    },  
    watch: { 
      	level: function(newVal, oldVal) { // watch it
          if(newVal!=oldVal){
              this.price = '';
          }
        }
    },
    mounted() {
        this.addOptions(this.brand_id);
    },
    methods: {
        addOptions(brand_id) {
            this.loading = true;
            axios.get('/api-user/get-price-rate/' + brand_id)
                .then(response => {
                    var data = response.data;
                    this.prices = data;
                    this.price = this.oldPrice;
                }).catch((error) => {
                    // if (error.response) {
                    //     // The request was made and the server responded with a status code
                    //     // that falls out of the range of 2xx
                    //     console.log(error.response.data);
                    //     console.log(error.response.status);
                    //     console.log(error.response.headers);
                    // }
                })
                .finally(() => this.loading = false);
        },
        onChange(event) {
             this.$emit("selectPrice", event);
        },
        convertLevel(textLevel) {
            if(textLevel== 'member'){
                return   1;
            }else if(textLevel == 'team_leader'){
                return   2;
            }else if(textLevel == 'dealer'){
                return   3;
            }else if(textLevel== 'ceo') {
                return   4;
            }
        },
        checkDisible(optionLevel){
            var selectLevel = this.convertLevel(this.level);

            if( selectLevel <= optionLevel ) {
                return false;
            }else{
                return true;
            }
        }
    }
};
</script>