<template>
    <section>
        <b-form>
            <label class="form_label">ตำแน่ง</label>
            <select class="form_control_select" 
                v-bind:class="{ 'is-error': error }"
                id="level"
                name="level"
                v-model="level" 
                @change="onChange(level)">
                <option v-for="option in options" :key="option.value" 
                    v-bind:value="{ id: option.value, text: option.text }" >
                    {{option.text}}
                </option>
            </select>
        </b-form>
    </section>
</template>
<script>
export default {
    name: 'SelectLevel',
    props : [
        'adviser',
        'oldLevel',
        'error'
    ],
    data() {
        return {
            level: '',
            options: []
        };
    },  
    mounted() {
        this.addOptions(this.adviser.level)
    },
    methods: {
        addOptions(adviser_level) {
            var op = [];
            op.push({value: '', text: 'กรุณาเลือกตำแหน่ง' });
            op.push({value: 'member', text: 'ลูกทีม' });
            if(adviser_level=='dealer'){
                op.push({value: 'team_leader', text: 'แม่ทีม' });
            }
            if(adviser_level=='ceo'){
                op.push({value: 'team_leader', text: 'แม่ทีม' });
                op.push({value: 'dealer', text: 'ดีลเลอร์' });
            }
            this.options = op;
            this.level = this.oldLevel;
        },
        onChange(event) {
             this.$emit("selectLevel", event);
        }
    }
};
</script>