<template>
    <section>
        <div class="shop-header mb-3" >
            <div class="shop-header_views">
                <div class="shop-header_layout">
                    <div class="shop-header_layout_item bg-white" data-layout="grid-3" 
                        v-bind:class="{'is-active':cssProduct == 'is-grid-3'}"
                        v-on:click="gridClick('is-grid-3')">
                        <span class="shop-header_layout_item_icon icon is-grid"></span>
                        <span class="shop-header_layout_item_text">Grid View</span>
                    </div>
                    <div class="shop-header_layout_item bg-white" data-layout="list"  
                        v-bind:class="{'is-active':cssProduct == 'is-list'}"
                        v-on:click="gridClick('is-list')">
                        <span class="shop-header_layout_item_icon icon is-list"></span>
                        <span class="shop-header_layout_item_text">List View</span>
                    </div>
                </div>
            </div>
            <div class="shop-header_selects">
                <div class="shop-header_select bg-white">
                    <b-form class="shop-sidebar_search"  @submit.stop.prevent="searchSubmit" >
                        <input class="shop-sidebar_search_input" 
                            v-model="search" 
                            type="text" 
                            name="keyword" 
                            placeholder="Search ..." >
                        <button class="shop-sidebar_search_button" type="submit" ><span class="icon is-search"></span></button>
                    </b-form>
                </div>
            </div>
        </div>
        <div class="shop-products" :class="cssProduct" ref="select-member">
            <div class="grid">
                <div class="grid_row is-40"  v-if="!loading">
                    <!-- product -->
                    <div class="grid_col" data-aos="ntr-fade-up" data-aos-once="true" 
                        v-for="advisor in advisors.data" :key="advisor.id">
                        <div class="shop-product hover-shadow">
                            <div class="shop-product_photo">
                                <a href="#" v-on:click="selectAdvisors(advisor)">
                                    <span class="aspect-ratio is-1x1">
                                        <img class="aspect-ratio_object lazyload" 
                                            src="/image/public/default/0/blank.gif" 
                                            :data-srcset="advisor.user.path_img +' 1x,' + advisor.user.path_img + ' 2x'" 
                                            :alt="advisor.user.nickname">
                                    </span>
                                </a>
                            </div>
                            <div class="shop-product_content">
                                <div class="shop-product_body">
                                    <div class="shop-product_title">
                                        <a href="#" v-on:click="selectAdvisors(advisor)"> 
                                            {{ advisor.user.nickname}}
                                        </a>
                                    </div>
                                    <div class="shop-product_rating">
                                        <span class="rating">
                                           {{ advisor.text_level }}
                                        </span>
                                    </div>
                                    <div class="shop-product_description">
                                        <p> 
                                            <span class="category">
                                                <font-awesome-icon class="fa-md" :icon="[ 'fas', 'id-card' ]" /> {{advisor.show_full_id}}
                                                <br/>
                                            </span>
                                            <span v-if="advisor.user.phone" class="category">
                                                <font-awesome-icon class="fa-md" :icon="[ 'fas', 'phone-square-alt' ]" /> {{advisor.user.phone}}
                                                <br/>
                                            </span>
                                            <span v-if="advisor.user.facebook" class="category">
                                                <font-awesome-icon class="fa-md" :icon="[ 'fab', 'facebook-square' ]" />  {{advisor.user.facebook}}
                                                <br/>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="shop-product_footer">
                                    <div class="shop-product_prices" v-if="advisor.user.address && advisor.user.address.province">
                                        <span class="shop-product_prices_current"><span class="ti-location-pin"></span> {{advisor.user.address.province}}</span>
                                    </div>
                                    <div class="shop-product_actions">
                                        <a class="shop-product_actions_item" :href="'http://line.me/ti/p/'+advisor.user.line" target="_blank" :title="advisor.user.line">
                                            <font-awesome-icon class="fa-md" :icon="[ 'fab', 'line' ]" />
                                        </a>
                                        <a class="shop-product_actions_item" :href="'tel:'+advisor.user.phone"  :title="advisor.user.phone">
                                            <font-awesome-icon class="fa-md" icon="phone-alt" />
                                        </a>
                                        <a class="shop-product_actions_item" :href="'http://instagram.com/'+advisor.user.instragram" target="_blank" :title="advisor.user.instragram">
                                            <span class="icon is-instagram"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" v-if="!loading">
            <div class="grid"  v-if="advisors.data && advisors.data.length < 1">
                <div class="grid_row is-40">
                    <div class="grid_col is-12">
                        <div class="alert is-grey text-center">
                            <p>No Result Found, <span class="badge is-grey"><a href="#" v-on:click="getAll()" >search all</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" v-if="loading">
            <div class="grid">
                <div class="grid_row is-40">
                    <div class="grid_col is-12 p-5">
                        <img class="mx-auto d-block"
                            src="/image/public/default/0/loader.gif" 
                            alt="loader">
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="pagination">
            <pagination :data="advisors" @pagination-change-page="getAdvisors"></pagination>
        </div> 
        <!-- Pagination End  -->
    </section>
</template>

<script>
import pagination from 'laravel-vue-pagination';

export default {
  name: 'SelectMember',
  components: {
      pagination
  },
  props : [
        'brand_id',
  ],
  data() {
    return {
        loading: false,
        advisors: {},
        search: '',
        cssProduct: 'is-grid-3'
    };
  },
  mounted() {
		// Fetch initial results
		this.getAdvisors();
  },
  methods: {
    getAdvisors(page = 1) {
        this.loading = true;
        axios.get('/api-user/get-advisors/?page=' + page + '&&brand=' +this.brand_id+ '&&query='+this.search)
            .then(response => {
                this.advisors = response.data;
            })
            .finally(() => this.loading = false);
            // var top = this.$refs['select-member'].offsetTop;

            // window.scrollTo(0, top);
    },
    searchSubmit() {
        this.getAdvisors();
    },
    getAll() {
        this.search = '';
        this.getAdvisors();
    },
    selectAdvisors(data) {
        this.$emit("selectAdvisor", data);
    },
    gridClick(style){
        this.cssProduct = style;
    }
  }
};
</script>