<template>
  <div class="auth-page">
    <b-container>
      <h5 class="auth-logo">
        <i class="fa fa-circle text-primary"></i>
          MSGYB
        <i class="fa fa-circle text-danger"></i>
      </h5>
      <Widget class="widget-auth mx-auto" title="<h3 class='mt-0'>Login to admin Web</h3>" customHeader :fetchingData=loading>
        <p class="widget-auth-info">
            for admin page
        </p>
        <form class="mt" @submit.prevent="login">
          <div class="form-group">
            <input type="hidden" name="_token" :value="csrf">
            <input class="form-control no-border" 
              :class="{ 'is-invalid' : form.errors.has('email') }"
              v-model="form.email"
              @keydown="form.errors.clear()"
              ref="email"
              type="email"
              name="email" 
              placeholder="Email" />
            <div class="invalid-feedback" v-show="form.errors.has('email')" v-text="form.errors.get('email')"></div>
          </div>
          <div class="form-group">
            <input class="form-control no-border" 
              :class="{ 'is-invalid' : form.errors.has('password') }"
              v-model="form.password"
              @keydown="form.errors.clear()"
              ref="password" 
              type="password" 
              name="password" 
              placeholder="Password" />
            <div class="invalid-feedback" v-show="form.errors.has('password')" v-text="form.errors.get('password')"></div>
          </div>
          <b-button type="submit" size="md" class="auth-btn mb-3" variant="inverse">Login</b-button>
          <p class="widget-auth-info"> </p>
        </form>
        <Loader v-if="loginSuccess" :class="'widget-loader'" :size="40"></Loader>
        <p class="widget-auth-info">
        </p>
      </Widget>
    </b-container>
    <footer class="auth-footer">
       &copy; {{ new Date().getFullYear() }} - MSGB. All rights reserved
    </footer>
  </div>
</template>

<script>

export default {
  name: 'LoginPage',
  data() {
    return {
        form: new Form({
          email: '',
          password: ''
        }),
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        loading: false,
        loginSuccess: false
    };
  },
  methods: {
    login() {
      let data = new FormData();
      data.append('email', this.form.email);
      data.append('password', this.form.password);
      this.loading = true;
      axios.post('/login', data)
             .then( (response)=> {
               if(response.data.user.role === 'admin' || response.data.user.role === 'super_admin'){
                  window.localStorage.setItem('admin-login', JSON.stringify(response.data.user));
                  window.localStorage.setItem('authenticated', true);
                  this.form.reset();
                  this.loginSuccess = true;
                  window.location.href = '/admin/#/dashboard';
               }else {
                  window.location.href = '/logout';
               }
             })
             .catch(error => this.form.errors.record(error.response.data))
             .finally(() => this.loading = false);
    },
  },
  created() {
    if (window.localStorage.getItem('authenticated') === 'true') {
      this.$router.push('/dashboard');
    }
  }
};
</script>
