.pagination {
    .page-link {
        color: #575942;
    }
    .page-item.active .page-link{
        background-color: #575942;
        border-color:#575942;
    }
}

.btn-green-1 {
    background-color: #575942;
}

.borderless td, .borderless th {
    border: none;
}

.modal-title {
    font-weight: 700;
}

.mb-200 {
    margin-bottom: 200px;
}

//breadcrumb
.breadcrumb {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
}
.breadcrumb:not(:first-child) {
    margin-top: 30px;
}
.breadcrumb_link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--color-text);
}
.breadcrumb_link:not(:first-child) {
    margin-left: 8px;
}
.breadcrumb_link:hover {
    color: var(--color-primary);
}
.breadcrumb_link_icon {
    flex: 0 0 auto;
    margin-left: 8px;
    font-size: 13px;
}
.breadcrumb_active {
    margin-left: 8px;
    white-space: nowrap;
    color: var(--color-secondary);
}