.shop-sidebar_search {
    background-color: #ffffff;
}

.middle-icon {
    vertical-align: middle;
}

.vgt-table thead th, .vgt-wrap__footer {
    background: #99a285 !important;
    color: #fff !important;
}
.footer__navigation__info {
    color: #fff !important;
}

.vgt-wrap__footer .footer__navigation__page-btn {
    color: #fff !important;
}