<template>
  <router-view />
</template>

<script>
export default {
  name: 'App',
  created() {
    const currentPath = this.$router.history.current.path;
    if (window.localStorage.getItem('authenticated') === 'false' ||
        window.localStorage.getItem('authenticated') === null ) {
      this.$router.push('/login');
    }else{
      if (currentPath === '/' ) {
        this.$router.push('/dashboard');
      }
    }

  },
};
</script>