<template>
    <div>
        <div class="section section-top-blackgroud">
            <div class="container">
                <div class="section-top-blackgroud_inner">

                </div>
            </div>
        </div>
        <div class="section section-custom-13">
            <div class="container">
                <!-- Headline -->
                <div class="headline">
                    <h1 class="headline_title">About us</h1>
                    <p class="headline_summary">
						แบรนด์มิสกิ๊บ หรือ เอ็ม เอส กิ๊บ
					</p>
					<p>เป็นแบรนด์สกินแคร์ธรรมชาติที่ผลิตมา
                        “เพื่อผู้ที่มีผิวแพ้ง่ายโดยเฉพาะ”</p>

                </div>
                <!-- Headline End -->
                <!-- Breadcrumb -->
                <div class="breadcrumb">
                    <a class="breadcrumb_link" href="/">
                        <span class="breadcrumb_link_text">Home</span>
                        <span class="breadcrumb_link_icon icon is-arrow-right2"></span>
                    </a>
                    <span class="breadcrumb_active">About us</span>
                </div>
                <!-- Breadcrumb End -->
            </div>
        </div>
        <!-- Section Headline End -->
        <!-- Section Text -->
        <div class="section">
            <div class="container">
                <div class="grid">
                    <div class="grid_row is-60 is-xl-120">
                        <div class="grid_col is-12 is-lg-6" data-aos="ntr-fade-up" data-aos-once="true">
                            <h3>Our mission</h3>
                            <p>การคิดสูตรเฉพาะภายใต้ผลิตภัณฑ์ของแบรนด์
								ได้นำสารสกัดคุณภาพสูงจากธรรมชาติ
								เน้นให้ผู้ใช้สัมผัสถึงเนื้อและสารสกัดจริง
								ผลิตภัณฑ์ทุกชิ้นที่ผลิตภายใต้แบรนด์เราปราศจาก
								การแต่งสีสังเคราะห์หรือแต่งกลิ่นน้ำหอมใดๆ
								เน้นการใส่สารสกัดเปอร์เซ็นต์ที่สูงและ
								เน้นผลลัพธ์ที่ดีที่สุดเพื่อผิวแพ้ง่าย</p>
                        </div>
                        <div class="grid_col is-12 is-lg-6" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="200">
                            <h3>Our vision</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et sapien velit. Quisque id sagittis odio. In pulvinar ex vitae viverra aliquam. Vestibulum vitae dapibus nulla. Aliquam erat volutpat. Ut at vulputate diam, posuere interdum risus. Etiam mollis, sapien quis pulvinar tempus, massa mi vestibulum tellus, in aliquam sem eros quis enim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        	<!-- Section Text End -->
	<!-- Section Photos -->
	<div class="section">
		<!-- Slider Photos -->
		<div class="slider-photos" data-ntr-slider-photos data-ntr-lightbox='{"type":"gallery","selector":".slider-photos_item"}'>
			<div class="slick-slider">
				<div class="slick-slide"  v-for="aboutBrand_img in img_aboutbrand" :key="aboutBrand_img.id">
					<a class="slider-photos_item" :href="'/img/about/' + aboutBrand_img.img_name" title="Photo Name">
						<span class="aspect-ratio is-4x3">
							<img class="aspect-ratio_object lazyload"
							:src="'/img/about/' + aboutBrand_img.img_name" :data-srcset="'/img_about/' + aboutBrand_img.img_name + ' 1x, /img/about/' + aboutBrand_img.img_name + ' 2x'" alt="Photo Name">
						</span>
					</a>
				</div>
			</div>
		</div>
		<!-- Slider Photos End -->
	</div>
	<!-- Section Photos End -->
	<!-- Section Team -->
	<div class="section">
		<div class="container">
			<!-- Heading -->
			<div class="heading" data-aos="ntr-fade-up" data-aos-once="true">
				<h2 class="heading_title">Our Team</h2>
				<p class="heading_text">This is Msgyb Brand Team</p>
			</div>
			<!-- Heading End -->
			<!-- Team Members -->
			<div class="grid">
				<div class="grid_row is-40">
					<div class="grid_col is-12 is-sm-6 is-lg-4" data-aos="ntr-fade-up" data-aos-once="true"
						v-for="user in users" :key="user.id"
					>
						<!-- Team Member -->
						<a class="team-member hover-up" href="#">
							<span class="aspect-ratio is-4x5">
								<img class="aspect-ratio_object lazyload" 
									src="/image/public/default/0/blank.gif" 
									:data-srcset="user.path_img + ' 1x,' + user.path_img + ' 2x'"  
									:alt="user.nickname">
							</span>
							<span class="team-member_info">
								<span class="team-member_name">{{user.nickname}}</span>
								<span class="team-member_title">{{user.firstname}} {{user.lastname}}</span>
							</span>
						</a>
						<!-- Team Member End -->
					</div>
				</div>
			</div>
			<!-- Team Members End -->
		</div>
	</div>
	<!-- Section Team End -->
	<!-- Section Logos -->
	<!-- <div class="section">
		<div class="container">
			<div class="heading" data-aos="ntr-fade-up" data-aos-once="true">
				<h2 class="heading_title">Our Farmers</h2>
				<p class="heading_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="slider-logos" data-ntr-slider-logos>
				<div class="slick-slider">
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-1-400x400.jpg 1x, assets/img/farmer-logo-1-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-2-400x400.jpg 1x, assets/img/farmer-logo-2-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-3-400x400.jpg 1x, assets/img/farmer-logo-3-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-4-400x400.jpg 1x, assets/img/farmer-logo-4-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-5-400x400.jpg 1x, assets/img/farmer-logo-5-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-6-400x400.jpg 1x, assets/img/farmer-logo-6-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-7-400x400.jpg 1x, assets/img/farmer-logo-7-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
					<div class="slick-slide">
						<div class="slider-logos_item">
							<span class="aspect-ratio is-1x1">
								<img class="aspect-ratio_object lazyload" src="assets/img/blank.gif" data-srcset="assets/img/farmer-logo-8-400x400.jpg 1x, assets/img/farmer-logo-8-800x800.jpg 2x" alt="Farmer Name">
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Section Logos End -->
	<!-- Section Testimonials -->
	<div class="section section-custom-3">
		<div class="container">
			<div class="grid">
				<div class="grid_row">
					<div class="grid_col is-xl-7" data-aos="ntr-fade-up" data-aos-once="true">
						<!-- Slider Testimonials -->
						<div class="slider-testimonials" data-ntr-slider-testimonials>
							<h2 class="slider-testimonials_title">Testimonials</h2>
							<div class="slick-slider">
								<div class="slick-slide">
									<div class="slider-testimonials_item">
										<div class="slider-testimonials_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel purus fringilla, lobortis libero ut, interdum lacus. Ut quis urna sollicitudin, iaculis dolor sed, sodales mi. Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo. Sed eget massa sit amet nunc egestas tristique.</div>
										<div class="slider-testimonials_item_user">
											<div class="slider-testimonials_item_user_name">Tiana Mcdonnell</div>
											<div class="slider-testimonials_item_user_title">Sales Manager</div>
										</div>
									</div>
								</div>
								<div class="slick-slide">
									<div class="slider-testimonials_item">
										<div class="slider-testimonials_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel purus fringilla, lobortis libero ut, interdum lacus. Ut quis urna sollicitudin, iaculis dolor sed, sodales mi. Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo. Sed eget massa sit amet nunc egestas tristique.</div>
										<div class="slider-testimonials_item_user">
											<div class="slider-testimonials_item_user_name">Terry Figueroa</div>
											<div class="slider-testimonials_item_user_title">Marketing Manager</div>
										</div>
									</div>
								</div>
								<div class="slick-slide">
									<div class="slider-testimonials_item">
										<div class="slider-testimonials_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel purus fringilla, lobortis libero ut, interdum lacus. Ut quis urna sollicitudin, iaculis dolor sed, sodales mi. Proin a velit convallis, fermentum orci in, rutrum diam. Duis elementum odio a pharetra commodo. Sed eget massa sit amet nunc egestas tristique.</div>
										<div class="slider-testimonials_item_user">
											<div class="slider-testimonials_item_user_name">Kaycee Hess</div>
											<div class="slider-testimonials_item_user_title">Human Resources</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slider Testimonials End -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Section Testimonials End -->
	<!-- Section Counters -->
	<div class="section">
		<div class="container">
			<!-- Heading -->
			<div class="heading" data-aos="ntr-fade-up" data-aos-once="true">
				<h2 class="heading_title">Numbers</h2>
				<p class="heading_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<!-- Heading End -->
			<!-- Counters -->
			<div class="grid">
				<div class="grid_row is-60 is-lg-120">
					<div class="grid_col is-12 is-md-4" data-aos="ntr-fade-up" data-aos-once="true">
						<!-- Counter -->
						<div class="counter" data-ntr-counter='{"from":0, "to":276, "speed":5000, "refreshInterval":100}'>
							<div class="counter_number">276</div>
							<div class="counter_title">Skilled<br>Professionals</div>
						</div>
						<!-- Counter End -->
					</div>
					<div class="grid_col is-12 is-md-4" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="200">
						<!-- Counter -->
						<div class="counter" data-ntr-counter='{"from":0, "to":37428, "speed":5000, "refreshInterval":100}'>
							<div class="counter_number">37428</div>
							<div class="counter_title">Happy<br>Customers</div>
						</div>
						<!-- Counter End -->
					</div>
					<div class="grid_col is-12 is-md-4" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="400">
						<!-- Counter -->
						<div class="counter" data-ntr-counter='{"from":0, "to":45861, "speed":5000, "refreshInterval":100}'>
							<div class="counter_number">45861</div>
							<div class="counter_title">Orders<br>Delivered</div>
						</div>
						<!-- Counter End -->
					</div>
				</div>
			</div>
			<!-- Counters End -->
		</div>
	</div>
    </div>
</template>

<script>
export default {
    data() {
		return {
			img_aboutbrand : [
				{
					img_name: 'about1.jpg'
				},
				{
					img_name: 'about2.jpg'
				},
				{
					img_name: 'about3.jpg'
				},
		
			]
		}
	},
	props : [
        'users'
	],
	created() {
		// console.log(this.users);
	}
}
</script>

