<template>
    <div>
        <div class="container">
            <div class="row">
                <div style="margin-top:200px;">
                    <div class="vuetable-body-wrapper">
                        <vuetable ref="vuetable"
                            :css="this.css[0]"
                            api-url="/api-front/api-users"
                            :fields= "fields"
                            :per-page="this.perPage"
                            pagination-path="pagination"

                        >
                            <div slot="actions">
                                <div class="custom-actions" slot="actions" scope="props">
                                    <b-button size="sm" class="mr-2"  variant="outline-success" @click="submitBtn()">
                                            รับ
                                    </b-button>
                                    <b-button size="sm" class="mr-2" variant="outline-danger" @click="deleteBtn()">
                                            ไม่รับ
                                    </b-button>
                                </div>
                            </div>
                        </vuetable>
                        <div style="padding-top:10px">
                            <vuetable-pagination ref="pagination"
                                @vuetable-pagination:change-page="onChangePage"
                            ></vuetable-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- table theme -->
        <div class="container" :user="user">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <div v-if="$isMobile()"> -->
                        <div class="table-responsive">
                             <!-- <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="is-photo">ชื่อ-นามสกุล</th>
                                        <th class="is-name">สินค้า</th>
                                        <th>ตำแหน่ง</th>
                                        <th class="is-qty">จำนวนเปิดบิล</th>
                                        <th class="is-total">line-id</th>
                                        <th class="is-remove">จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="userData in this.userRegisterData" :key="userData.id">
                                        <td>{{ userData }}</td>
                                        <td>{{ userData.user.nickname }}</td>
                                        <td>{{ userData.level }}</td>
                                        <td>{{ userData.rate_selected }}</td>
                                        <td>{{ userData.user.line }}</td>
                                        <td>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">จัดการ</button>
                                            <button class="btn btn-danger">ไม่รับ</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">ข้อมูล User</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <li class="d-flex justify-content-center">
                                            <img
                                                class="profile-user-approve"
                                                src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_621/https://www.tingkorea.com/wp-content/uploads/2020/05/rose-face.jpg"
                                                alt=""
                                            >
                                        </li>
                                        <form action="" class="mt-30" @submit.prevent="submitRegisterForm">
                                            <div>
                                                <label for="slip_img" class="form-label">ใบเสร็จรับเงิน</label>
                                                <input class="form-control form-control-sm" id="slip_img" name="slip_img" type="file">
                                            </div>
                                            <br>
                                        <button type="submit" class="btn btn-primary">Submit</button>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end table theme -->
</template>

<script>
import Axios from 'axios';
export default {
    props: ['user'],
    data() {
        return {
            form : new Form({
                slip_img : ''
            }),
            fields: [
                 {
                    name: 'firstname',
                    title: 'ชื่อ',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                {
                    name: 'lastname',
                    title: 'นามสกุล',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                 {
                    name: 'nickname',
                    title: 'ชื่อเล่น',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                 {
                    name: 'age',
                    title: 'อายุ',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                {
                    name: 'gender',
                    title: 'เพศ',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                {
                    name: 'line_id',
                    title: 'ไลน์',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                 {
                    name: 'brandname',
                    title: 'แบรนด์ที่สมัคร',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                 {
                    name: 'level',
                    title: 'ตำแหน่งที่สมัคร',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                 {
                    name: 'dateofRegister',
                    title: 'วันที่สมัคร',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                },
                {
                    name: 'actions',
                    title: 'Actions',
                    titleClass: 'center aligned',
                    dataClass: 'center aligned'
                }
            ],
            data: [],
            user_id : '',
            userRegisterData : [],
            perPage: 1,
            css : [
                {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-bordered table-hover',
                    loadingClass: 'loading',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                    return `<i class="${classes.join(' ')}"></span>`
                    }
                },
            ]
        }
    },
    mounted() {
        this.isgetUser(this.user);
    },

    methods: {
        isgetUser(data){
            this.user_id = data[0].id
            // console.log('user_id = ' + this.user_id);
            axios.get('/api-front/api-user-register/' + this.user_id)
                .then( (res)=> {
                    // console.log('res = ' + JSON.stringify(res));
                    console.log(res.data);
                    this.userRegisterData = res.data;
                    // console.log(this.userRegisterData);
                });
        },

        submitRegisterForm() {
            console.log('loop');
            let data = new FormData();
            data.append('slip_img', this.slip_img);
            console.log(data);
        },
        onPaginationData(paginationData) {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page) {
        this.$refs.vuetable.changePage(page);
        },
        // submitBtn(rowData) {
        //     // console.log('รับสมาชิก');
        //     alert("You clicked edit on"+ JSON.stringify(this.rowData));
        //     // const status = 'approve';
        //     // Axios.post('/approve-users',status).then((response) => {
        //     //     // console.log(response);
        //     // })
        // },
        // deleteBtn() {
        //     console.log('ไม่รับ');
        // }
    },
    created() {
        // this.getBrands()
    },
}
</script>
