<template>
         <ul>
            <li class="has-sub"><a href="#">สครับอโวคาโด้ X คาเคา</a></li>
            <li><a href="shop-single-1.html">น้ำตบคาโมมายด์</a></li>
            <li><a href="shop-cart-1.html">ครีมโสมสมุนไพร</a></li>
            <li><a href="shop-checkout-1.html">มาร์กสครับแมคคาเดเมีย</a></li>
        </ul>
</template>

<script>
export default {
    name: 'Carduser',
    data() {
        return {
            carduser: {},
        }
  },
  components: {
  },
  methods : {
        getData(){
            axios.get('/api-front/carduser')
                .then( (response)=> {
                    console.log(response);
                     if(response.status==200){
                        this.carduser = response.data;  
                        // console.log(this.products);  
                    }
                }).catch(err=>{
                    console.log('error navbar get api');
                    console.log(err)
                });
        }
  },
  created() {
    this.getData();
  }
   
}
</script>