<template>
    <div>
        <!-- Section Headline -->
        <div class="section text-center mt-120 pt-120">
            <div class="container">
                <!-- Headline -->
                <div class="headline">
                    <h1 class="headline_title">Contact us</h1>
                    <!-- <p class="headline_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                </div>
                <!-- Headline End -->
                <!-- Breadcrumb -->
                <div class="breadcrumb">
                    <a class="breadcrumb_link" href="../">
                        <span class="breadcrumb_link_text">Home</span>
                        <span class="breadcrumb_link_icon icon is-arrow-right2"></span>
                    </a>
                    <span class="breadcrumb_active">Contact us</span>
                </div>
                <!-- Breadcrumb End -->
            </div>
        </div>
        <!-- Section Headline End -->
        <!-- Section Info -->
        <div class="section">
            <div class="container">
                <div class="grid">
                    <div class="grid_row is-60">
                        <div class="grid_col is-12 is-sm-6 is-xl-3 text-center" data-aos="ntr-fade-up" data-aos-once="true">
                            <h3>Address</h3>
                            <p>103/1 หมู่.3 บ้านสุพรรณ ซอย สุขสมบูรณ์ ต.ชมพู อ.สารภี เชียงใหม่ 50140</p>
                        </div>
                        <div class="grid_col is-12 is-sm-6 is-xl-3 text-center" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="200">
                            <h3>Phone</h3>
                            <p>099-1434442</p>
                        </div>
                        <div class="grid_col is-12 is-sm-6 is-xl-3 text-center" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="400">
                            <h3>E-mail</h3>
                            <p><a href="mailto:msgybthailand@gmail.com">msgybthailand@gmail.com</a></p>
                        </div>
                        <div class="grid_col is-12 is-sm-6 is-xl-3 text-center" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="600">
                            <h3>Working hours</h3>
                            <p>Monday 09:00 AM<br>Friday 05:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Info End -->
        <!-- Section Contact -->
        <div class="section">
            <div class="container">
                <!-- Contact Form -->
                <div class="contact-form" data-aos="ntr-fade-up" data-aos-once="true">
                    <div class="contact-form_map lazyload"><img src="/img/webp/contact.webp" style="width:100%; height:100%:" alt=""></div>
                    <!-- <div class="contact-form_map" data-ntr-map='{"lat":51.5216642, "lng":-0.1503573, "zoom":17, "marker":true, "hideControls":false}'></div> -->
                    <div class="contact-form_body">
                        <div class="contact-form_heading">
                            <h3>Contact Form</h3>
                            <p>Contact us for a help</p>
                        </div>
                        <form data-ntr-contact-form>
                            <div class="grid">
                                <div class="grid_row is-30">
                                    <div class="grid_col is-12 hidden" id="form-message">
                                        <!-- Alert -->
                                        <div class="alert" data-ntr-alert>
                                            <button class="alert_close" type="button">
                                                <span class="icon is-close"></span>
                                            </button>
                                        </div>
                                        <!-- Alert End -->
                                    </div>
                                    <div class="grid_col is-12">
                                        <label class="form_label">Name Surname <span class="form_label_require">*</span></label>
                                        <input class="form_control_input" type="text" name="name" placeholder="Enter your name ..." required>
                                    </div>
                                    <div class="grid_col is-12">
                                        <label class="form_label">Email Address <span class="form_label_require">*</span></label>
                                        <input class="form_control_input" type="email" name="email" placeholder="Enter your email ..." required>
                                    </div>
                                    <div class="grid_col is-12">
                                        <label class="form_label">Message <span class="form_label_require">*</span></label>
                                        <textarea class="form_control_textarea" cols="30" rows="10" name="message" placeholder="Enter your message ..." required></textarea>
                                    </div>
                                    <div class="grid_col is-12">
                                        <button class="button is-block is-grey" type="submit">
                                            <span class="button_text">Send Form</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
        <!-- Section Contact End -->
        <!-- Section Follow -->
        <div class="section">
            <div class="container">
                <!-- Heading -->
                <div class="heading" data-aos="ntr-fade-up" data-aos-once="true">
                    <h2 class="heading_title">Follow us</h2>
                    <p class="heading_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <!-- Heading End -->
                <!-- Social Icons -->
                <div class="social-icons is-centered" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="200">
                    <a href="https://facebook.com/msgybthailand" target="_blank"><img src="/img/facebook3.webp" alt="" class="social-icons_link lazyload detail-member-icon"></a>
                    <a href="https://www.instagram.com/ceo.msgyb/" target="_blank"><img src="/img/instragram.png" alt="" class="social-icons_link lazyload detail-member-icon"></a>
                    <a href="https://lin.ee/nQ39i9B" target="_blank"><img src="/img/line.png" alt="" class="social-icons_link lazyload detail-member-icon"></a>
                </div>
                <!-- Social Icons End -->
            </div>
        </div>
    </div>
</template>
<script>
export default {

}
</script>
