<template>
    <section :members="members">
        <div class="section">
            <div class="container">
                <!-- Headline -->
                <div class="headline text-center">
                    <h1 class="headline_title">MSGYB TEAM</h1>
                    <!-- <p class="headline_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                </div>
                <!-- Headline End -->
                <!-- Breadcrumb -->
                <div class="breadcrumb bg-white">
                    <a class="breadcrumb_link" href="/member">
                        <span class="breadcrumb_link_text">team</span>
                        <span class="breadcrumb_link_icon icon is-arrow-right2"></span>
                    </a>
                    <span class="breadcrumb_active">{{ members.user.nickname}}</span>
                </div>
                <!-- Breadcrumb End -->
                <!-- Photo -->
                <div class="mt-30">
                    <div class="row">
                        <div class="col-md-6">
                            <img :src="members.user.path_img" alt="About us" class="detail_img_main">
                        </div>
                        <div class="col-md-6">
                            <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                    <h2 class="display-4 sarabun">
                                        {{ members.user.nickname}}
                                    </h2>
                                    <div class="row">
                                        <div class="col-3 col-md-3"><img src="/img/facebook3.webp" alt="" class="social-icons_link icon-member detail-member-icon"></div>
                                        <div class="col-9 col-md-9"><h3 class="text-left mt-5 pt-5">{{ members.user.facebook }}</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 col-md-3"><img src="/img/instragram.png" alt="" class="social-icons_link lazyload detail-member-icon"></div>
                                        <div class="col-9 col-md-9"><h3 class="text-left mt-5 pt-5">{{ members.user.instragram }}</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 col-md-3"><img src="/img/line.png" alt="" class="social-icons_link lazyload detail-member-icon"></div>
                                        <div class="col-9 col-md-9"><h3 class="text-left mt-5 pt-5">{{ members.user.line }}</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 col-md-3"><img src="/img/phone.png" alt="" class="social-icons_link lazyload detail-member-icon"></div>
                                        <div class="col-9 col-md-9"><h3 class="text-left mt-5 pt-5">{{ members.user.phone }}</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 col-md-3"><img src="/img/location.webp" alt="" class="social-icons_link lazyload detail-member-icon"></div>
                                        <div class="col-9 col-md-9" v-if="members.user.address"><h3 class="text-left mt-5 pt-5">{{ members.user.address.province }}</h3></div>
                                    </div>
                                    <!-- <table>
                                        <tr>
                                            <td style="text-align-center">
                                                <img src="/img/facebook3.webp" alt="" class="social-icons_link icon-member detail-member-icon">

                                            </td>
                                            <td><h3>{{ members.user.facebook }}</h3></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/img/instragram.png" alt="" class="social-icons_link lazyload detail-member-icon">

                                            </td>
                                            <td><h3>{{ members.user.instragram }}</h3></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/img/line.png" alt="" class="social-icons_link lazyload detail-member-icon"></td>
                                            <td><h3>{{ members.user.line }}</h3></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="/img/phone.png" alt="" class="social-icons_link lazyload detail-member-icon">
                                            </td>
                                            <td><h3>{{ members.user.phone }}</h3></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/img/location.webp" alt="" class="social-icons_link lazyload detail-member-icon"></td>
                                            <td></td>
                                        </tr>
                                    </table> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5 pb-5">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>QRCODE LINE OFFICIAL</h2>
                            <img :src="members.user.path_qrcode_line_img" alt="" class="qr_code_img">
                        </div>
                    </div>
                </div>
                <!-- Photo End -->
            </div>
        </div>
    </section>
</template>

<script>
export default {
    props: ['members'],
	data() {
		return {

		}
	},
	methods : {

	},
}
</script>
