<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0" v-if="!loading">
                <form @submit.prevent="login">
                    <div class="form-group">
                        <input class="form_control_input"
                        :class="{ 'is-invalid' : form.errors.has('email') }"
                        type="text"
                        name="email"
                        id="email"
                        placeholder="Enter your email ..."
                        v-model="form.email"
                        required>
                        <div class="invalid-feedback" v-show="form.errors.has('email')" v-text="form.errors.get('email')"></div>
                    </div>
                    <div class="form-group">
                        <input class="form_control_input"
                        :class="{ 'is-invalid' : form.errors.has('password') }"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter your password ..."
                        v-model="form.password"
                        required>
                        <div class="invalid-feedback" v-show="form.errors.has('password')" v-text="form.errors.get('password')"></div>
                    </div>
                    <div class="form-group">                        
                        <select class="form_control_select" name="brand" v-model="form.brand">
                            <option value="">Please select products</option>
                            <option v-for="product in this.products" v-bind:key="product.id"  
                                v-bind:value="{ id: product.id, slug: product.slug }" >{{product.name}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="grid">
                                <div class="grid_row is-30 is-md-40">
                                    <div class="grid_col is-12 is-sm-6">
                                        <label class="form_check">
                                            <input class="form_control_checkbox"
                                                type="checkbox" name="remember_me" id="remember_me" v-model="form.remember_me">Remember me
                                        </label>
                                    </div>
                                    <div class="grid_col is-12 is-sm-6 sm-text-right">
                                        <a href="forgot-password-1.html" class="text-secondary">Forgot password ?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12 mt-3">
                            <div class="grid">
                                <div class="grid_row is-30 is-md-40">
                                    <div class="grid_col is-12 is-sm-12">
                                        <button class="button is-block btn-green" type="submit">
                                            <span class="button_text">LOGIN</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 text-center" v-if="loading">
                <div class="grid">
                    <div class="grid_row is-40">
                        <div class="grid_col is-12 p-5">
                            <img class="mx-auto d-block"
                                src="/image/public/default/0/loader.gif" 
                                alt="loader">
                            <p class="pt-3">Loading...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'LoginPage',
    data() {
        return {
            form: new Form({
                email: 'superadmin@admin.com',
                password: 'admin@123456',
                brand: '',
                remember_me: true
            }),
            products: null,
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            loading: false,
        };
  },
  methods: {
    login() {
      let data = new FormData();
      data.append('email', this.form.email);
      data.append('password', this.form.password);
      data.append('remember_me', this.form.remember_me);
      this.loading = true;
      axios.post('/login', data)
             .then( (response)=> {
                 console.log(response);
                if(this.form.brand != ''){
                    window.location.href = '/'+this.form.brand.slug+'/'+this.form.brand.id+'/dashboard';
                }else{
                    window.location.href = '/products';
                }
                this.form.reset();
             })
             .catch(error => {
                 this.form.errors.record(error.response.data);
                 this.loading = false;
              });
    },
    getDataBrands(){
        axios.get('/api-front/navbar')
            .then( (response)=> {
                if(response.status==200){
                    this.products = response.data;   
                }
            }).catch(err=>{
                console.log('error Brands get api');
                console.log(err);
            });
    }
  },
  created() {
    this.getDataBrands();
  }
}
</script>
