<template>
    <div>
        <div class="section section-top-blackgroud">
            <div class="container">
                <div class="section-top-blackgroud_inner">

                </div>
            </div>
        </div>
        <section class="section-member">
        <!-- Section Headline -->
        <div class="section section-custom-12">
            <div class="container">
                <!-- Headline -->
                <div class="headline">
                    <h1 class="headline_title">MSGYB TEAM</h1>
                    <!-- <p class="headline_summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                </div>
                <!-- Headline End -->
                <!-- Breadcrumb -->
                <div class="breadcrumb">
                    <a class="breadcrumb_link" href="/">
                        <span class="breadcrumb_link_text">Home</span>
                        <span class="breadcrumb_link_icon icon is-arrow-right2"></span>
                    </a>
                    <span class="breadcrumb_active">MEET MSGYB TEAM</span>
                </div>
                <!-- Breadcrumb End -->
            </div>
            <div class="mt-30">
                <img src="img/34.jpg" alt="Meet our team">
            </div>
        </div>
        <!-- Section Headline End -->
        	<!-- Section Team -->
        <div class="section">
            <div class="container">
                <!-- Heading -->
                <div class="heading" data-aos="ntr-fade-up" data-aos-once="true">
                    <h2 class="heading_title">MSGYB TEAM</h2>
                    <p class="heading_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <!-- Heading End -->
                <!-- Team Members -->
                <div class="grid">
                    <div class="grid_row is-40">
                        <div class="grid_col is-12 is-sm-6 is-lg-4"
                        v-for="member in this.displayedPosts"
                        :key="member.id"
                        data-aos="ntr-fade-up"
                        data-aos-once="true">
                            <!-- Team Member -->
                            <a class="team-member hover-up" :href="'detail-member/' + member.id">
                                <span class="aspect-ratio is-4x5">
                                    <img class="aspect-ratio_object lazyload" 
                                        :src="member.user.path_img"
                                        :data-srcset="member.user.path_img + ' 1x ,' + member.user.path_img + ' 2x'"
                            alt="Member Name">
                                </span>
                                <span class="team-member_info">
                                    <span class="team-member_name">{{ member.user.nickname }}</span>
                                    <span class="team-member_title">{{ member.text_level }}</span>
                                </span>
                            </a>
                            <!-- Team Member End -->
                        </div>
                    </div>
                     <div class="grid_row is-40">
                        <div class="grid_col is-12 ">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination float-right">
                                    <li class="page-item">
                                        <button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous </button>
                                    </li>
                                    <li class="page-item">
                                        <button type="button" class="page-link" 
                                            v-for="pageNumber in pages.slice(page-1, page+5)" 
                                            :key="pageNumber"
                                            @click="page = pageNumber"> {{pageNumber}} </button>
                                    </li>
                                    <li class="page-item">
                                        <button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                     </div>
                </div>

            </div>
        </div>
        </section>
    </div>

</template>

<script>
export default {
	props: ['members'],
	data() {
		return {
            page: 1,
			perPage: 9,
			pages: [],
		}
	},
	methods : {
        setPages () {
			let numberOfPages = Math.ceil(this.members.length / this.perPage);
			for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
			}
        },
        paginate (posts) {
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
            let to = (page * perPage);
			return  posts.slice(from, to);
		}
    },
    computed: {
		displayedPosts () {
			return this.paginate(this.members);
        }
    },
    watch: {
		members () {
            console.log('test')
			this.setPages();
		}
    },
    filters: {
		trimWords(value){
			return value.split(" ").splice(0,20).join(" ") + '...';
		}
    },
    created() {
        this.setPages();
    }
}
</script>

<style lang='scss' scoped>
button.page-link {
	display: inline-block;
}
button.page-link {
    color: #575942;
}
.pagination {
    margin-top: 40px;
}
.pagination .page-item.active .page-link {
    background-color: #575942;
    border-color: #575942;
}
.page-link:hover {
    background-color: #575942;
    border-color: #575942;
    color: #fff;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #acb1a8;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
</style>