<template>
    <section id="carduser" class="mt-5">
        <div class="row">
            <Carduser class="mx-auto d-block" :card="card" :member="member"></Carduser>
        </div>
    </section>
</template>

<script>
import Carduser from './card/Carduser';

export default {
    name: 'MemberCard',
    props : [
        'card',
        'member'
    ],
     components: {
        Carduser,
     },
    data() {
        return {
        }
    },
    mounted() {
    },
    methods : {
    }
}
</script>