<template>
    <ul>
      <li class="has-sub" v-for="product in this.products">
        <!-- <a :href="'/product/'+ product.slug + '/' + product.id">{{  product.name  }}</a> -->
        <a :href="'/product/'+ product.slug">{{  product.name  }}</a>
      </li>

        <!-- <li class="has-sub"><a href="#">สครับอโวคาโด้ X คาเคา</a></li>
        <li><a href="team-1.html">น้ำตบคาโมมายล์</a></li>
        <li><a href="team-1.html">ครีมโสมสมุนไพร</a></li>
        <li><a href="team-1.html">มาร์กสครับแมคคาเดเมีย</a></li> -->
    </ul>
</template>

<script>
import axios from 'axios';
export default {
    name: 'Product',
    data() {
    return {
      products: {},
    }
  },
  components: {
  },
  methods: {
      getData(){
        axios.get('/api-front/navbar')
            .then( (response)=> {
                 if(response.status==200){
                    this.products = response.data;   
                }
            }).catch(err=>{
                console.log('error navbar get api');
                console.log(err)
            });
    }
  },
  created() {
    this.getData();
  }
}
</script>
