<template>
    <div class="section" ref="photo-brand-detail" id="lightbox-gallery">
        <!-- แสดงรูปภาพของแต่ละแบรนด์ -->
        <div class="container">
            <div class="section-elements_heading text-center">
                <h3>Image Gallery</h3>
                <p>{{brand.eng_name}}</p>
            </div>
            <div class="grid" data-ntr-lightbox='{"type":"gallery","selector":".gallery-photo"}'>
                <div class="grid_row is-30">
                    <div v-for="photo in photos.data" :key="photo.id" class="grid_col is-12 is-sm-6 is-md-4 is-lg-3">
                        <a class="gallery-photo hover-up" :href="photo.path_img" title="Photo Name">
                            <span class="aspect-ratio is-1x1">
                                <img class="aspect-ratio_object lazyload" 
                                    src="/image/public/default/0/blank.gif" 
                                    :data-srcset="photo.path_img + ' 1x,' + photo.path_img + ' 2x'" 
                                    :alt="photo.name">
                            </span>
                            <span class="gallery-photo_caption">{{ photo.name }}</span>
                        </a>
                    </div>
                </div>
                <div class="pagination  float-right">
                    <pagination :data="photos" @pagination-change-page="getPhotos"></pagination>
                </div> 
            </div>
            <div class="grid"  v-if="photos.data &&  photos.data.length < 1 && loading != true">
                <div class="grid_row is-40">
                    <div class="grid_col is-12">
                        <div class="alert is-grey text-center">
                            <p>No Data <b>Images</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid"  v-if="!photos.data && loading != true">
                <div class="grid_row is-40">
                    <div class="grid_col is-12">
                        <div class="alert is-grey text-center">
                            <p>No Data <b>Images</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import pagination from 'laravel-vue-pagination';

export default {
    name: 'PhotoBrand',
    components: {
      pagination
    },
    props : [
        'brand',
    ],
    data() {
        return {
            loading: false,
            photos: {}
        }
    },
    mounted() {
		this.getPhotos();
    },
    methods: {
        getPhotos(page = 1) {
            this.loading = true;
            axios.get('/photos/api/'+ this.brand.id + '?page=' + page)
                .then(response => {
                    this.photos = response.data;
                })
            .finally(() => this.loading = false);

            var top = this.$refs['photo-brand-detail'].offsetTop;
            window.scrollTo(0, top);
        }
    },
}
</script>