<template>
    <div>
        <div class="section section-top-blackgroud">
            <div class="container">
                <div class="section-top-blackgroud_inner">

                </div>
            </div>
        </div>
        <div class="section " :brand="brand">
            <div class="container">
               <div class="headline text-center">
                    <h1 class="headline_title">{{brand[0].eng_name}}</h1>
                    <br>
                </div>
            </div>
            <!-- Section Deals -->
            <div class="section section-custom-2">
                <div class="container">
                    <!-- Slider Deals -->
                    <div class="slider-deals" data-ntr-slider-deals :brand="brand">
                        <div class="slider-deals_heading" data-aos="ntr-fade-up" data-aos-once="true">
                            <h2 class="slider-deals_title">{{brand[0].name}}</h2>
                            <p class="slider-deals_summary">{{brand[0].desc}}</p>
                            <p>
                                <!-- <a class="link is-color-secondary" href="shop-1.html">
                                    <span class="link_text">Shop Now</span>
                                    <span class="link_icon icon is-next"></span>
                                </a> -->
                            </p>
                        </div>
                        <div class="slider-deals_products" >
                            <!-- <pre>{{ brand[0].path_img }}</pre> -->
                            <img :src="brand[0].path_img" class="lazyload" alt="">
                            <!-- <img :src="'/img/rate/' + brand[0].slug + '/1.webp'" class="lazyload" alt=""> -->
                        </div>
                    </div>
                    <!-- Slider Deals End -->
                </div>
            </div>
	        <!-- Section Deals End -->
        </div>
    </div>

</template>

<script>
export default {
    props: ['brand'],
	data() {
		return {

		}
	},
	methods : {

	},
}
</script>
