<template>
    <div class="section">
		<!-- Section Shop Single -->
	<div class="section" data-ntr-shop-single v-if="step === 1" >
		<div class="container">
			<div class="grid">
				<div class="grid_row is-60">
					<div class="grid_col is-12 is-lg-5">
						<div class="shop-single_photos" data-ntr-lightbox='{"type":"gallery","selector":".shop-single_photos_item"}'>
							<div class="slick-slider">
								<!-- รูปหลัก -->
								<div class="slick-slide"  v-for="show_img in brand[0].brand_image">
									<a class="shop-single_photos_item" :href="'/img/rate/' + show_img.img_path" title="Product Name">
										<span class="aspect-ratio is-1x1">
											<img
											class="aspect-ratio_object lazyload"
											:src="'/img/rate' + show_img.img_path"
											:data-srcset="'/img/rate' + show_img.img_path + ' 1x, /img/rate' + show_img.img_path + ' 2x'"
											alt="Product Name">
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="shop-single_thumbnails">
							<div class="slick-slider" >
								<div class="slick-slide" v-for="show_img in brand[0].brand_image">
									<div class="shop-single_thumbnails_item">
										<span class="aspect-ratio is-1x1">
				<img class="aspect-ratio_object lazyload"
				:src="'/img/rate/' + show_img.img_path"
				:data-srcset="'/img/rate/' + show_img.img_path + ' 1x, /img/rate/' + show_img.img_path + ' 2x'"
				alt="Product Name"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_col is-12 is-lg-7" >
						<div class="shop-single_title">
							<h2>{{ brand[0].name}}</h2>
							<span class="label is-green-light">New</span>
						</div>
						<div class="shop-single_description">
							<p>{{ brand[0].desc}}</p>
						</div>
						<div class="shop-single_meta">
							<div class="shop-single_meta_item">
								<span class="shop-single_meta_item_title">MSGYB:</span>
								<span class="shop-single_meta_item_value">{{ brand[0].name }}</span>
							</div>
							<div class="shop-single_meta_item">
								<span class="shop-single_meta_item_title">Category:</span>
								<span class="shop-single_meta_item_value"><a href="#">{{ brand[0].eng_name }}</a></span>
							</div>
						</div>

						<form action="" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegisterForm1">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<b-form-select
											v-model="form.position"
											:options="options"
											size="sm" class="mt-3">
										</b-form-select>
									</div>
								</div>
							</div>
								<div class="form-group">
									<select class="custom-select custom-select-sm">
										<option selected>เลือกเรทราคาที่ต้องการเปิดบิล</option>
										<option :value="rating.id"
										v-for="rating in setRating"
										name="ratingProduct"
										v-model="form.ratingProduct"
										>จำนวน : {{ rating.set}} set ราคา : {{ rating.total_price }} บาท</option>
									</select>
								</div>
								<div class="form-group">
									<select class="custom-select  custom-select-sm">
										<option selected>เลือกแม่ทีมที่ต้องการเปิดบิล</option>
										<option value=""
										v-for="leader in filteredSubcategories"
										name="leader"
										v-model="form.leader"
										>{{ leader }}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="validatedInputGroupCustomFile" required>
										<label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="validatedInputGroupCustomFile" required>
										<label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
									</div>
								</div>
								<div class="form-group">
									<textarea class="form-control"
									placeholder="รู้อะไรเกี่ยวกับสินค้าตัวนี้บ้าง"
									id="exampleFormControlTextarea1"
									rows="3"></textarea>
								</div>
								<div class="form-group">
									<textarea class="form-control"
									placeholder="เหตุผลที่ต้องการสมัครแบรนด์"
									id="exampleFormControlTextarea1"
									rows="3"></textarea>
								</div>
									<!-- <div class="form-check mb-1 mt-2 ml-5"  v-for="rating in brand[0].price_rates" >
										<input class="form-check-input"
										type="radio"
										name="ratingProduct"
										v-model.trim="$v.form.ratingProduct.$model"
										:value="rating.id" checked>
										<label class="form-check-label shop-product_prices_current" for="exampleRadios1" style="color:#6E8A3C;">
											จำนวน : {{ rating.set}} set ราคา : {{ rating.total_price }} บาท
										</label>
									</div> -->
							<div class="form-group">
								<button class="button is-grey" type="submit">
									<span class="button_text">Next</span>
								</button>
							</div>
						</form>
						<!-- <form class="shop-single_quantity">
							<input type="text" name="quantity" value="1" data-ntr-ui-spinner='{"min":1, "max":50}'>
							<button class="button is-grey" type="submit">
								<span class="button_text">Add to Cart</span>
							</button>
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Section Shop Single End -->
	<div v-if="step === 2">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label for="inputState">เลือกแม่ทีมที่ต้องการเปิดบิล</label>
										<select id="inputState" class="form-control">
											<option selected>Please select</option>
											<option>...</option>
										</select>
									</div>
								</div>
								<div class="">
									<label for="">รูปถ่ายคู่กับสินค้า</label>
									<b-form-file class="mb-3"
										placeholder="Drop file here..."
										drop-placeholder="Drop file here..."
										ref="profile_img"
										id="profile_img"
										name="profile_img"
										>
									</b-form-file>
									<label for="">หลักฐานการสั่งซื้อ</label>
									<b-form-file class="mb-3"
										placeholder="Drop file here..."
										drop-placeholder="Drop file here..."
										ref="profile_img"
										id="profile_img"
										name="profile_img"
                                        >
                                    </b-form-file>
                                </div>
								<label for="">รู้อะไรเกี่ยวกับสินค้าตัวนี้บ้าง</label>
								<div class="form-row">
									<div class="form-group col-md-12">
										<input type="text" class="form-control">
									</div>
								</div>
								<label for="">เหตุผลที่มาสมัครแบรนด์</label>
								<div class="form-row">
									<div class="form-group col-md-12">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-row">
									<button class="btn btn-primary" style="float:left;">Back</button>
									<button class="btn btn-primary" style="float:right;">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Back up -->
			<!-- <div class="grid">
				<div class="grid_row is-40">
					<div class="grid_col is-12 is-sm-12 is-md-6 is-xl-12 d-flex justify-content-center"
					data-aos="ntr-fade-up" data-aos-once="true">
						<div class="shop-product hover-shadow">
							<div class="shop-product_photo">
								<a>
									<span class="aspect-ratio is-1x1">
										<img class="aspect-ratio_object lazyload" src="/img/pin/3.jpg" data-srcset="/img/pin/3.jpg 1x, /img/pin/3.jpg 2x" alt="Product Name">
									</span>
								</a>
							</div>
							<div class="shop-product_content">
								<div class="shop-product_body">
									<div class="shop-single_title">
										<h2 class="">Avocado X cacao</h2>
									</div>
								</div>
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div>
												<b-form-select v-model="selected" :options="options" size="sm" class="mt-3"></b-form-select>
												<div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
											</div>
										</div>
									</div>
								</div>
								<form action="" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegisterForm1">
									<div class="row">
										<div class="col-md-12">
											<div>
												<b-form-select v-model="position" :options="options" size="sm" class="mt-3"></b-form-select>
												<div class="mt-3">ตำแหน่ง: <strong>{{ position }}</strong></div>
											</div>
										</div>
									</div>
									<div class="form-check mb-1 mt-2 ml-5"  v-for="rating in setRating" >
										<input class="form-check-input"
										type="radio"
                                        name="ratingProduct"
										v-model.trim="$v.form.ratingProduct.$model"
										:value="rating.id" checked>
										<label class="form-check-label shop-product_prices_current" for="exampleRadios1" style="color:#6E8A3C;">
											จำนวน : {{ rating.set}} set ราคา : {{ rating.total_price }} บาท
										</label>
									</div>
									<button type="submit" class="btn btn-success">Next</button>
								</form>

								<div class="shop-product_footer">
									<div class="shop-product_prices">
										<span class="shop-product_prices_current">{{ rating.set }} Set &nbsp;</span>
									</div>
									<br>
									<div class="shop-product_prices">
										<span class="shop-product_prices_current">{{ rating.price }}&nbsp;บาท / set</span>
									</div>
									<br>
									<div class="shop-product_prices">
										<span class="shop-product_prices_current">Total Price : {{ rating.total_price }}&nbsp;บาท</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->


	</div>
</template>
<script>

export default {
	props : [
		'brand',
		'members',
	],
    data() {
      return {
		step:1,
		form : new Form({
			ratingProduct : '',
			position: null,
			leader : ''
		}),

        options: [
          { value: null, text: 'เลือกระดับตัวแทนที่ต้องการเปิดบิล' },
          { value: '1', text: 'ตัวแทน' },
          { value: '2', text: 'แม่ทีม' },
          { value: '3', text: 'Dealer' },
		],
		rating_product : [],
      }
	},
	submitStatusForm1: null,
	components: {
	  },

	methods : {
		// getData(){
		// 	axios.get('/api-front/rating')
		// 		.then( (response)=> {
		// 			if(response.status==200){
		// 				console.log(response);
		// 				// this.rating_product = response.data;
		// 			}
		// 		}).catch(err=>{
		// 			console.log(err)
		// 		});
		// },

	},
	computed : {
		setRating : function() {
			// console.log(this.selected);
			if(this.form.position == '1') {
				return this.brand[0].price_rates;
			} else if(this.form.position == '2') {
				return this.brand[0].price_rates.filter((item)=>item.level != 'member');
			} else if(this.form.position == '3') {
				return this.brand[0].price_rates.filter((item)=>item.level == 'dealer');
			} else {
				return;
			}
		},
		filteredSubcategories : function() {
			if(this.form.position == '1') {
				return this.members[0].user.nickname
			} else if(this.form.position == '2') {
				return this.members[0].filter((member)=> member.level == 'team_leader');
			}
		}
	},
	created() {
		// this.getData();
	}
}
</script>
