<template>
  <section>
    <div class="container">
      <form action="" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegister">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">ชื่อ</label>
              <input type="text" :class="{'is-invalid' : form.errors.has('firstname')}" 
                      class="form-control" 
                      id="firstname" 
                      name="firstname" 
                      v-model="form.firstname"
                      @keydown="form.errors.clear('firstname')"
                      >
              <div class="invalid-feedback" v-show="form.errors.has('firstname')" v-text="form.errors.get('firstname')"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">นามสกุล</label>
              <input type="text" 
              class="form-control" 
              id="lastname" 
              name="lastname" 
              v-model="form.lastname">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="nickname">ชื่อเล่น</label>
              <input type="text" class="form-control" id="nickname" name="nickname" v-model="form.nickname">
            </div>
            <div class="form-group col-md-4">
              <label for="gender">เพศ</label>
              <select id="gender" class="form-control" v-model="form.gender">
                <option selected>Choose...</option>
                <option value="1">ชาย</option>
                <option value="2">หญิง</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="age">อายุ</label>
              <input type="text" class="form-control" id="age" name="age" v-model="form.age">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">EMAIL</label>
              <input type="email" 
              class="form-control" :class="{'is-invalid' : form.errors.has('email')}" 
              id="email" 
              name="email" 
              v-model="form.email"
              @keydown="form.errors.clear('email')">
              <div class="invalid-feedback" v-show="form.errors.has('email')" v-text="form.errors.get('email')"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="phone">เบอร์โทรศัพท์</label>
              <input type="text" :class="{'is-invalid': form.errors.has('phone')}"
              class="form-control" 
              id="phone" 
              name="phone"
              v-model="form.phone"
              @keydown="form.errors.clear('phone')">
              <div class="invalid-feedback" v-show="form.errors.has('phone')" v-text="form.errors.get('phone')"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="line_id">ไอดีไลน์</label>
              <input type="text" :class="{'is-invalid' : form.errors.has('line_id')}"
              class="form-control" 
              id="line_id" 
              name="line_id" 
              v-model="form.line_id"
              @keydown="form.errors.clear('line_id')">
              <div class="invalid-feedback" v-show="form.errors.has('line_id')" v-text="form.errors.get('line_id')"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="address">ที่อยู่ตามบัตรประชาชน</label>
            </div>
            <!-- <div class="form-group col-md-6">
              <label for="sending_item_address">ที่อยู่ในการจัดส่งสินค้า</label>
              <textarea class="form-control" id="sending_item_address" rows="4"></textarea>
            </div> -->
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
                <label for="address">บ้านเลขที่</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('address')}"
                class="form-control" 
                id="address"
                name="address" 
                v-model="form.address"
                @keydown="form.errors.clear('address')">
              <div class="invalid-feedback" v-show="form.errors.has('address')" v-text="form.errors.get('address')"></div>
              </div>
               <div class="form-group col-md-2">
                <label for="swine">หมู่</label>
                <input type="text" class="form-control" id="swine" name="swine" v-model="form.swine">
              </div>
              <div class="form-group col-md-2">
                <label for="subdistrict">ตำบล</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('subdistrict')}"
                class="form-control" 
                id="subdistrict" 
                name="subdistrict" 
                v-model="form.subdistrict"
                @keydown="form.errors.clear('subdistrict')">
              <div class="invalid-feedback" v-show="form.errors.has('subdistrict')" v-text="form.errors.get('subdistrict')"></div>
              </div>
              <div class="form-group col-md-2">
                <label for="district">อำเภอ</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('district')}"
                class="form-control" 
                id="district" 
                name="district" 
                v-model="form.district"
                @keydown="form.errors.clear('district')">
              <div class="invalid-feedback" v-show="form.errors.has('district')" v-text="form.errors.get('district')"></div>
              </div>
              <div class="form-group col-md-2">
                <label for="province">จังหวัด</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('province')}"
                class="form-control" 
                id="province" 
                name="province" 
                v-model="form.province"
                @keydown="form.errors.clear('province')">
              <div class="invalid-feedback" v-show="form.errors.has('province')" v-text="form.errors.get('province')"></div>
              </div>
              <div class="form-group col-md-2">
                <label for="zipcode">รหัสไปรษณีย์</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('zipcode')}"
                class="form-control" 
                id="zipcode" 
                name="zipcode" 
                v-model="form.zipcode"
                @keydown="form.errors.clear('zipcode')">
              <div class="invalid-feedback" v-show="form.errors.has('zipcode')" v-text="form.errors.get('zipcode')"></div>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="">ที่อยู่ในการจัดส่งสินค้า</label>
            </div>
            <div class="form-group col-md-2">
                <label for="sending_item_address">บ้านเลขที่</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('sending_item_address')}"
                class="form-control"
                id="sending_item_address" 
                name="sending_item_address"
                v-model="form.sending_item_address"
                @keydown="form.errors.clear('sending_item_address')">
              <div class="invalid-feedback" v-show="form.errors.has('sending_item_address')" v-text="form.errors.get('sending_item_address')"></div>
              </div>
               <div class="form-group col-md-2">
                <label for="sending_item_swine">หมู่</label>
                <input type="text" class="form-control" id="sending_item_swine" name="sending_item_swine"
                v-model="form.sending_item_swine">
              </div>
              <div class="form-group col-md-2">
                <label for="sending_item_subdistrict">ตำบล</label>
                <input type="text" 
                class="form-control" :class="{'is-invalid': form.errors.has('sending_item_subdistrict')}"
                id="sending_item_subdistrict" 
                name="sending_item_subdistrict"
                v-model="form.sending_item_subdistrict"
                @keydown="form.errors.clear('sending_item_subdistrict')">
              <div class="invalid-feedback" v-show="form.errors.has('sending_item_subdistrict')" v-text="form.errors.get('sending_item_subdistrict')"></div>
              </div>
              <div class="form-group col-md-2">
                <label for="sending_item_district">อำเภอ</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('sending_item_district')}"
                class="form-control" 
                id="sending_item_district" 
                name="sending_item_district"
                v-model="form.sending_item_district"
                @keydown="form.errors.clear('sending_item_district')">
              <div class="invalid-feedback" v-show="form.errors.has('sending_item_district')" v-text="form.errors.get('sending_item_district')"></div>
              </div>
              <div class="form-group col-md-2">
                <label for="sending_item_province">จังหวัด</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('sending_item_province')}"
                class="form-control" 
                id="sending_item_province" 
                name="sending_item_province"
                v-model="form.sending_item_province"
                @keydown="form.errors.clear('sending_item_province')">
              <div class="invalid-feedback" v-show="form.errors.has('sending_item_province')" v-text="form.errors.get('sending_item_province')"></div>
              </div>
              <div class="form-group col-md-2">
                <label for="sending_item_zipcode">รหัสไปรษณีย์</label>
                <input 
                type="text" :class="{'is-invalid': form.errors.has('sending_item_zipcode')}"
                class="form-control" 
                id="sending_item_zipcode" 
                name="sending_item_zipcode"
                v-model="form.sending_item_zipcode"
                @keydown="form.errors.clear('sending_item_zipcode')">
              <div class="invalid-feedback" v-show="form.errors.has('sending_item_zipcode')" v-text="form.errors.get('sending_item_zipcode')"></div>
              </div>
          </div>
          <div class="form-row">
            <div class="input-group col-md-6">
              <label for="">แนบรูปบัตรประชาชน</label>
              <input type="file" id="idcard_img" class="form-control-file">
            </div>
            <div class="input-group col-md-6">
              <label for="">แนบรูป QR-CODE LINE</label>
              <input type="file" id="qrcode_img" class="form-control-file">
            </div>
          </div>
          <button type="submit" class="btn btn-success">สมัครสมาชิก</button>
      </form>
  </div>
  </section>
</template>

<script>
export default {
  name: 'RegisterComponent',
  data() {
        return {
            form : new Form({
                firstname : '',
                lastname : '',
                nickname : '',
                gender : '',
                age : '',
                email : '',
                phone : '',
                line_id : '',
                address : '',
                swine : '',
                subdistrict : '',
                district : '',
                province : '',
                zipcode : '',
                sending_item_address : '',
                sending_item_swine : '',
                sending_item_subdistrict : '',
                sending_item_district : '',
                sending_item_province : '',
                sending_item_zipcode : '',
            })
        }
    },
    methods: {
      submitRegister() {
        let data = new FormData();
        data.append('firstname', this.form.firstname);
        data.append('lastname', this.form.lastname);
        data.append('nickname', this.form.nickname);
        data.append('gender', this.form.gender);
        data.append('age', this.form.age);
        data.append('email', this.form.email);
        data.append('phone', this.form.phone);
        data.append('line_id', this.form.line_id);
        data.append('address', this.form.address);
        data.append('swine', this.form.swine);
        data.append('subdistrict', this.form.subdistrict);
        data.append('district', this.form.district);
        data.append('province', this.form.province);
        data.append('zipcode', this.form.zipcode);
        data.append('sending_item_address', this.form.sending_item_address);
        data.append('sending_item_swine', this.form.sending_item_swine);
        data.append('sending_item_subdistrict', this.form.sending_item_subdistrict);
        data.append('sending_item_district', this.form.sending_item_district);
        data.append('sending_item_province', this.form.sending_item_province);
        data.append('sending_item_zipcode', this.form.sending_item_zipcode);
        // if(document.getElementById('cardid_img').file[0]){data.append('cardid_img', document.getElementById('cardid_img').file[0])}
        // if(document.getElementById('qrcode_img').file[0]){data.append('qrcode_img', document.getElementById('qrcode_img').file[0])}

        axios.post('/register',data)
        .then( (response)=> {
          this.form.reset();
        })
        .catch(error => this.form.errors.record(error.response.data));
      }
    }
}


</script>
