<template>
    <body id="formRegis">
        <div class="form-register mb-5">
            <div class="wrapper">
                <form action="" id="wizard" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegister">
                    <!-- SECTION 1 -->
                    <h2></h2>
                    <section>
                        <div class="inner">
                            <div class="image-holder">
                                <img src="/img/pin/3.jpg" alt="">
                            </div>
                            <div class="form-content" >
                                <div class="form-header">
                                    <h3>Registration</h3>
                                </div>
                                <p>Please fill with your details</p>
                                <div class="form-row">
                                    <div class="form-group pr-1">
                                        <input type="text"
                                        placeholder="First Name" 
                                        class="form-control"
                                        id="firstname" 
                                        name="firstname" 
                                        v-model="form.firstname"
                                        
                                        >
                                    </div>
                                    <div class="form-group pr-1">
                                        <input type="text" 
                                        placeholder="Last Name" 
                                        class="form-control"
                                        id="lastname" 
                                        name="lastname" 
                                        v-model="form.lastname">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group pr-1">
                                        <input type="text" placeholder="Nick Name" class="form-control">
                                    </div>
                                    <div class="form-group pr-1">
                                        <input type="text" placeholder="Your Email" class="form-control">
                                    </div>
                                    
                                </div>
                                <div class="form-row">
                                    <div class="form-group pr-1">
                                        <input type="text" placeholder="Phone Number" class="form-control">
                                    </div>
                                    <div class="form-group pr-1">
                                        <input type="text" placeholder="Age" class="form-control">
                                    </div>
                                    <div class="form-group" style="align-self: flex-end; transform: translateY(4px);">
                                        <div class="checkbox-tick">
                                            <label class="male">
                                                <input type="radio" name="gender" value="male" checked> Male<br>
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="female">
                                                <input type="radio" name="gender" value="female"> Female<br>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 2 -->
                    <h2></h2>
                    <section>
                        <div class="inner">
                            <div class="image-holder">
                                <img src="/img/pin/4.jpg" alt="">
                            </div>
                            <div class="form-content">
                                <div class="form-header">
                                    <h3>Registration</h3>
                                </div>
                                <p>Please fill with additional info</p>
                                <div class="form-row">
                                    <div class="form-group w-100">
                                        <input type="text" placeholder="Address" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="text" placeholder="City" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Zip Code" class="form-control">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="select">
                                        <div class="form-group">
                                            <div class="select-control">Your country</div>
                                            <i class="zmdi zmdi-caret-down"></i>
                                        </div>
                                        <ul class="dropdown">
                                            <li rel="United States">United States</li>
                                            <li rel="United Kingdom">United Kingdom</li>
                                            <li rel="Viet Nam">Viet Nam</li>
                                        </ul>
                                    </div>
                                    <div class="form-group"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- SECTION 3 -->
                    <h2></h2>
                    <section>
                        <div class="inner">
                            <div class="image-holder">
                                <!-- <img src="images/form-wizard-3.jpg" alt=""> -->
                            </div>
                            <div class="form-content">
                                <div class="form-header">
                                    <h3>Registration</h3>
                                </div>
                                <p>Send an optional message</p>
                                <div class="form-row">
                                    <div class="form-group w-100">
                                        <textarea name="" id="" placeholder="Your messagere here!" class="form-control" style="height: 99px;"></textarea>
                                    </div>
                                </div>
                                <div class="checkbox-circle mt-24">
                                    <label>
                                        <input type="checkbox" checked>  Please accept <a href="#">terms and conditions ?</a>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </body>
</template>


<script>

export default {
  name: 'RegisterComponent',
  data() {
      return {
            form : new Form({
                firstname : '',
                lastname : '',
                nickname : '',
                gender : '',
                age : '',
                email : '',
                phone : '',
                line_id : '',
                address : '',
                swine : '',
                subdistrict : '',
                district : '',
                province : '',
                zipcode : '',
                sending_item_address : '',
                sending_item_swine : '',
                sending_item_subdistrict : '',
                sending_item_district : '',
                sending_item_province : '',
                sending_item_zipcode : '',
            })
        }
  },
  components: { 
    },
  methods: {
      
    //   submitRegister() {
    //     let data = new FormData();
    //     data.append('firstname', this.form.firstname);
    //     data.append('lastname', this.form.lastname);
    //     data.append('nickname', this.form.nickname);
    //     data.append('gender', this.form.gender);
    //     data.append('age', this.form.age);
    //     data.append('email', this.form.email);
    //     data.append('phone', this.form.phone);
    //     data.append('line_id', this.form.line_id);
    //     data.append('address', this.form.address);
    //     data.append('swine', this.form.swine);
    //     data.append('subdistrict', this.form.subdistrict);
    //     data.append('district', this.form.district);
    //     data.append('province', this.form.province);
    //     data.append('zipcode', this.form.zipcode);
    //     data.append('sending_item_address', this.form.sending_item_address);
    //     data.append('sending_item_swine', this.form.sending_item_swine);
    //     data.append('sending_item_subdistrict', this.form.sending_item_subdistrict);
    //     data.append('sending_item_district', this.form.sending_item_district);
    //     data.append('sending_item_province', this.form.sending_item_province);
    //     data.append('sending_item_zipcode', this.form.sending_item_zipcode);
    //     // if(document.getElementById('cardid_img').file[0]){data.append('cardid_img', document.getElementById('cardid_img').file[0])}
    //     // if(document.getElementById('qrcode_img').file[0]){data.append('qrcode_img', document.getElementById('qrcode_img').file[0])}

    //     // axios.post('/register',data)
    //     // .then( (response)=> {
    //     //   this.form.reset();
    //     // })
    //     // .catch(error => this.form.errors.record(error.response.data));
    //   }
  },
//   created() {
//     require('./jquery.steps.js');
//     require('./main.js');
//   }
};
</script>
