<template>
<div>
     <div class="section section-top-blackgroud">
        <div class="container">
            <div class="section-top-blackgroud_inner">

            </div>
        </div>
    </div>
    <div class="pb-120">
        <div v-if="step === 1" class="pt-120">
            <div class="flex justify-content-md-center setmargin-1920">
                <div class="col-sm-12 col-md-8">
                    <div class="card border-none-register">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-xl-5 col-md-12 col-sm-12 pr-xl-0 padding0 pr-0">
                                    <div class="image-holder">
                                        <img src="/img/pin/3.jpg" class="register-image-step1" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-7 col-md-12 col-sm-12 pl-xl-0">
                                    <div class="form-content margin-only-formbox p-md-3 p-sm-5 p-sm-60" >
                                        <div class="form-header">
                                            <h3 class="d-flex justify-content-center header-register">Registration</h3>
                                        </div>
                                        <form action="" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegisterForm1">
                                            <div class="form-row">
                                                <div class="form-group col-md-6 pr-1" >
                                                    <input type="text" class="form-control input-create" :class="{ 'form-group--error': $v.user.firstname.$error }"
                                                    placeholder="ชื่อ"
                                                    id="firstname"
                                                    name="firstname"
                                                    v-model.trim="$v.user.firstname.$model">
                                                    <div class="error" v-if="submitStatusForm1 === 'ERROR'  && !$v.user.firstname.required">กรุณากรอกชื่อ</div>
                                                    <!-- <div class="error" v-if="!$v.firstname.minLength">Name must have at least {{$v.firstname.$params.minLength.min}} letters.</div> -->
                                                </div>

                                                <div class="form-group col-md-6 pr-1" :class="{ 'form-group--error': $v.user.lastname.$error }">
                                                    <input type="text"
                                                    class="form-control input-create"
                                                    id="lastname"
                                                    name="lastname"
                                                    placeholder="นามสกุล"
                                                    v-model.trim="$v.user.lastname.$model">
                                                    <div class="error" v-if="submitStatusForm1 === 'ERROR'  && !$v.user.lastname.required">กรุณากรอกนามสกุล</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6 col-6 pr-1" :class="{ 'form-group--error': $v.user.nickname.$error }">
                                                    <input type="text" placeholder="ชื่อเล่น"
                                                    class="form-control input-create"
                                                    id="nickname"
                                                    name="nickname"
                                                    v-model.trim="$v.user.nickname.$model">
                                                    <div class="error" v-if="submitStatusForm1 === 'ERROR'  && !$v.user.nickname.required">กรุณากรอกชื่อเล่น</div>
                                                </div>
                                                <div class="form-group col-md-6 col-6">
                                                    <select class="form-control input-create"
                                                    id="gender"
                                                    name="gender"
                                                    v-model.trim="$v.user.gender.$model">
                                                        <option value="">เพศ</option>
                                                        <option value="male">ชาย</option>
                                                        <option value="female">หญิง</option>
                                                    </select>
                                                    <div class="error" v-if="submitStatusForm1 === 'ERROR'  && !$v.user.gender.required">กรุณาเลือกเพศ</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6 pr-1">
                                                    <input type="text" placeholder="อายุ"
                                                    class="form-control input-create"
                                                    id="age"
                                                    name="age"
                                                    v-model.trim="$v.user.age.$model">
                                                </div>
                                                <div class="form-group col-md-6 pr-1">
                                                    <input type="text" placeholder="เบอร์โทรศัพท์"
                                                    class="form-control input-create"
                                                    id="phone"
                                                    name="phone"
                                                    v-model.trim="$v.user.phone.$model">
                                                    <div class="error" v-if="submitStatusForm1 === 'ERROR'  && !$v.user.phone.required">กรุณากรอกเบอร์โทรศัพท์</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <label for="formFileSm" class="form-label input-create">รูปสำหรับบัตรตัวแทน</label>
                                                <input type="file" class="form_control_file"
                                                placeholder="รูปสำหรับบัตรตัวแทน"
                                                drop-placeholder="Drop file here..."
                                                ref="profile_img"
                                                id="profile_img"
                                                name="profile_img"
                                                accept="image/*"
                                                @change="imageProfileChanged($event)"
                                                >
                                                <div class="error" v-if="submitStatusForm1 === 'ERROR'  && !$v.user.profile_img.required">กรุณาอัพโหลดรูปสำหรับบัตรตัวแทน</div>
                                                <div class="error" v-if="submitStatusForm1 === 'ERROR'  && !$v.user.profile_img.file_size_validation">ไฟล์รูปของคุณขนาดใหญ่เกินไป</div>
                                            </div>
                                            <br>
                                            <!-- <button type="submit" class="btn btn-success submit-btn" @click.prevent="next()">Next</button> -->
                                            <button type="submit" class="btn btn-success" :disabled="submitStatusForm1 === 'PENDING'">Next</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- form2 -->
            <div v-if="step === 2" class="mt-120 pt-120">
                <div class="row justify-content-md-center setmargin-1920">
                    <div class="col-md-8">
                        <div class="card border-none-register">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-xl-5 col-sm-12 pr-xl-0 padding0">
                                        <div class="image-holder">
                                            <img src="/img/pin/20_1.jpg" class="register-image-step1" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-sm-12 pl-xl-0">
                                        <div class="form-content margin-only-formbox  p-md-3 p-sm-5 p-sm-60" >
                                            <div class="form-header">
                                                <h3 class="d-flex justify-content-center header-register">Contact</h3>
                                            </div>
                                            <form action="" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegisterForm2">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 pr-1" :class="{ 'form-group--error': $v.user.email.$error }">
                                                        <input type="text" placeholder="Email Address"
                                                        class="form-control input-create"
                                                        id="email"
                                                        name="email"
                                                        v-model.trim="$v.user.email.$model">
                                                        <div class="error" v-if="submitStatusForm2 === 'ERROR'  && !$v.user.email.required">กรุณกรอก Email Address</div>
                                                        <div class="error" v-if="!$v.user.email.email">รูปแบบ Email ไม่ถูกต้อง</div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                <div class="form-group col-md-12 pr-1">
                                                        <input type="password" placeholder="รหัสผ่าน"
                                                        class="form-control input-create"
                                                        id="password"
                                                        name="password"
                                                        v-model.trim="$v.user.password.$model">
                                                        <div class="error" v-if="submitStatusForm2 === 'ERROR'  && !$v.user.password.required">กรุณกรอกรหัสผ่าน</div>
                                                        <div class="error" v-if="submitStatusForm2 === 'ERROR'  && !$v.user.password.minLength">รหัสผ่านต้องประกอบไปด้วยตัวอักษรและตัวเลข จํานวน6-16 ตัวอักษร</div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                <div class="form-group col-md-12 pr-1">
                                                        <input type="password" placeholder="ยืนยันรหัสผ่าน"
                                                        class="form-control input-create"
                                                        id="repeatPassword"
                                                        name="repeatPassword"
                                                        v-model.trim="$v.user.repeatPassword.$model">
                                                        <div class="error" v-if="submitStatusForm2 === 'ERROR'  && !$v.user.repeatPassword.sameAsPassword">รหัสผ่านไม่ตรงกัน</div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6 pr-1">
                                                        <input type="text" placeholder="LINE ID"
                                                        class="form-control input-create"
                                                        id="lineid"
                                                        name="lineid"
                                                        v-model.trim="$v.user.lineid.$model">
                                                        <div class="error" v-if="submitStatusForm2 === 'ERROR'  && !$v.user.lineid.required">กรุณกรอก LINE ID</div>
                                                    </div>
                                                    <div class="form-group col-md-6 pr-1">
                                                        <input type="text" placeholder="FACEBOOK"
                                                        class="form-control input-create"
                                                        id="facebook"
                                                        name="facebook"
                                                        v-model.trim="$v.user.facebook.$model">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 pr-1">
                                                        <input type="text" placeholder="INSTRAGRAM"
                                                        class="form-control input-create"
                                                        id="instragram"
                                                        name="instragram"
                                                        v-model.trim="$v.user.instragram.$model">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <label for="formFileSm" class="form-label input-create">QRCODE LINE OFFICEIAL</label>
                                                    <input type="file" class="form_control_file "
                                                    placeholder="QRCODE LINE OFFICEIAL"
                                                    drop-placeholder="Drop file here..."
                                                    ref="qrcodeline_img"
                                                    id="qrcodeline_img"
                                                    name="qrcodeline_img"
                                                    @change="imageLineChanged($event)"
                                                    accept="image/*">
                                                    <div class="error" v-if="submitStatusForm2 === 'ERROR'  && !$v.user.qrcodeline_img.file_size_validation">ไฟล์รูปของคุณขนาดใหญ่เกินไป</div>
                                                </div>
                                                <br>
                                                <button @click.prevent="prev()" class="btn btn-success submit-btn">Previous</button>
                                                <button type="submit" class="btn btn-success submit-btn" :disabled="submitStatusForm2 === 'PENDING'">Next</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- form 3 -->
            <div v-if="step === 3" class="mt-120 pt-120">
                <div class="row justify-content-md-center setmargin-1920">
                    <div class="col-md-8">
                        <div class="card border-none-register">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-xl-5 col-sm-12 pr-xl-0 padding0">
                                        <div class="image-holder">
                                            <img src="/img/pin/20_1.jpg" class="register-image-step1" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-sm-12 pl-xl-0">
                                        <div class="form-content margin-only-formbox p-sm-60" >
                                            <div class="form-header">
                                                <h3 class="d-flex justify-content-center header-register">Address</h3>
                                            </div>
                                            <form action="" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegisterForm3">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 pr-1" >
                                                        <input type="text" class="form-control input-create" :class="{ 'form-group--error': $v.user.address.$error }"
                                                        placeholder="ที่อยู่"
                                                        id="address"
                                                        name="address"
                                                        v-model.trim="$v.user.address.$model">
                                                        <div class="error" v-if="submitStatusForm3 === 'ERROR'  && !$v.user.address.required">กรุณากรอกที่อยู่</div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6 pr-1">
                                                        <input type="text" placeholder="ตำบล / แขวง"
                                                        class="form-control input-create"
                                                        id="subdistrict"
                                                        name="subdistrict"
                                                        v-model.trim="$v.user.subdistrict.$model">
                                                        <div class="error" v-if="submitStatusForm3 === 'ERROR'  && !$v.user.subdistrict.required">กรุณากรอก ตำบล / แขวง</div>
                                                    </div>
                                                    <div class="form-group col-md-6 pr-1">
                                                        <input type="text" placeholder="อำเภอ / เขต"
                                                        class="form-control input-create"
                                                        id="district"
                                                        name="district"
                                                        v-model.trim="$v.user.district.$model">
                                                        <div class="error" v-if="submitStatusForm3 === 'ERROR'  && !$v.user.district.required">กรุณากรอก อำเภอ / เขต</div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6 pr-1" :class="{ 'form-group--error': $v.user.province.$error }">
                                                        <input type="text" placeholder="จังหวัด"
                                                        class="form-control input-create"
                                                        id="province"
                                                        name="province"
                                                        v-model.trim="$v.user.province.$model">
                                                        <div class="error" v-if="submitStatusForm3 === 'ERROR'  && !$v.user.province.required">กรุณากรอกจังหวัด</div>
                                                    </div>
                                                    <div class="form-group col-md-6 pr-1">
                                                        <input type="text" placeholder="รหัสไปรษณีย์"
                                                        class="form-control input-create"
                                                        id="zipcode"
                                                        name="zipcode"
                                                        v-model.trim="$v.user.zipcode.$model">
                                                        <div class="error" v-if="submitStatusForm3 === 'ERROR'  && !$v.user.zipcode.required">กรุณากรอกรหัสไปรษณีย์</div>
                                                    </div>
                                                </div>
                                                <br>
                                                <button @click.prevent="prev()" class="btn btn-success submit-btn">Previous</button>
                                                <button type="submit" class="btn btn-success submit-btn" :disabled="submitStatusForm3 === 'PENDING'">Next</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- form 4 -->
        <!-- v-if="step === 4" class="mt-120 pt-120" -->
            <div v-if="step === 4" class="mt-120 pt-120">
                <div class="row justify-content-md-center setmargin-1920">
                    <div class="col-md-8">
                        <div class="card border-none-register">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-xl-5 col-sm-12 padding0">
                                        <div class="image-holder">
                                            <img src="/img/pin/20_1.jpg" class="register-image-step1" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-sm-12 pl-md-0">
                                        <b-overlay :show="loading" rounded="sm" opacity="0.5">
                                        <div class="form-content margin-only-formbox p-sm-60" >
                                            <div class="form-header">
                                                <h3 class="d-flex justify-content-center header-register">Delivery address</h3>
                                            </div>
                                                <form action="" method="POST" enctype="multipart/form-data" @submit.prevent="submitRegisterForm4">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12 pr-1">
                                                            <b-form-checkbox
                                                                id="checkbox-sameaddress"
                                                                v-model="sameAddress"
                                                                name="checkbox-sameaddress"
                                                                class="input-create"
                                                                :value="true"
                                                                :unchecked-value="false"
                                                                @change="checkSameAddress()"
                                                                >
                                                                ใช้ที่อยู่เดียวกับที่อยู่ปัจจุบัน
                                                            </b-form-checkbox>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12 pr-1" >
                                                            <input type="text" class="form-control input-create" :class="{ 'form-group--error': $v.user.delivery_address.$error }"
                                                            placeholder="ที่อยู่"
                                                            id="delivery_address"
                                                            name="delivery_address"
                                                            :disabled="sameAddress"
                                                            v-model.trim="$v.user.delivery_address.$model">
                                                            <div class="error" v-if="submitStatusForm4 === 'ERROR'  && !$v.user.delivery_address.required">กรุณากรอกที่อยู่</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 pr-1">
                                                            <input type="text" placeholder="ตำบล / แขวง"
                                                            class="form-control input-create"
                                                            id="delivery_subdistrict"
                                                            name="delivery_subdistrict"
                                                            :disabled="sameAddress"
                                                            v-model.trim="$v.user.delivery_subdistrict.$model">
                                                            <div class="error" v-if="submitStatusForm4 === 'ERROR'  && !$v.user.delivery_subdistrict.required">กรุณากรอก ตำบล / แขวง</div>
                                                        </div>
                                                        <div class="form-group col-md-6 pr-1">
                                                            <input type="text" placeholder="อำเภอ / เขต"
                                                            class="form-control input-create"
                                                            id="delivery_district"
                                                            name="delivery_district"
                                                            :disabled="sameAddress"
                                                            v-model.trim="$v.user.delivery_district.$model">
                                                            <div class="error" v-if="submitStatusForm4 === 'ERROR'  && !$v.user.delivery_district.required">กรุณากรอก อำเภอ / เขต</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 pr-1" :class="{ 'form-group--error': $v.user.province.$error }">
                                                            <input type="text" placeholder="จังหวัด"
                                                            class="form-control input-create"
                                                            id="delivery_province"
                                                            name="delivery_province"
                                                            :disabled="sameAddress"
                                                            v-model.trim="$v.user.delivery_province.$model">
                                                            <div class="error" v-if="submitStatusForm4 === 'ERROR'  && !$v.user.delivery_province.required">กรุณากรอกจังหวัด</div>
                                                        </div>
                                                        <div class="form-group col-md-6 pr-1">
                                                            <input type="text" placeholder="รหัสไปรษณีย์"
                                                            class="form-control input-create"
                                                            id="delivery_zipcode"
                                                            name="delivery_zipcode"
                                                            :disabled="sameAddress"
                                                            v-model.trim="$v.user.delivery_zipcode.$model">
                                                            <div class="error" v-if="submitStatusForm4 === 'ERROR'  && !$v.user.delivery_zipcode.required">กรุณากรอกรหัสไปรษณีย์</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <label for="formFileSm" class="form-label input-create">รูปบัตรประชาชน</label>
                                                        <input type="file" class="form_control_file"
                                                        placeholder="Card id images"
                                                        drop-placeholder="Drop file here..."
                                                        ref="cardid_img"
                                                        id="cardid_img"
                                                        name="cardid_img"
                                                        @change="imageCardIdChanged($event)"
                                                        accept="image/*">
                                                        <div class="error" v-if="submitStatusForm4 === 'ERROR'  && !$v.user.cardid_img.required">กรุณาอัพโหลดรูปบัตรประชาชน</div>
                                                        <div class="error" v-if="submitStatusForm4 === 'ERROR'  && !$v.user.cardid_img.file_size_validation">ไฟล์รูปของคุณขนาดใหญ่เกินไป</div>
                                                    </div>
                                                    <br>
                                                    <button @click.prevent="prev()" class="btn btn-success submit-btn">Previous</button>
                                                    <button type="submit" class="btn btn-success submit-btn" :disabled="submitStatusForm4 === 'PENDING'">Submit</button>
                                                </form>
                                        </div>
                                            <template #overlay>
                                                <div class="text-center">
                                                    <b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon>
                                                    <p id="cancel-label">Please wait...</p>
                                                </div>
                                            </template>
                                        </b-overlay>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</template>
<script>
const Swal = require('sweetalert2');
import { required,email, minLength, requiredIf, sameAs} from 'vuelidate/lib/validators';
import axios from 'axios';
import { BIcon, BIconStopwatch  } from 'bootstrap-vue';

const file_size_validation = (value, vm) =>  {
  if (!value) {
    return true;
  }
  let file = value;
  return (file.size < 5120000);
};

export default {
  components: {
    BIcon,
    BIconStopwatch,
  },
  data() {
    return {
        step:1,
        user : new Form({
            firstname: "",
            lastname : '',
            username : '',
            password : '',
            repeatPassword: '',
            nickname : '',
            gender : '',
            age : '',
            email : '',
            phone : '',
            lineid : '',
            facebook : '',
            instragram : '',
            address : '',
            subdistrict : '',
            district : '',
            province : '',
            zipcode : '',
            delivery_address : '',
            delivery_subdistrict : '',
            delivery_district : '',
            delivery_province : '',
            delivery_zipcode : '',
            cardid_img : null,
            qrcodeline_img : null,
            profile_img : null
        }),
        submitStatusForm1: null,
        submitStatusForm2: null,
        submitStatusForm3: null,
        submitStatusForm4: null,
        sameAddress: false,
        loading: false
    }

  },
  validations: {
      user:{
        firstname: {
            required
        },
        lastname: {
            required,
        },
        password: {
            required,
            minLength: minLength(6)
        },
        repeatPassword: {
            sameAsPassword: sameAs('password')
        },
        nickname : {
            required
        },
        email: {
            required,
            email
        },
        gender: {
            required,
        },
        phone: {
            required,
        },
        age: {
        },
        profile_img: {
            required,
            file_size_validation
        },
        lineid: {
            required,
        },
        qrcodeline_img: {
            file_size_validation
        },
        facebook: {
        },
        instragram: {
        },
        address: {
            required,
        },
        subdistrict: {
            required,
        },
        district : {
            required,
        },
        province : {
            required,
        },
        zipcode : {
            required,
        },
        delivery_address: {
            required
        },
        delivery_subdistrict: {
            required
        },
        delivery_district: {
            required
        },
        delivery_province: {
            required
        },
        delivery_zipcode: {
            required
        },
        cardid_img: {
            required,
            file_size_validation
        },
    },
  },
  methods:{
    imageProfileChanged(event) {
      var files = event.target.files || event.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.$v.user.profile_img.$reset();
      this.user.profile_img = files[0];
    },
    imageLineChanged(event) {
      var files = event.target.files || event.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.$v.user.qrcodeline_img.$reset();
      this.user.qrcodeline_img = files[0];
    },
    imageCardIdChanged(event) {
      var files = event.target.files || event.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.$v.user.cardid_img.$reset();
      this.user.cardid_img = files[0];
    },
    submitRegisterForm1(e) {
        const file = document.getElementById('profile_img').files[0];

        this.$v.user.firstname.$touch();
        this.$v.user.lastname.$touch();
        this.$v.user.nickname.$touch();
        this.$v.user.gender.$touch();
        this.$v.user.age.$touch();
        this.$v.user.phone.$touch();
        this.$v.user.profile_img.$touch();

        if (this.$v.user.firstname.$invalid || this.$v.user.lastname.$invalid || this.$v.user.nickname.$invalid
        || this.$v.user.gender.$invalid || this.$v.user.phone.$invalid  || this.$v.user.profile_img.$invalid) {
            this.submitStatusForm1 = 'ERROR'
            Swal.fire({
                icon: 'error',
                title: 'กรุณากรอกข้อมูลให้ครบถ้วน',
            })
            return;
        } else {
            if (!file) {
                e.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'กรุณาอัพโหลดรูปสำหรับบัตรตัวแทน',
                })
                return;
            }else {
                this.next();
            }
        }
    },
    submitRegisterForm2(e) {
        const file = document.getElementById('qrcodeline_img').files[0];

        this.$v.user.email.$touch();
        this.$v.user.password.$touch();
        this.$v.user.repeatPassword.$touch();
        this.$v.user.lineid.$touch();
        this.$v.user.qrcodeline_img.$touch();

        if(this.$v.user.email.$invalid || this.$v.user.password.$invalid || this.$v.user.repeatPassword.$invalid
            || this.$v.user.lineid.$invalid || this.$v.user.qrcodeline_img.$invalid ) {
            this.submitStatusForm2 = 'ERROR'
            e.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'กรุณากรอกข้อมูลให้ครบถ้วน',
            });
        } else {
            if (!file) {
                this.user.qrcodeline_img = null;
            }
            this.next();
        }
    },
    submitRegisterForm3() {
        // console.log(this.qrcodeline_img);
        // return
        this.$v.user.address.$touch();
        this.$v.user.subdistrict.$touch();
        this.$v.user.district.$touch();
        this.$v.user.province.$touch();
        this.$v.user.zipcode.$touch();

        if(this.$v.user.address.$invalid || this.$v.user.subdistrict.$invalid
        || this.$v.user.district.$invalid || this.$v.user.province.$invalid || this.$v.user.zipcode.$invalid) {
            this.submitStatusForm3 = 'ERROR'
        } else {
            setTimeout(() => {
            // this.submitStatus = 'OK'
                this.next();
            }, 500)
        }
    },
    checkSameAddress(){
       if(this.sameAddress == true){
           console.log('test')
           this.user.delivery_address = this.user.address;
           this.user.delivery_subdistrict = this.user.subdistrict;
           this.user.delivery_district = this.user.district;
           this.user.delivery_province = this.user.province;
           this.user.delivery_zipcode = this.user.zipcode;
       }
    },
    submitRegisterForm4(e) {
        const file = document.getElementById('cardid_img').files[0];

        this.$v.user.delivery_address.$touch();
        this.$v.user.delivery_subdistrict.$touch();
        this.$v.user.delivery_district.$touch();
        this.$v.user.delivery_province.$touch();
        this.$v.user.delivery_zipcode.$touch();
        this.$v.user.cardid_img.$touch();

        if(this.$v.user.delivery_address.$invalid || this.$v.user.delivery_subdistrict.$invalid
            || this.$v.user.delivery_district.$invalid || this.$v.user.delivery_province.$invalid
            || this.$v.user.delivery_zipcode.$invalid || this.$v.user.cardid_img.$invalid
        ) {
            this.submitStatusForm4 = 'ERROR'
            // console.log(this.user.cardid_img);
            e.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'กรุณากรอกข้อมูลให้ครบถ้วน',
            })
            return;
        } else {
            if (!file) {
                e.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'กรุณาอัพโหลดรูปบัตรประชาชน',
                })
                return;
            } else {

            let data = new FormData();
            data.append('firstname', this.$v.user.firstname.$model);
            data.append('lastname', this.$v.user.lastname.$model);
            data.append('nickname', this.$v.user.nickname.$model);
            data.append('gender', this.$v.user.gender.$model);
            data.append('age', this.$v.user.age.$model);
            if(this.user.profile_img){
                data.append('profile_img', this.user.profile_img);
            }

            data.append('email', this.$v.user.email.$model);
            data.append('password', this.$v.user.password.$model);
            data.append('phone', this.$v.user.phone.$model);
            data.append('lineid', this.$v.user.lineid.$model);
            data.append('facebook', this.$v.user.facebook.$model);
            data.append('instragram', this.$v.user.instragram.$model);
            if(this.user.cardid_img){
                data.append('cardid_img', this.user.cardid_img);
            }

            data.append('address', this.$v.user.address.$model);
            data.append('subdistrict', this.$v.user.subdistrict.$model);
            data.append('district', this.$v.user.district.$model);
            data.append('province', this.$v.user.province.$model);
            data.append('zipcode', this.$v.user.zipcode.$model);
            data.append('delivery_address', this.$v.user.delivery_address.$model);
            data.append('delivery_subdistrict', this.$v.user.delivery_subdistrict.$model);
            data.append('delivery_district', this.$v.user.delivery_district.$model);
            data.append('delivery_province', this.$v.user.delivery_province.$model);
            data.append('delivery_zipcode', this.$v.user.delivery_zipcode.$model);
            if(this.user.qrcodeline_img){
                data.append('qrcodeline_img', this.user.qrcodeline_img);
            }
            // console.log('image = ' + this.qrcodeline_img);
            // console.log('data = ' + data.append('qrcodeline_img', this.qrcodeline_img));
            this.loading = true;
            axios.post('/register',data)
            .then( (response)=> {
                // console.log(response);
                    Swal.fire({
                    icon: 'success',
                    title: 'บันทึกข้อมูลสำเร็จแล้ว',
                }).then(window.location="/")
            })
            .catch(error => {
                this.user.errors.record(error.response.data);
                if(this.user.errors.has('email')){
                    Swal.fire({
                        icon: 'error',
                        title: 'ผิดพลาด.',
                        text: 'อีเมลนี้มีในระบบแล้วกรุณาเปลี่ยนอีเมล'
                    });
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: 'ผิดพลาด.',
                        text: 'มีบางอย่างผิดพลาด โปรดติดต่อแอดมิน!!'
                    });
                }
                this.loading = false;
            });
            }
        }
    },

    prev() {
      this.step--;
    },
    next() {
      this.step++;
    },
    submit() {
      alert('Submit to blah and show blah and etc.');
    }
  }
}
</script>
<style  scoped>
    .register-image-step1 {
	width: 100%;
	height: auto;
}

h3 {
    font-family: "Muli-SemiBold";
    font-size: 22px;
    color: #453e79;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 5px 15px;
    /* display: inline-block; */
    border: 1px solid #dad8e4;
	margin-bottom: 35px;
}

.form-content {
    width: 100%;
}

 /* .form-group--error {
     border-color: red !important;
 } */

.error {
    color: #D9585C;
    margin-top: 5px;
    display: block;
    border-color: red;
    background: #FDD;
    font-size: 12px;
}

@media (min-width: 1500px){
    .margin-only-formbox {
        padding: 5rem !important;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    .margin-only-formbox {
        padding: 3rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .margin-only-formbox {
        padding: 2rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .margin-only-formbox {
        padding-left: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .header-register {
        font-size: 1.7em;
    }
}

@media (max-width: 575.98px) {
    .header-register {
        font-size: 1.8em;
    }

    .border-none-register {
        border: none;
    }

    .form-control {
        font-size: 1.1em;
    }

    .submit-btn {
        font-size: 1.2em;
    }

    .padding0 {
        padding: 0px;
    }
}

</style>
