<template>
    <div>
        <div class="grid" style="padding-top:50px;">
            <div class="grid_row is-40">
                <div  v-for="vdo in vdoes.data" :key="vdo.id"
                     class="grid_col is-12 is-sm-6 is-lg-3" 
                     data-aos="ntr-fade-up" data-aos-once="true">
                    <a class="team-member hover-up" :href="'/'+ brand.slug + '/'+ brand.id + '/videos/'+ vdo.id">
                        <span class="aspect-ratio is-4x5">
                            <img class="aspect-ratio_object lazyload"
                            :src="vdo.path_img"
                            :data-srcset="vdo.path_img + ' 1x ,' + vdo.path_img + ' 2x'">
                        </span>
                        <span class="team-member_info">
                            <span class="team-member_name">{{ vdo.name }}</span>
                            <span class="team-member_title">{{ vdo.desc }}</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="pagination float-right">
                <pagination :data="vdoes" @pagination-change-page="getVdoes"></pagination>
            </div> 
		</div>
        <div class="grid"  v-if="!vdoes.data">
            <div class="grid_row is-40">
                <div class="grid_col is-12">
                    <div class="alert is-grey text-center">
                        <p>No Data <b>Vdoes</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import pagination from 'laravel-vue-pagination';

export default {
    name: 'ShowListVdoTrain',
    components: {
        pagination
    },
    props : [
        'brand'
    ],
    data() {
        return {
            vdoes: {},
            loading: false
        }
    },
    mounted() {
		this.getVdoes();
    },
    methods : {
        getVdoes(page = 1) {
            this.loading = true;
            axios.get('/videos/api/'+ this.brand.id + '?page=' + page)
                .then(response => {
                    this.vdoes = response.data;
                    // console.log(response);
                })
            .finally(() => this.loading = false);
        }
    }
}
</script>
