<template>
  <div class="tables-basic">
      <h2 class="page-title">ตั้งค่า - <span class="fw-semi-bold">แบรนด์</span></h2>
    <b-row>
      <b-col>
        <Widget :fetchingData=loading>
          <div class="clearfix">
            <div class="float-right">
              <router-link to="/app/setting/brand/create">
              <b-button variant="info">เพิ่มแบรนด์ <font-awesome-icon icon="plus" /> </b-button>
              </router-link>
            </div>
          </div>
          <div class="table-resposive">
            <table class="table">
              <thead>
                <tr>
                  <th class="hidden-sm-down">#</th>
                  <th>Picture</th>
                  <th>Name</th>
                  <th class="hidden-sm-down">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for=" (brand, index) in this.brands"  v-bind:key="brand.id">
                  <td>{{index+1}}</td>
                  <td v-if="brand.image">
                     <img class="img-rounded" :src="brand.path" alt="" height="50" />
                  </td>
                  <td v-if="!brand.image" >
                    <img class="img-rounded" src="../../../assets/image/defaul-image.png" alt="" height="50" />
                  </td>
                  <td>
                    <b>{{ brand.name }}</b>
                    <p class="mb-0">
                      <small>
                        <span class="text-muted">Slug:</span>
                        <span class="text-muted">&nbsp; {{ brand.slug }}</span>
                      </small>
                    </p>
                    <p class="mb-0">
                      <small>
                        <span class="text-muted">Date:</span>
                        <span class="text-muted">&nbsp;  {{  moment(brand.updated_at) }}</span>
                      </small>
                    </p>
                  </td>
                  <td class="">
                    <router-link :to="'/app/setting/brand/'+brand.id">
                      <b-button size="sm" class="mr-2" variant="outline-warning">
                        <font-awesome-icon icon="edit" /> Edit
                      </b-button>
                    </router-link>
                    <b-button size="sm"  variant="outline-danger"  @click="deleteBrand(brand.id,brand.name)">
                       <font-awesome-icon icon="trash-alt" /> Delete
                    </b-button>
                  </td>
                </tr>
                <tr  v-if="!brands">
                  <td colspan="5" class="text-center"> No Data</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix">
            <div class="float-right" v-if="user.role=='super_admin'">
              <router-link to="/app/setting/trash/brand">
              <b-button variant="danger">Trash <font-awesome-icon icon="trash-alt" /> </b-button>
              </router-link>
            </div>
          </div>
        </Widget>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Brand',
  data() {
    return {
      brands: {},
      loading: false,
      user: {}
    }
  },
  components: {
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY, h:mm');
    },
    deleteBrand(id,name){
      this.$swal.fire({
        title: 'Are you sure?',
        text: "คุณต้องการลบแบรนด์ "+name+" หรือไม่",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FD5F00',
        confirmButtonText: 'Yes, delete it!',
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.delete('/admin/api/brand/'+id)
            .then(response => {
              this.getData();
            })
            .catch(error => {
              this.$swal.showValidationMessage(
                Request failed: ${error}
              )
            })
        },
        allowOutsideClick: () => !Swal.isLoading()
      }).then((result) => {
        if (result.isConfirmed) {
          this.$swal.fire(
            'Deleted!',
            'ลบแบรนด์ '+name+ 'สำเร็จ',
            'success'
          )
        }
      })
    },
    checkToast(){
      if($cookies.isKey('success')){
        this.$toasted.success($cookies.get('success'), {
          action: [
            {
              text: 'Cancel',
              onClick: (e, toastObject) => {
                toastObject.goAway(0);
              }
            }
          ]
        });
        $cookies.remove('success');
      }
      if($cookies.isKey('info')){
        this.$toasted.info($cookies.get('info'), {
          action: [
            {
              text: 'Cancel',
              onClick: (e, toastObject) => {
                toastObject.goAway(0);
              }
            }
          ]
        });
        $cookies.remove('info');
      }
    },
    getData(){
      this.loading = true;
          axios.get('/admin/api/brand')
              .then( (response)=> {
                this.brands = response.data.data;
              })
              .finally(() => this.loading = false);
    }
  },
  created() {
    this.checkToast();
    this.getData();
    this.user = JSON.parse(window.localStorage.getItem('admin-login'));
  }
};
</script>