<template>
    <div class="row">
        <!-- header -->
        <div class="col-md-12">
            <div class="blog-single_header" data-aos="ntr-fade-up" data-aos-once="true">
                <h2 class="headline_title">{{vdo.name}}</h2>
                <p>{{brand.eng_name}}</p>
            </div>
            <div class="blog-single_media" data-aos="ntr-fade-up" data-aos-once="true" data-aos-delay="200">
                <div class="blog-single_media_audio">
                    <youtube :video-id="getYoutubeId(vdo.url)"  player-height="600" ></youtube>
                </div>
            </div>
        </div>
<!-- 
        <div class="row">
            <div class="col-md-4" v-for="vdo in vdoes" :key="vdo.id" >
                <div class="blog-post">
                   <a class="blog-post_photo" :href="'/'+ brand.slug + '/'+ brand.id + '/videos/'+ vdo.id">
                        <span class="aspect-ratio is-4x3">
                            <img class="aspect-ratio_object lazyload" 
                               :src="vdo.path_img"
                               :data-srcset="vdo.path_img + ' 1x ,' + vdo.path_img + ' 2x'">
                        </span>
                    </a>
                    <h3 class="blog-post_title"><a :href="'/'+ brand.slug + '/'+ brand.id + '/videos/'+ vdo.id">{{vdo.name}}</a></h3>
                </div>
            </div>
        </div> -->

        <div class="col-md-12 mt-5">
            <a :href="'/'+ brand.slug + '/'+ brand.id + '/videos/'">
                <button class="btn btn-green float-left" type="button" >Back</button>
            </a>
        </div>
    </div>
</template>
<script>
import { getIdFromURL } from 'vue-youtube-embed';

export default {
    name: 'vdo-training',
    components: {

    },
    props : [
        'brand',
        'vdo',
    ],
    data() {
        return {
            // vdoes: {},
            loading: false
        }
    },
    mounted() {
		// this.getVdoes();
    },
    methods : {
        // getVdoes() {
        //     this.loading = true;
        //     axios.get('/videos/api/'+ this.brand.id + '/list/' + this.vdo.id)
        //         .then(response => {
        //             this.vdoes = response.data;
        //             console.log(this.vdoes)
        //         })
        //     .finally(() => this.loading = false);
        // },
        getYoutubeId(url){
            const getId = getIdFromURL;
            console.log(getId('https://'+url))
            return getId('https://'+url);
        }
    }
}
</script>

