<template>
    <section>
        <b-overlay :show="loading" rounded="lg" opacity="1" bg-color="#FFF"> 
        <div class="col-md-12 d-flex justify-content-center">
            <div class="card-image-user thfont"
                v-bind:style="{ color: card.color1 }"
                ref="dom1" 
                v-if="!baseData && !error"
                >
                <b-img 
                    :src="card.path_img"  
                    :alt="card.name"
                    @load="loadedCard"
                    @error="onImgError()">
                </b-img>
                <b-img
                    :src="member.user.path_img" 
                    class="profile-img"
                    @load="loadedProfile"
                    @error="onImgError()"
                >
                </b-img>
                <div class="text-name">
                    <span>{{member.user.nickname}}</span>
                </div>
                <div class="text-code">
                    <span>{{member.show_full_id}}</span>
                </div>
                <div class="text-team" v-if="member.text_team">
                    <span v-bind:style="{ color: card.color2 }">
                        {{member.text_team}}
                    </span>
                </div>
                <div class="text-team-2" v-if="member.text_lineWork">
                    <span>
                        {{member.text_lineWork}}
                    </span>
                </div>
                <div class="text-location">
                    <span>{{member.user.address.province}}</span>
                </div>
                <div class="text-instargram">
                    <span>{{member.user.instragram}}</span>
                </div>
                <div class="text-facebook">
                    <span>{{member.user.facebook}}</span>
                </div>
                <div class="text-phone">
                    <span>{{member.user.phone}}</span>
                </div>
                <div class="text-line">
                    <span>{{member.user.line}}</span>
                </div>
                <b-img
                    :src="member.user.path_qrcode_line_img" 
                    class="profile-line"
                    @load="loadedLine"
                    @error="onImgError()"
                >
                </b-img>
            </div>
        </div>
        <template #overlay>
            <div class="text-center">
                <b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon>
                <p id="cancel-label">Please wait...</p>
            </div>
        </template>
        </b-overlay>
        <div class="col-md-12" v-if="baseData && !error">
            <img v-bind:src="baseData" />
            <button class="button is-grey mt-5 is-block"  v-on:click="downloadImg()">
                <span class="ti-download"></span>  
                <span class="button_text ml-2"> ดาวน์โหลด บัตรตัวแทนแบร์นด์</span>
            </button>
        </div>
        <div class="col-md-12" v-if="error">
            <div class="alert is-grey text-center">
                <p>เกิดข้อผิดพลาดในระบบ กรุณาติดต่อแอดมิน</p>
            </div>
        </div>
    </section>
</template>
<script>
import domtoimage from 'dom-to-image';
import { BIcon, BIconStopwatch  } from 'bootstrap-vue';
import { saveAs } from 'file-saver';

export default {
    name: 'Carduser',
    props : [
        'member',
        'card'
    ],
    components: {
        BIcon,
        BIconStopwatch,
    },
    data() {
        return {
            loading: true,
            baseData: null,
            loadingCard: false,
            loadingProfile: false,
            loadingLine: false,
            error: false
        };
    }, 
    methods: {
        loadedCard() {
            this.loadingCard = true;
            this.checkAllLoadImage();
        },
        loadedProfile() {
           this.loadingProfile = true;
           this.checkAllLoadImage();
        },
        loadedLine() {
            this.loadingLine = true;
            this.checkAllLoadImage();
        },
        checkAllLoadImage(){
            if(this.loadingCard == true && this.loadingProfile == true && this.loadingLine == true) {
                this.toImage();
            }else{

            }
        },
        toImage(){
            const node = this.$refs['dom1'];
            const scale = 1280 / node.offsetWidth;
            this.loading = true;

            domtoimage
                .toPng(node, {
                    height: node.offsetHeight * scale,
                    width: node.offsetWidth * scale,
                    style: {
                        transform: "scale(" + scale + ")",
                        transformOrigin: "top left",
                        width: node.offsetWidth + "px",
                        height: node.offsetHeight + "px"
                    }
                })
                .then(dataUrl => {
                    this.baseData = dataUrl;
                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                    console.error("oops, something went wrong!", error);
                });
        },
        onImgError() {
            this.loading = false;
            this.error = true;
        },
        downloadImg() {
            let url = this.baseData;
            fetch(url)
                .then((response) => response.blob())
                .then((blob) => {
                    saveAs(blob, this.member.user.nickname + '.png');
                });
        }
    }
};
</script>
<style lang='scss' scoped>
@font-face {
    font-family: 'th-sarabun';
    src: url('THSarabun-Bold.ttf');
};

.thfont {
    font-family : 'th-sarabun';
}

$right-left-1: 71%;
@mixin block-content {
    z-index: 1;
    position: absolute;
    width: 72px;
    // background-color: black;
    text-align: left;
    left: 68%;
}
@mixin block-span {
    font-size: 10px;
    display: inline-block;
    max-width: 100%;
    // height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-image-user{
    position: relative;
    color: #fff;
    height: 300px;
    width: 300px;
    
    img{
        position: absolute;
        left: 0;
        top: 0;
    }
    .profile-img{
        z-index: 1;
        position: absolute;
        top: 19.92%;
        left: 11.49%;
        width: 122.06px;
        height: 122.06px;
    }
    .text-name{
        @include block-content;
        width: 79px;
        left: 25%;
        top: 59.9%;
        span {
            @include block-span;
            font-size: 16px;
        }
    }
    .text-code{
        @include block-content;
        width: 63px;
        left: $right-left-1;
        top: 16.9%;
        span {
            @include block-span;
        }
    }
    .text-team{
        @include block-content;
        width: 63px;
        left: $right-left-1;
        top: 24.4%;
        color: #343a40;
        span {
            @include block-span;
        }
    }
    .text-team-2{
        @include block-content;
        width: 63px;
        left: $right-left-1;
        top: 31.8%;
        span {
            @include block-span;
        }
    }
    .text-location{
        @include block-content;
        top: 38.4%;
        span {
            @include block-span;
        }
    }
    .text-instargram{
        @include block-content;
        top: 44.5%;
        span {
            @include block-span;
        }
    }
    .text-facebook{
        @include block-content;
        top: 50.5%;
        span {
            @include block-span;
            font-size: 8px;
        }
    }
    .text-phone{
        @include block-content;
        top: 56.8%;
        span {
            @include block-span;
        }
    }
    .text-line{
        @include block-content;
        top: 62.5%;
        span {
            @include block-span;
        }
    }
    .profile-line{
        z-index: 1;
        position: absolute;
        top: 74.50%;
        left: 69.5%;
        width: 44px;
        height: 44px;
    }
}
</style>