<template>
  <div class="dashboard-page">
    <h1 class="page-title">MemberAll</h1>
    <b-row>
      <b-col lg="3" sm="6" xs="12">
      </b-col>
    </b-row>
  </div>
</template>

<script>

export default {
  name: 'MemberAll',
  components: {
  },
  methods: {
  },
  computed: {
  }
};
</script>