
.headerLink {
  width: 100%;
  overflow-x: hidden;

  @media (min-width: map_get($grid-breakpoints, lg))
  and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
    font-size: 13px;
  }

  a {
    display: block;
    color: var(--sidebar-color);
    text-decoration: none;
    cursor: pointer;
  }

  &:last-child > a {
    border-bottom: 1px solid $sidebar-item-border-color;
  }

  > a,
  > div a {
    align-items: center;
    position: relative;
    padding-left: 50px;
    line-height: 35px;
    border-top: 1px solid $sidebar-item-border-color;

    &:hover {
      background-color: var(--sidebar-item-hover-bg-color);
    }

    > i {
      margin-right: 7px;
    }

    @media (min-width: map_get($grid-breakpoints, lg))
    and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      line-height: 55px;
    }
  }

  .icon {
    font-size: $font-size-larger;
    display: block;
    position: absolute;
    top: 3px;
    left: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    @media (min-width: map_get($grid-breakpoints, lg))
    and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      top: 12px;
    }
  }

  .badge {
    float: right;
    line-height: 8px;
    margin-top: 6px;
    margin-right: 15px;
    padding: 7px;
    background: var(--sidebar-badge-bg);

    @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      margin-top: 16px;
    }
  }
}

.headerLabel {
  font-weight: 600;
}


.headerLink {
  
  .caretWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
  
    i {
      @include transition(transform 0.3s ease-in-out);
    }
  }

  .carretActive i {
    transform: rotate(-90deg);
  }

  a.router-link-active {
    color: var(--sidebar-item-active);
  
    .icon {
      border-radius: 50%;
      background-color: var(--sidebar-item-active);
  
      i {
        color: var(--sidebar-icon-active);
      }
    }
  }

  .collapse,
  .collapsing {
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  
    a {
      line-height: 20px !important;
  
      &.router-link-active {
        font-weight: $font-weight-semi-bold;
        color: var(--sidebar-color);
      }
    }
  
    ul {
      background: var(--sidebar-action-bg);
      padding: $spacer;
  
      li {
        list-style: none;
      }
  
      a {
        padding: 10px 20px 10px 26px;
        font-size: $font-size-mini;
  
        &:hover {
          background-color: var(--sidebar-item-hover-bg-color);
        }
      }
    }
  }
}
