.sidebar {
  position: absolute;
  width: $sidebar-width-open;
  height: 100%;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-color);
  transition: $transition-base;
}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: $sidebar-width-open;
  transition: width $sidebar-transition-time ease-in-out, left $sidebar-transition-time ease-in-out;

  @include sidebar-scrollbar();
}

.sidebarClose .sidebar-wrapper {
  width: $sidebar-width-closed;

  @include media-breakpoint-down(sm) {
    width: 0;
  }
}

.sidebarStatic .sidebar-wrapper {
  width: $sidebar-width-open;
}

.sidebar-wrapper {
  .logo {
    margin: 15px 0;
    font-size: 18px;
    width: 100%;
    font-weight: $font-weight-thin;
    text-align: center;
    transition: width $sidebar-transition-time ease-in-out;
  
    a {
      color: var(--logo-color);
      padding: 0 5px;
      text-decoration: none;
      white-space: nowrap;
    }
  
    .primary-word {
      color: var(--sidebar-item-active);
      font-weight: $font-weight-normal;
    }
  }
}

.sidebarClose .logo {
  width: $sidebar-width-closed;
}

.sidebarStatic .logo {
  width: 100%;
  transition: none;
}

.sidebar-wrapper {

  .nav {
    width: 100%;
    padding: 30px 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .navTitle {
    margin: 35px 0 5px 11px;
    font-size: $font-size-larger;
    transition: opacity $sidebar-transition-time ease-in-out;
    color: var(--sidebar-nav-title-color);
  
  
    @media (min-width: breakpoint-min(lg)) {
      opacity: 1;
    }
  }
}


.sidebarClose .navTitle {
  opacity: 0;
}

.sidebarStatic .navTitle {
  opacity: 1;
  transition: none;
}

.sidebar-wrapper {

  .actionLink {
    color: #aaa;
    float: right;
    margin-right: 15px;
    margin-top: -1px;
  
    .la {
      font-size: $font-size-sm;
      margin-top: 4px;
    }
  }
  
  .labelName {
    opacity: 1;
    transition: opacity $sidebar-transition-time ease-in-out;
  }

}

.sidebarClose .labelName {
  opacity: 0;
}

.sidebarStatic .labelName {
  transition: none;
  opacity: 1;
}

.sidebar-wrapper {
  .glyphiconSm {
    font-size: 9px;
  }
}

.sidebarLabels {
  list-style-type: none;
  padding: 11px;
  padding-right: 15px;

  > li + li {
    margin-top: 10px;
  }

  li > a {
    font-size: $font-size-mini;
    color: var(--sidebar-color);
    text-decoration: none;

    > i {
      font-size: 11px;
      vertical-align: 1px;
      color: var(--sidebar-item-active);
      transition: margin-left $sidebar-transition-time ease-in-out;
    }
  }
}

.sidebarClose {
  .sidebarLabels > li > a > i {
    margin-left: 8px;
    transition: margin-left $sidebar-transition-time ease-in-out;
  }
}

.sidebarStatic {
  .sidebarLabels > li > a > i {
    transition: none;
    margin-left: 0;
  }
}

.sidebarAlerts {
  margin-bottom: $spacer * 2;
  transition: opacity $sidebar-transition-time ease-in-out;
  opacity: 1;
}

.sidebarClose .sidebarAlerts {
  opacity: 0;
}

.sidebarStatic .sidebarAlerts {
  opacity: 1;
  transition: none;
}

.sidebarAlert {
  background: transparent;
  margin-bottom: 0;
  padding: 0.5rem 11px;
  padding-right: 15px;
}

.sidebarProgress {
  background: var(--sidebar-progress-bg-color);
}

.sidebar-wrapper {
  .groupTitle {
    margin-bottom: 15px;
  }
}
