<template>
  <div class="sidebar-wrapper">
    <nav
        :class="{sidebar: true, sidebarStatic, sidebarOpened}"
        @mouseenter="sidebarMouseEnter"
        @mouseleave="sidebarMouseLeave"
    >
      <header class="logo">
        <router-link to="/"><span class="primary-word">MS</span> JYB</router-link>
      </header>
      <ul class="nav">
        <NavLink
            :activeItem="activeItem"
            header="แดชบอร์ด"
            link="/dashboard"
            iconName="flaticon-home"
            index="dashboard"
            isHeader
        />
        <NavLink
            :activeItem="activeItem"
            header="สมาชิก"
            link="/member"
            iconName="flaticon-list"
            index="member"
            :childrenLinks="[
              { header: 'สมาชิกที่รอดำเนินการ', link: '/member/wait' },
              { header: 'สมาชิกทั้งหมด', link: '/member/all' },
              { header: 'สายงาน', link: '/member/line' },
              { header: 'ระบบบล็อคสมาชิก', link: '/member/block' },
            ]"
        />
        <NavLink
            :activeItem="activeItem"
            header="รูปภาพ"
            link="/picture"
            iconName="flaticon-equal-1"
            index="picture"
            isHeader
        />
        <NavLink
            :activeItem="activeItem"
            header="วิดิโอ"
            link="/vdo"
            iconName="flaticon-star"
            index="vdo"
            isHeader
        />
        <NavLink
            :activeItem="activeItem"
            header="ตั้งค่า"
            link="/setting"
            iconName="flaticon-network"
            index="setting"
            :childrenLinks="[
              { header: 'คอนเทนต์', link: '/setting/content' },
              { header: 'แบรนด์', link: '/setting/brand' },
              { header: 'เรทราคา', link: '/setting/price' },
              { header: 'บัตรตัวแทน', link: '/setting/card' },
              { header: 'Log', link: '/setting/log' },
            ]"
        />
        <!-- <NavLink
            :activeItem="activeItem"
            header="My Account"
            link="/account"
            iconName="flaticon-network"
            index="account"
            :childrenLinks="[
              { header: 'จัดการข้อมูลส่วนตัว', link: '/account/user' },
              { header: 'เปลี่ยนรหัสผ่าน', link: '/account/change-password' },
              { header: 'ออกจะระบบ', link: '/account/logout' },
            ]"
        /> -->
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import isScreen from '../../core/screenHelper';
import NavLink from './NavLink/NavLink';

export default {
  name: 'Sidebar',
  components: { NavLink },
  data() {
    return {
    };
  },
  methods: {
    ...mapActions('layout', ['changeSidebarActive', 'switchSidebar']),
    setActiveByRoute() {
      const paths = this.$route.fullPath.split('/');
      paths.pop();
      this.changeSidebarActive(paths.join('/'));
    },
    sidebarMouseEnter() {
      if (!this.sidebarStatic && (isScreen('lg') || isScreen('xl'))) {
        this.switchSidebar(false);
        this.setActiveByRoute();
      }
    },
    sidebarMouseLeave() {
      if (!this.sidebarStatic && (isScreen('lg') || isScreen('xl'))) {
        this.switchSidebar(true);
        this.changeSidebarActive(null);
      }
    },
  },
  created() {
    this.setActiveByRoute();
  },
  computed: {
    ...mapState('layout', {
      sidebarStatic: state => state.sidebarStatic,
      sidebarOpened: state => !state.sidebarClose,
      activeItem: state => state.sidebarActiveElement,
    }),
  },
};
</script>
