<template>
    <div class="custom-actions">
      <b-button size="sm" class="mr-2" variant="outline-warning" @click="itemAction('edit-item', rowData, rowIndex)">
            <font-awesome-icon icon="edit" /> Edit
      </b-button>
      <b-button size="sm" class="mr-2" variant="outline-danger" @click="itemAction('delete-item', rowData, rowIndex)">
            <font-awesome-icon icon="trash-alt" /> Delete
      </b-button>
    </div>
</template>

<script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    methods: {
      itemAction (action, data, index) {
        console.log('custom-actions: ' + action, data.id+ '-' +data.desc, index)
      }
    }
  }
</script>
