<template>
  <div>
    <b-button variant="info"  v-b-modal.modal-prevent-closing>เพิ่มเรทเปิดบิล <font-awesome-icon icon="plus" /></b-button>

    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      :title="'เพิ่มเรทราคาแบรนด์ '+brandId"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      ok-only
      okTitle='Submit'
      okVariant= 'success'
    >
      <Widget  :fetchingData=loading>
        <b-form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group
                label-cols="3" label-cols-lg="3"
                id="field-set"
                label="จำนวน (set)"
                label-for="set"
                :invalid-feedback="form.errors.get('set')"
                :state="checkValidate(form.errors.has('set'))"
            >
                <b-form-input 
                  id="set" 
                  v-model="form.set"  
                  type="number"
                  :state="checkValidate(form.errors.has('set'))"
                  @keydown="form.errors.clear('set')"></b-form-input>
            </b-form-group>
            <b-form-group
                label-cols="3" label-cols-lg="3"
                id="field-price"
                label="ราคา (set)"
                label-for="price"
                :invalid-feedback="form.errors.get('price')"
                :state="checkValidate(form.errors.has('price'))"
            >
                <b-form-input 
                  id="price" 
                  v-model="form.price"  
                  type="number"
                  :state="checkValidate(form.errors.has('price'))"
                  @keydown="form.errors.clear('price')"></b-form-input>
            </b-form-group>
            <b-form-group
                label-cols="3" label-cols-lg="3"
                id="field-total-price"
                label="รวมราคา"
                label-for="total_price"
                :invalid-feedback="form.errors.get('total_price')"
                :state="checkValidate(form.errors.has('total_price'))"
            >
                <b-form-input 
                  id="total_price" 
                  :value="totolPrice"  
                  readonly
                  :state="checkValidate(form.errors.has('total_price'))"
                  @keydown="form.errors.clear('total_price')"></b-form-input>
            </b-form-group>
            <b-form-group
                label-cols="3" label-cols-lg="3"
                id="field-desc"
                label="โบนัสพิเศษ"
                label-for="desc"
                :invalid-feedback="form.errors.get('desc')"
                :state="checkValidate(form.errors.has('desc'))"
            >
                <b-form-textarea
                  id="desc" 
                  rows="2"
                  max-rows="6"
                  v-model="form.desc"  
                  :state="checkValidate(form.errors.has('desc'))"
                  @keydown="form.errors.clear('desc')">
                </b-form-textarea>
            </b-form-group>
            <b-form-group
                label-cols="3" label-cols-lg="3"
                id="field-level"
                label="ตำแหน่ง"
                label-for="level"
                :invalid-feedback="form.errors.get('level')"
                :state="checkValidate(form.errors.has('level'))"
            >
                <b-form-select
                  id="level" 
                  v-model="form.level"  
                  :options="optionsMember"
                  :state="checkValidate(form.errors.has('level'))"
                  @keydown="form.errors.clear('level')">
                </b-form-select>
            </b-form-group>
        </b-form>
      </Widget>
    </b-modal>
  </div>
</template>

<script>
  export default {
    props: {
        brandId: null
    },
    data() {
      return {
        form: new Form({
          set: '',
          desc: '',
          price: '',
          level: '',
        }),
        loading: false,
        optionsMember: [
          { value: 'member', text: 'ลูกทีม' },
          { value: 'team_leader', text: 'แม่ทีม' },
          { value: 'dealer' , text: 'ดีลเลอร์' }
        ]
      }
    },
    computed: {
      totolPrice: function(){
        if(this.form.set != '' && this.form.price != ''){
          return this.form.set * this.form.price;
        }else{
          return 0;
        }
      }
    },
    methods: {
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        return valid
      },
      resetModal() {
        this.form.set = '';
        this.form.desc = '';
        this.form.price = '';
        this.form.level = '';
        this.form.errors.clear();
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        let data = new FormData();
        data.append('set', this.form.set);
        data.append('desc', this.form.desc);
        data.append('price', this.form.price);
        data.append('total_price', this.totolPrice);
        data.append('level', this.form.level);
        data.append('brand_id', this.brandId);
        data.append('sort', 1);
        this.loading = true;
        axios.post('/admin/api/price', data)
            .then( (response)=> {
               this.$emit('clicked', 1)
                this.resetModal();
                // Hide the modal manually
                this.$nextTick(() => {
                    this.$bvModal.hide('modal-prevent-closing')
                });
            })
            .catch(error =>  {
                this.form.errors.record(error.response.data);
            })
            .finally(() => this.loading = false);
      },
      checkValidate(error) {
        if(error){
            return false;
        }else{
            return null;
        }
      }
    }
  }
</script>
