<template>
  <div class="tables-basic">
      <h2 class="page-title">ตั้งค่า - <span class="fw-semi-bold">เรทเปิดบิล</span></h2>
    <b-row>
      <b-col md="12">
        <Widget>
          <b-form-group
            label="BRAND"
            label-cols-sm="1"
            label-cols-md="1"
            label-cols-lg="1"
            label-align-sm="left"
            label-size="sm"
            label-for="brands"
            class="mb-0"
          >
            <b-form-select v-model="brand" id="brands" :options="brands" @change="onBrandChange($event)" class="w-75">
              <template #first>
                <option value="">-- None --</option>
              </template>
            </b-form-select>
          </b-form-group>
        </Widget>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <Widget :fetchingData=loading>
          <vuetable ref="vuetable"
            api-url="/admin/api/price"
            :fields = "fields"
            :append-params="moreParams"
            :css="{handleIcon: 'fa fa-bars text-secondary'}"
          >
            <div slot="actions" slot-scope="props">
              <custom-actions
              :rowData = "props.rowData"
              :rowIndex = "props.rowIndex"
              >
              </custom-actions>
            </div>
          </vuetable>
          <price-create :brandId="brand" @clicked="onCreate" v-if="showBtnCreate"></price-create>
        </Widget>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <ul id="items">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from 'moment';
import { Sortable, MultiDrag, Swap, OnSpill, AutoScroll } from "sortablejs";
import CustomActions from './CustomActions';
import PriceCreate from './PriceCreate';

export default {
  name: 'Price',
  components: {
    'custom-actions' : CustomActions,
    'price-create' : PriceCreate,
  },
  data() {
    return {
      brand:  null,
      brands: [],
      prices: [],
      loading: false,
      user: {},
      fields: [
        {
          name: '__handle',
          dataClass: 'center aligned'
        },
        {
          name: 'set',
          title: 'จำนวน (set)',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'price',
          title: 'ราคา (set)',
          titleClass: 'center aligned',
          dataClass: 'right aligned'
        },
        {
          name: 'total_price',
          title: 'รวมราคา',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'desc',
          title: 'โบนัสพิเศษ',
          titleClass: 'center aligned',
          dataClass: 'right aligned'
        },
        {
          name: 'sort',
          title: 'Sort',
          titleClass: 'center aligned',
          dataClass: 'right aligned'
        },
        {
          name: 'level',
          title: 'ตำแหน่ง',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'brand_id',
          title: 'Brand',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'actions',
          title: 'Actions',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        }
      ],
      moreParams: {}
    }
  },
  computed:{
    showBtnCreate: function(){
      if(this.brand){
        return true;
      }else{
        return false;
      }
    }
  },
  methods: {
    getBrands(){
      axios.get('/admin/api/brand')
        .then( (response)=> {
          var data = response.data.data;
          for(var i = 0; i < data.length; i++){
            var option = [];
            option["value"] = data[i]['id'];
            option["text"] = data[i]['name'];
            this.brands.push(Object.assign({},option));
          }
        });
    },
    onBrandChange(brandId){
      this.moreParams = {
            'query': brandId
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh())
    },
    onCreate (value) {
      this.$toasted.info('เพิ่มเรทเปิดบิลสำเร็จ', {
          action: [
            {
              text: 'Cancel',
              onClick: (e, toastObject) => {
                toastObject.goAway(0);
              }
            }
          ]
      });
      this.onBrandChange(this.brand);
    },
  },
  created() {
    this.getBrands();
  }
};
</script>
