<template>
  <div class="tables-basic">
      <h2 class="page-title">ตั้งค่า - <span class="fw-semi-bold">แบรนด์ที่ถูกลบ</span></h2>
    <b-row>
      <b-col>
        <Widget :fetchingData=loading>
          <div class="table-resposive">
            <table class="table">
              <thead>
                <tr>
                  <th class="hidden-sm-down">#</th>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>Desc</th>
                  <th class="hidden-sm-down">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for=" (brand, index) in this.brands"  v-bind:key="brand.id">
                  <td>{{index+1}}</td>
                  <td v-if="brand.image">
                     <img class="img-rounded" :src="brand.path" alt="" height="50" />
                  </td>
                  <td v-if="!brand.image" >
                    <img class="img-rounded" src="/image/public/default/0/defaul-image-1x1.png" alt="" height="50" />
                  </td>
                  <td>
                    <b>{{ brand.name }}</b> <br>
                    <b>{{ brand.eng_name }}</b>
                    <p class="mb-0">
                      <small>
                        <span class="text-muted">Slug:</span>
                        <span class="text-muted">&nbsp; {{ brand.slug }}</span>
                      </small>
                    </p>
                    <p class="mb-0">
                      <small>
                        <span class="text-muted">Deleted: Date</span>
                        <span class="text-muted">&nbsp;  {{  moment(brand.deleted_at) }}</span>
                      </small>
                    </p>
                  </td>
                  <td>
                    {{ filterText(brand.desc, 100) }}
                  </td>
                  <td class="">
                    <b-button size="sm" class="mr-2" variant="gray"  @click="undoBrand(brand.id,brand.name)">
                    <font-awesome-icon icon="undo" /> Undo
                    </b-button>
                    <b-button size="sm"  variant="danger"  @click="deleteBrand(brand.id,brand.name)">
                       <font-awesome-icon icon="trash-alt" /> Delete
                    </b-button>
                  </td>
                </tr>
                <tr  v-if="!brands">
                  <td colspan="5" class="text-center"> No Data</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix">
            <div class="">
              <router-link to="/setting/brand">
              <b-button variant="gray">Back</b-button>
              </router-link>
            </div>
          </div>
        </Widget>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'BrandTrash',
  data() {
    return {
      brands: {},
      loading: false,
    }
  },
  components: {
  },
  methods: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY, h:mm');
    },
    deleteBrand(id,name){
      this.$swal.fire({
        title: 'Are you sure?',
        text: "คุณต้องการลบแบรนด์ "+name+" ถาวรหรือไม่",
        icon: 'warning',
        footer: '*ข้อมูลเปิดตัวแทน, สายงาน, รูปภาพ, วิดิโอ ของแบรนด์นี้จะถูกลบทั้งหมด',
        showCancelButton: true,
        confirmButtonColor: '#FD5F00',
        confirmButtonText: 'Yes, delete it!',
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.delete('/admin/api/brand/force-delete/'+id)
            .then(response => {
                this.getData();
            })
            .catch(error => {
              this.$swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
        },
        allowOutsideClick: () => !Swal.isLoading()
      }).then((result) => {
        if (result.isConfirmed) {
          this.$swal.fire(
            'Deleted!',
            'ลบแบรนด์ '+name+ ' สำเร็จ',
            'success'
          )
        }
      })
    },
    undoBrand(id,name){
      this.$swal.fire({
        title: 'Are you sure?',
        text: "คุณต้องการยกเลิกการลบ "+name+" หรือไม่",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, restore it.',
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.get('/admin/api/brand/restore/'+id)
            .then(response => {
                this.getData();
            })
            .catch(error => {
              this.$swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
        },
        allowOutsideClick: () => !Swal.isLoading()
      }).then((result) => {
        if (result.isConfirmed) {
          this.$swal.fire(
            'Deleted!',
            'ลบยกเลิกการลบ '+name+ ' สำเร็จ',
            'success'
          )
        }
      })
    },
    getData(){
      this.loading = true;
          axios.get('/admin/api/brand/trash')
              .then( (response)=> {
                this.brands = response.data.data;
              })
              .finally(() => this.loading = false);
    },
    filterText(text, length, clamp){
      clamp = clamp || '...';
      var node = document.createElement('div');
      node.innerHTML = text;
      var content = node.textContent;
      return content.length > length ? content.slice(0, length) + clamp : content;
    }
  },
  created() {
    this.getData();
  }
};
</script>