<template>
  <div class="tables-basic">
      <h2 class="page-title">
        <span v-if="!form.id">เพิ่ม</span>
        <span v-if="form.id">แก้ไข</span>
         - <span class="fw-semi-bold">แบรนด์</span></h2>
    <b-row>
      <b-col>
        <Widget :fetchingData=loading>
          <b-form @submit="onSubmit" enctype="multipart/form-data">
              <b-form-group
                id="field-name"
                label="ชื่อแบรนด์"
                label-for="name"
                :invalid-feedback="form.errors.get('name')"
                :state="checkValidate(form.errors.has('name'))"
              >
                <b-form-input 
                  id="name" 
                  v-model="form.name"  
                  :state="checkValidate(form.errors.has('name'))"
                  @keydown="form.errors.clear('name')"></b-form-input>
              </b-form-group>
              <b-form-group
                id="field-eng-name"
                label="ชื่อแบรนด์ภาษาอังกฤษ"
                label-for="eng_name"
                :invalid-feedback="form.errors.get('eng_name')"
                :state="checkValidate(form.errors.has('eng_name'))"
              >
                <b-form-input 
                  id="eng_name" 
                  v-model="form.eng_name"  
                  :state="checkValidate(form.errors.has('eng_name'))"
                  @keydown="form.errors.clear('eng_name')"></b-form-input>
              </b-form-group>
              <b-form-group
                v-if="form.id"
                id="field-slug"
                label="Slug"
                label-for="slug"
                :invalid-feedback="form.errors.get('slug')"
                :state="checkValidate(form.errors.has('slug'))"
                description="slug คือชื่อแบรนด์ที่แสดงใน Url ของเว็บไซต์เช่น www.msgybthailand.com/brand_xxx"
              >
                <b-form-input 
                    id="slug" 
                    v-model="form.slug"  
                    :state="checkValidate(form.errors.has('slug'))"
                    @keydown="form.errors.clear('slug')"></b-form-input>
              </b-form-group>
              <b-form-group
                id="field-desc"
                label="คำอธิบายแบรนด์"
                label-for="desc"
                :invalid-feedback="form.errors.get('desc')"
                :state="checkValidate(form.errors.has('desc'))"
              >
              <b-form-textarea
                  id="desc"
                  v-model="form.desc"
                  placeholder="Enter something..."
                  rows="3"
                  max-rows="10"
                  :state="checkValidate(form.errors.has('desc'))"
                  @keydown="form.errors.clear('desc')"
                ></b-form-textarea>
              </b-form-group>
              <b-form-group
                id="field-image"
                label="รูปภาพโลโก้แบรนด์"
                label-for="image"
                :invalid-feedback="form.errors.get('image')"
                :state="checkValidate(form.errors.has('image'))"
                description="ขนาดรูปแนะนำ 420 x 92 px"
              >
                <b-form-file
                    id="image"
                    v-model="form.image"
                    :state="checkValidate(form.errors.has('image'))"
                    placeholder="Choose a file or drop it here..."
                    drop-placeholder="Drop file here..."
                    @change="onFileChange"
                  ></b-form-file>
              </b-form-group>
            <div class="col-12">
            <b-img class="mt-3" fluid center  v-if="form.url" :src="form.url" alt="Image 1"></b-img>
            </div>
            <br>
            <router-link to="/setting/brand">
              <b-button type="button" variant="gray" >Back</b-button>
            </router-link>
            <b-button type="submit" class="float-right" variant="success" >Submit</b-button>
          </b-form>
        </Widget>
      </b-col>
    </b-row>
  </div>
</template>

<script>

export default {
  name: 'BrandCreate',
  data() {
    return {
      form: new Form({
          id: '',
          name: '',
          eng_name: '',
          slug: '',
          desc: '',
          image: null,
          url: null
      }),
      loading: false,
    }
  },
  methods: {
    checkValidate(error) {
      if(error){
        return false;
      }else{
        return null;
      }
    },
    onSubmit(){
      let data = new FormData();
      data.append('name', this.form.name);
      data.append('eng_name', this.form.eng_name);
      data.append('desc', this.form.desc);
      if(document.getElementById('image').files[0]){
          data.append('image', document.getElementById('image').files[0]);
      }
      this.loading = true;
      if(this.form.id){
        data.append('id', this.form.id);
        data.append('slug', this.form.slug);
        data.append('_method', 'PATCH');
        axios.post('/admin/api/brand/'+this.form.id, data )
            .then( (response)=> {
              this.form.name = response.data.name;
              this.form.slug = response.data.slug;
              if(response.data.image){
                this.form.url = response.data.path;
              }
              this.form.errors.clear();
              this.$toasted.success('แก้ไขแบรนด์ '+response.data.name+' สำเร็จ ', {
                action: [
                  {
                    text: 'Cancel',
                    onClick: (e, toastObject) => {
                      toastObject.goAway(0);
                    }
                  }
                ]
              });
            })
            .catch(error =>  {
              this.form.errors.record(error.response.data);
              this.form.url = null;
            })
            .finally(() => this.loading = false);
      }else{
        axios.post('/admin/api/brand', data)
            .then( (response)=> {
                this.form.name = '';
                this.form.eng_name = '';
                this.form.desc = '';
                this.form.image = null;
                this.form.url = null;
                this.form.errors.clear();
                this.$cookies.set("success","เพิ่มแบรนด์ "+ response.data.name+" สำเร็จ!",5); 
                window.location.href = '/admin/#/setting/brand';
            })
            .catch(error =>  {
              this.form.errors.record(error.response.data);
              this.form.url = null;
            })
            .finally(() => this.loading = false);
      }
    },
    onFileChange(e) {
      this.form.errors.clear('image')
      if(e.target.files[0]){
        const file = e.target.files[0];
        this.form.url = URL.createObjectURL(file);
      }else{
        this.form.url = null;
      }
    }
  },
  created() {
    if(this.$route.params.id) {
      this.form.id = this.$route.params.id;
      this.loading = true;
      axios.get('/admin/api/brand/'+this.form.id)
          .then( (response)=> {
            if(response.data.data.id){
              let data = response.data.data;
              this.form.name = data.name;
              this.form.eng_name = data.eng_name;
              this.form.slug = data.slug;
              this.form.desc = data.desc;
              if(data.image){
                this.form.url = data.path;
              }
            }else{
              this.$cookies.set("info","ไม่พบแบรนที่ท่านต้องการ ",5); 
              window.location.href = '/admin/#/setting/brand';
            }
          })
          .finally(() => this.loading = false);
    }
  }
};
</script>