// Top navbar
  .header_menu_item {
    cursor: pointer;
    z-index: 2;
  }
  .header_menu_link_list {
    display: none;
    position: absolute;
    padding-top: 20px;
  }

  .header_menu_item {
      @media (max-width: 1199px) {
          &.is-active{
              .header_menu_link_list {
                  display: block;
              }
          }
      }
      @media (min-width: 1200px) {
          &:hover{
              .header_menu_link_list {
                  display: block;
              }
          }
      }
  }


  .header_menu_link_items {
      min-width: 140px;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      border: 1px solid var(--color-grey2);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: var(--color-white);
  }

  .header_lang_menu_item:not(:first-child) {
      margin-top: 10px;
  }

  .header_lang_link {
      display: flex;
      align-items: center;
  }

  .header_lang_link_flag {
      flex: 0 0 20px;
      width: 20px;
      margin-right: 10px;
  }

  .header_lang_link_text {
      flex: 1 1 auto;
      min-width: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  .header_menu_sub_link {
      display: flex;
      align-items: center;
  }

  .header_menu_sub_link_text {
      flex: 1 1 auto;
      min-width: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 10px;
  }

  .header_menu_link_item:not(:first-child) {
    margin-top: 10px;
  }

  .header_lang_items {
       min-width: 200px;
  }

//  logo brand
.logo-brand {
    width:80px !important;
    @media (min-width: 576px) and (max-width: 767.98px) {
        width:100px;
    }

    @media (max-width: 575.98px) {
        position: relative;
        width:90px;
        left: 1%;
    }
}
.text-logo {
    font-family: --font-secondary;
    max-width: 400px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 1px;
    word-spacing: 2px;
    &:hover, &:active, &:focus{
        color:#fff;
        text-decoration: none;
    }
    @media (min-width: 1200px) {
        padding-top: 7px;
    }
}

.top-text-nav-user {
    color:#fff;
    &:hover, &:active, &:focus{
        color:#fff;
        font-weight: 500;
    }
}
.top-text-nav-user-sub {
    color:#364A15;
    &:hover, &:active, &:focus{
        color:#618626;
        font-weight: 500;
    }
}

a.text-nav-user, .text-nav-user {
    color:#fff;
    &:hover, &:active, &:focus{
        color:#fff;
        font-weight: 500;
    }
    @media (max-width: 1199px) {
        color: #364A15;
        &:hover, &:active, &:focus{
            color:#618626;
            font-weight: 500;
        }
    }
}

a.text-nav-user-sub, .text-nav-user-sub {
    color:#364A15;
    &:hover, &:active, &:focus{
        color:#618626;
        font-weight: 500;
    }
    @media (max-width: 1199px) {
        background-color: #F2F2EE;
    }
}

.icon-navbar-mobile {
    background-color: #575942;
    color: white;
}

// End Top navbar
