<template>
    <div>
        <b-modal id="show-user" 
            size="lg" 
            header-bg-variant="light"
            footer-bg-variant="light"
            no-stacking 
            title="Profile">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <b-img-lazy v-if="userData && userData.user && userData.user.path_img"
                            class="profile-image mb-4"
                            :src="userData.user.path_img" 
                            :data-srcset="userData.user.path_img +' 1x,' + userData.user.path_img + ' 2x'" 
                            center 
                            thumbnail rounded
                            alt="profile"
                            > </b-img-lazy>
                            <hr>
                    </div>
                </div>
                <div class="row mt-3" v-if="userData && userData.user">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                ตำแหน่ง
                            </div>
                            <div class="col-md-10 mb-2">
                                : {{userData.text_level}} [ {{userData.brand.name}} ] 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                Member ID
                            </div>
                            <div class="col-md-10 mb-2">
                                : {{userData.id}}
                            </div>
                        </div>
                        <div class="row" v-if="userData.get_members && userData.get_members.length > 0">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                ลูกทีม
                            </div>
                            <div class="col-md-10 mb-2">
                                : {{userData.get_members.length}} คน
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                ชื่อ-สกุล
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.firstname}}  {{userData.user.lastname}}
                            </div>
                            <div class="col-md-2 mb-2 font-weight-bold">
                                ชื่อเล่น
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.nickname}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                อายุ
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.age}}
                            </div>
                            <div class="col-md-2 mb-2 font-weight-bold">
                                เพศ
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.gender_text}}
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                ID Card
                            </div>
                            <div class="col-md-10 mb-2">
                                : <a class="vue-a-href"  
                                    v-if="userData.user.path_idcard_img"  
                                    :href="userData.user.path_idcard_img" target="_blank" >
                                    <font-awesome-icon icon="link" /> รูปบัตรประชาชน  
                                  </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr> <br>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                Email
                            </div>
                            <div class="col-md-10 mb-2">
                                : {{userData.user.email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                Phone
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.phone}}
                            </div>
                            <div class="col-md-2 mb-2 font-weight-bold">
                                Instragram
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.instragram}}
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                Facebook
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.facebook}}
                            </div>
                            <div class="col-md-2 mb-2 font-weight-bold">
                                Line
                            </div>
                            <div class="col-md-4 mb-2">
                                : {{userData.user.line}}
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-2 mb-2 font-weight-bold">
                                QR Line
                            </div>
                            <div class="col-md-10 mb-2">
                                : <a class="vue-a-href"  
                                    v-if="userData.user.path_qrcode_line_img"  
                                    :href="userData.user.path_qrcode_line_img" target="_blank" >
                                    <font-awesome-icon icon="link" /> LINE IMAGE  
                                  </a>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <hr> <br>
                            </div>
                        </div> 
                        <div class="row"  v-if="userData.user.address">
                            <div class="col-md-3 mb-2 font-weight-bold">
                                ที่อยู่
                            </div>
                            <div class="col-md-9 mb-2">
                                : {{userData.user.address.full_address}}
                            </div>
                        </div>   
                        <div class="row"  v-if="userData.user.deli_address">
                            <div class="col-md-3 mb-2 font-weight-bold">
                                ที่อยู่จัดส่งสินค้า
                            </div>
                            <div class="col-md-9 mb-2">
                                : {{userData.user.deli_address.full_address}}
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-12">
                                <hr> <br>
                            </div>
                        </div>   
                        <div class="row"  >
                            <div class="col-md-12 mb-2 font-weight-bold">
                                เคยใช้สินค้าหรือไม่
                            </div>
                            <div class="col-md-12 mb-2">
                                :  <span class="" v-if="userData.used=='used'">เคย</span>
                                   <span class="" v-if="userData.used=='never'">ไม่เคย</span>
                            </div>
                            <div class="col-md-12 mb-2 font-weight-bold">
                                รู้อะไรเกี่ยวกับสินค้าตัวนี้บ้าง
                            </div>
                            <div class="col-md-12 mb-2">
                                :  {{userData.know}}
                            </div>
                            <div class="col-md-12 mb-2 font-weight-bold">
                                เพราะอะไรจึงเลือกมาสมัครตัวแทน
                            </div>
                            <div class="col-md-12 mb-2">
                                :  {{userData.why_choose}}
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <template #modal-footer>
                <div class="w-100">
                    <p class="float-left">วันที่สมัคร  {{moment(userData.created_at)}}</p>
                    <b-button
                        size="sm"
                        class="btn-green-1 float-right"
                        @click="$bvModal.hide('show-user')"
                    >
                        Close
                    </b-button>
                </div>
            </template>
        </b-modal>
    </div>
</template>
<script>
import moment from 'moment'

export default {
    name: 'ShowUser',
    props : [
        'userData'
    ],
    data() {
        return {
        };
    }, 
    methods: {
      moment: function (date) {
        return moment(date).format('DD/MM/YYYY');
        },
    }
};
</script>