<template>
    <div>
        <div class="section section-login">
			<div class="grid">
				<div class="grid_row">
					<div class="grid_col is-12 is-lg-6">
						<b-overlay :show="loading" rounded="sm"> 
						<form>
							<div class="grid">
								<div class="grid_row is-30 is-md-40">
									<div class="grid_col is-12">
										<h3 class="text-secondary">เปลี่ยนรหัสผ่าน</h3>
									</div>
									<div class="grid_col is-12 text-left">
										<b-form-group
											id="field-current_password"
											:invalid-feedback="form.errors.get('current_password')"
											:state="checkValidate(form.errors.has('current_password'))"
											>
											<label class="form_label">Current Password <span class="form_label_require">*</span></label>
											<b-form-input
												id="current_password-input"
												name="current_password-input"
												v-model="form.current_password"
												type="password"
												class="form_control_input"
												:state="checkValidate(form.errors.has('current_password'))"
												aria-describedby="current-password-live-feedback"
												placeholder="Enter your current password ..."
												@keydown="form.errors.clear('current_password')"
												></b-form-input>
										</b-form-group>
									</div>
									<div class="grid_col is-12 text-left">
										<b-form-group
											id="field-new_password"
											:invalid-feedback="form.errors.get('new_password')"
											:state="checkValidate(form.errors.has('new_password'))"
											>
											<label class="form_label">New Password <span class="form_label_require">*</span></label>
											<b-form-input
												id="new_password-input"
												name="new_password-input"
												v-model="form.new_password"
												type="password"
												class="form_control_input"
												:state="checkValidate(form.errors.has('new_password'))"
												aria-describedby="new-password-live-feedback"
												placeholder="Enter your new password ..."
												@keydown="form.errors.clear('new_password')"
												></b-form-input>
										</b-form-group>
									</div>
                                    <div class="grid_col is-12 text-left">
										<b-form-group
											id="field-new_confirm_password"
											:invalid-feedback="form.errors.get('new_confirm_password')"
											:state="checkValidate(form.errors.has('new_confirm_password'))"
											>
											<label class="form_label">Confirm New Password <span class="form_label_require">*</span></label>
											<b-form-input
												id="new_confirm_password-input"
												name="new_confirm_password-input"
												v-model="form.new_confirm_password"
												type="password"
												class="form_control_input"
												:state="checkValidate(form.errors.has('new_confirm_password'))"
												aria-describedby="confirm-new-password-live-feedback"
												placeholder="Enter your confirm new password ..."
												@keydown="form.errors.clear('new_confirm_password')"
												></b-form-input>
										</b-form-group>
									</div>
									<div class="grid_col is-12">
										<div class="grid">
											<div class="grid_row is-30 is-md-40">
												<div class="grid_col is-12 is-sm-6">
													<button class="button is-block btn-green" type="button" @click="onSubmit()">
														<span class="button_text">Confirm</span>
														<span class="button_icon icon is-next"></span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						<template #overlay>
							<div class="text-center">
							<b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon>
							<p id="cancel-label">Please wait...</p>
							</div>
      					</template>
						</b-overlay>
					</div>
				</div>
			</div>
		</div>
    </div>
</template>

<script>
import { BIcon, BIconStopwatch  } from 'bootstrap-vue';
const Swal = require('sweetalert2');

export default {
	name: 'ChangePassword',
	components: {
		BIcon,
		BIconStopwatch
	},
	data() {
        return {
			form: new Form({
				current_password: '',
				new_password: '',
				new_confirm_password: ''
			}),
			loading: false
		}
	},
	methods: {
		checkValidate(error) {
			if(error){
				return false;
			}else{
				return null;
			}
		},
		onSubmit(){
			let data = new FormData();
			data.append('current_password', this.form.current_password);
			data.append('new_password', this.form.new_password);
			data.append('new_confirm_password', this.form.new_confirm_password);
			this.loading = true;
			axios.post('/api-change-password', data)
				.then( (response)=> {
					this.form.current_password = '';
					this.form.new_password = '';
					this.form.new_confirm_password = '';
					this.form.errors.clear();
					Swal.fire({
						icon: 'success',
						text: 'คุณได้เปลี่ยนรหัสผ่านเรียบร้อยแล้ว',
						confirmButtonColor: '#575942'
						});
				})
				.catch(error =>  {
					this.form.errors.record(error.response.data);
				})
				.finally(() => this.loading = false);
		},
	}
}
</script>
