<template>
    <div class="grid_col is-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 p-md-0 mt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <b-img-lazy v-if="profileImg"
                                    class="profile-image"
                                    :src="profileImg" 
                                    :data-srcset="profileImg +' 1x,' + profileImg + ' 2x'" 
                                    alt="profile"
                                    center
                                    > </b-img-lazy>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2 mt-4">
                                <b-list-group>
                                    <b-list-group-item href="/profile">ข้อมูลส่วนตัว</b-list-group-item>
                                    <b-list-group-item href="/profile/edit" active>แก้ไขข้อมูลส่วนตัว</b-list-group-item>
                                    <b-list-group-item href="/profile/change-password">เปลี่ยนรหัสผ่าน</b-list-group-item>
                                </b-list-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mt-4">
                        <b-overlay :show="loading" rounded="sm" opacity="0.5"> 
                        <b-tabs>
                            <b-tab title="Profile" active>
                                <div class="profile-detail-box p-3">
                                    <form name="prifile-form" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-firstname"
                                                    :invalid-feedback="form.errors.get('firstname')"
                                                    :state="checkValidate(form.errors.has('firstname'))"
                                                    >
                                                    <label class="form_label text-left">ชื่อ <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="firstname-input"
                                                        name="firstname-input"
                                                        v-model="form.firstname"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('firstname'))"
                                                        @keydown="form.errors.clear('firstname')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-lastname"
                                                    :invalid-feedback="form.errors.get('lastname')"
                                                    :state="checkValidate(form.errors.has('lastname'))"
                                                    >
                                                    <label class="form_label text-left">นามสกุล <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="lastname-input"
                                                        name="lastname-input"
                                                        v-model="form.lastname"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('lastname'))"
                                                        @keydown="form.errors.clear('lastname')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-nickname"
                                                    :invalid-feedback="form.errors.get('nickname')"
                                                    :state="checkValidate(form.errors.has('nickname'))"
                                                    >
                                                    <label class="form_label text-left">ชื่อเล่น <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="nickname-input"
                                                        name="nickname-input"
                                                        v-model="form.nickname"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('nickname'))"
                                                        @keydown="form.errors.clear('nickname')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-age"
                                                    :invalid-feedback="form.errors.get('age')"
                                                    :state="checkValidate(form.errors.has('age'))"
                                                    >
                                                    <label class="form_label text-left">อายุ</label>
                                                    <b-form-input
                                                        id="age-input"
                                                        name="age-input"
                                                        v-model="form.age"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('age'))"
                                                        @keydown="form.errors.clear('age')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left">
                                                <b-form-group
                                                    id="field-gender"
                                                    :invalid-feedback="form.errors.get('gender')"
                                                    :state="checkValidate(form.errors.has('gender'))"
                                                    >
                                                    <label class="form_label text-left">เพศ <span class="form_label_require">*</span></label>
                                                    <b-form-radio-group 
                                                        v-model="form.gender" 
                                                        :options="optionsGender" 
                                                        @change="form.errors.clear('gender')"
                                                        name="radio-gender">
                                                    </b-form-radio-group>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-phone"
                                                    :invalid-feedback="form.errors.get('phone')"
                                                    :state="checkValidate(form.errors.has('phone'))"
                                                    >
                                                    <label class="form_label text-left">เบอร์โทรศัพท์ <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="phone-input"
                                                        name="phone-input"
                                                        v-model="form.phone"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('phone'))"
                                                        @keydown="form.errors.clear('phone')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b-form-group
                                                    id="field-email"
                                                    :invalid-feedback="form.errors.get('email')"
                                                    :state="checkValidate(form.errors.has('email'))"
                                                    >
                                                    <label class="form_label text-left">Email Address <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="email-input"
                                                        name="email-input"
                                                        v-model="form.email"
                                                        type="email"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('email'))"
                                                        @keydown="form.errors.clear('email')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b-form-group
                                                    id="field-img"
                                                    label-for="image"
                                                    :invalid-feedback="form.errors.get('img')"
                                                    :state="checkValidate(form.errors.has('img'))"
                                                    >
                                                    <label class="form_label text-left">รูปโปรไฟล์</label>
                                                    <b-form-file
                                                        id="image"
                                                        v-model="form.img"
                                                        :state="checkValidate(form.errors.has('img'))"
                                                        placeholder="Choose a file or drop it here..."
                                                        drop-placeholder="Drop file here..."
                                                        @change="form.errors.clear('img')"
                                                        accept="image/*"
                                                        ></b-form-file>
                                                </b-form-group>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-green float-right" type="button"  @click="onSubmit()">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </b-tab>
                            <!-- Tab 2 -->
                            <b-tab title="Social">
                                <div class="profile-detail-box p-3">
                                    <b-form enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-facebook"
                                                    :invalid-feedback="form.errors.get('facebook')"
                                                    :state="checkValidate(form.errors.has('facebook'))"
                                                    >
                                                    <label class="form_label text-left">Facebook</label>
                                                    <b-form-input
                                                        id="facebook-input"
                                                        name="facebook-input"
                                                        v-model="form.facebook"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('facebook'))"
                                                        @keydown="form.errors.clear('facebook')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-instragram"
                                                    :invalid-feedback="form.errors.get('instragram')"
                                                    :state="checkValidate(form.errors.has('instragram'))"
                                                    >
                                                    <label class="form_label text-left">Instragram</label>
                                                    <b-form-input
                                                        id="instragram-input"
                                                        name="instragram-input"
                                                        v-model="form.instragram"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('instragram'))"
                                                        @keydown="form.errors.clear('instragram')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-line"
                                                    :invalid-feedback="form.errors.get('line')"
                                                    :state="checkValidate(form.errors.has('line'))"
                                                    >
                                                    <label class="form_label text-left">Line <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="line-input"
                                                        name="line-input"
                                                        v-model="form.line"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('line'))"
                                                        @keydown="form.errors.clear('line')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-qrcode_line_img"
                                                    label-for="qrcode_line_img"
                                                    :invalid-feedback="form.errors.get('qrcode_line_img')"
                                                    :state="checkValidate(form.errors.has('qrcode_line_img'))"
                                                    >
                                                    <label class="form_label text-left">Qrcode Line</label>
                                                    <b-form-file
                                                        id="qrcode_line_img"
                                                        v-model="form.qrcode_line_img"
                                                        :state="checkValidate(form.errors.has('qrcode_line_img'))"
                                                        placeholder="Choose a file or drop it here..."
                                                        drop-placeholder="Drop file here..."
                                                        @change="form.errors.clear('qrcode_line_img')"
                                                        accept="image/*"
                                                        ></b-form-file>
                                                </b-form-group>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 mt-4 mx-auto">
                                                <b-img-lazy 
                                                    v-if="lineImg"
                                                    v-bind="{width: 300}" 
                                                    :src="lineImg" 
                                                    fluid 
                                                    alt="line">
                                                </b-img-lazy>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-green float-right" type="button"  @click="onSubmitSocial()">Update</button>
                                            </div>
                                        </div>
                                    </b-form>
                                </div>
                            </b-tab>
                            <!-- Tab 3 -->
                            <b-tab title="Address" class="profile-detail-box">
                                <div class="profile-detail-box p-3">
                                    <b-form>
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h5>ที่อยู่ปัจจุบัน</h5> <br>
                                            </div>
                                            <div class="col-md-12">
                                                <b-form-group
                                                    id="field-add_address"
                                                    :invalid-feedback="form.errors.get('add_address')"
                                                    :state="checkValidate(form.errors.has('add_address'))"
                                                    >
                                                    <label class="form_label text-left">ที่อยู่ <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="add_address-input"
                                                        name="add_address-input"
                                                        v-model="form.add_address"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('add_address'))"
                                                        @keydown="form.errors.clear('add_address')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-add_subdistrict"
                                                    :invalid-feedback="form.errors.get('add_subdistrict')"
                                                    :state="checkValidate(form.errors.has('add_subdistrict'))"
                                                    >
                                                    <label class="form_label text-left">ตำบล / แขวง <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="add_subdistrict-input"
                                                        name="add_subdistrict-input"
                                                        v-model="form.add_subdistrict"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('add_subdistrict'))"
                                                        @keydown="form.errors.clear('add_subdistrict')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-add_district"
                                                    :invalid-feedback="form.errors.get('add_district')"
                                                    :state="checkValidate(form.errors.has('add_district'))"
                                                    >
                                                    <label class="form_label text-left">อำเภอ / เขต <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="add_district-input"
                                                        name="add_district-input"
                                                        v-model="form.add_district"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('add_district'))"
                                                        @keydown="form.errors.clear('add_district')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-add_province"
                                                    :invalid-feedback="form.errors.get('add_province')"
                                                    :state="checkValidate(form.errors.has('add_province'))"
                                                    >
                                                    <label class="form_label text-left">จังหวัด <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="add_province-input"
                                                        name="add_province-input"
                                                        v-model="form.add_province"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('add_province'))"
                                                        @keydown="form.errors.clear('add_province')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-add_zipcode"
                                                    :invalid-feedback="form.errors.get('add_zipcode')"
                                                    :state="checkValidate(form.errors.has('add_zipcode'))"
                                                    >
                                                    <label class="form_label text-left">รหัสไปรษณีย์ <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="add_zipcode-input"
                                                        name="add_zipcode-input"
                                                        v-model="form.add_zipcode"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidate(form.errors.has('add_zipcode'))"
                                                        @keydown="form.errors.clear('add_zipcode')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h5>ที่อยู่สำหรับจัดส่งสินค้า</h5>
                                                <b-form-checkbox
                                                    id="checkbox-sameaddress"
                                                    v-model="sameAddress"
                                                    name="checkbox-sameaddress"
                                                    :value="true"
                                                    :unchecked-value="false"
                                                    >
                                                    ใช้ที่อยู่เดียวกับที่อยู่ปัจจุบัน
                                                </b-form-checkbox>
                                                <br>
                                            </div>
                                            <div class="col-md-12">
                                                <b-form-group
                                                    id="field-deli_address"
                                                    :invalid-feedback="form.errors.get('deli_address')"
                                                    :state="checkValidateDeli(form.errors.has('deli_address'))"
                                                    :disabled="sameAddress"
                                                    >
                                                    <label class="form_label text-left">ที่อยู่ <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="deli_address-input"
                                                        name="deli_address-input"
                                                        v-model="form.deli_address"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidateDeli(form.errors.has('deli_address'))"
                                                        @keydown="form.errors.clear('deli_address')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-deli_subdistrict"
                                                    :invalid-feedback="form.errors.get('deli_subdistrict')"
                                                    :state="checkValidateDeli(form.errors.has('deli_subdistrict'))"
                                                    :disabled="sameAddress"
                                                    >
                                                    <label class="form_label text-left">ตำบล / แขวง <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="deli_subdistrict-input"
                                                        name="deli_subdistrict-input"
                                                        v-model="form.deli_subdistrict"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidateDeli(form.errors.has('deli_subdistrict'))"
                                                        @keydown="form.errors.clear('deli_subdistrict')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-deli_district"
                                                    :invalid-feedback="form.errors.get('deli_district')"
                                                    :state="checkValidateDeli(form.errors.has('deli_district'))"
                                                    :disabled="sameAddress"
                                                    >
                                                    <label class="form_label text-left">อำเภอ / เขต <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="deli_district-input"
                                                        name="deli_district-input"
                                                        v-model="form.deli_district"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidateDeli(form.errors.has('deli_district'))"
                                                        @keydown="form.errors.clear('deli_district')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-deli_province"
                                                    :invalid-feedback="form.errors.get('deli_province')"
                                                    :state="checkValidateDeli(form.errors.has('deli_province'))"
                                                    :disabled="sameAddress"
                                                    >
                                                    <label class="form_label text-left">จังหวัด <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="deli_province-input"
                                                        name="deli_province-input"
                                                        v-model="form.deli_province"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidateDeli(form.errors.has('deli_province'))"
                                                        @keydown="form.errors.clear('deli_province')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                            <div class="col-md-6">
                                                <b-form-group
                                                    id="field-deli_zipcode"
                                                    :invalid-feedback="form.errors.get('deli_zipcode')"
                                                    :state="checkValidateDeli(form.errors.has('deli_zipcode'))"
                                                    :disabled="sameAddress"
                                                    >
                                                    <label class="form_label text-left">รหัสไปรษณีย์ <span class="form_label_require">*</span></label>
                                                    <b-form-input
                                                        id="deli_zipcode-input"
                                                        name="deli_zipcode-input"
                                                        v-model="form.deli_zipcode"
                                                        type="text"
                                                        class="form_control_input"
                                                        :state="checkValidateDeli(form.errors.has('deli_zipcode'))"
                                                        @keydown="form.errors.clear('deli_zipcode')"
                                                        ></b-form-input>
                                                </b-form-group>
                                            </div>
                                        </div>                            
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-green float-right" type="button"  @click="onSubmitAddress()">Update</button>
                                            </div>
                                        </div>
                                    </b-form>
                                </div>
                            </b-tab>
                        </b-tabs>
                        <template #overlay>
                            <div class="text-center">
                                <b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon>
                                <p id="cancel-label">Please wait...</p>
                            </div>
                        </template>
                        </b-overlay>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const Swal = require('sweetalert2');
import { BIcon, BIconStopwatch  } from 'bootstrap-vue';

export default {
    name: 'EditUserProfile',
    components: {
        BIcon,
        BIconStopwatch,
    },
    data() {
        return {
            form: new Form({
                id: '',
				firstname: '',
				lastname: '',
				nickname: '',
				email: '',
				gender: '',
				age: '',
				phone: '',
                img: null,
                line: '',
                facebook: '',
                instragram: '',
                qrcode_line_img: null,
                address_id: '',
                deli_address_id: '',
                add_address: '',
                add_subdistrict: '',
                add_district: '',
                add_province: '',
                add_zipcode: '',
                deli_address: '',
                deli_subdistrict: '',
                deli_district: '',
                deli_province: '',
                deli_zipcode: '',
            }),
            profileImg: '',
            lineImg: '',
            loading: false,
            optionsGender: [
                { text: 'ชาย', value: 'male' },
                { text: 'หญิง', value: 'female' }
            ],
            sameAddress: false,
        }
    },
    methods: {
        addDataForm(data){
            this.form.id = data.id;
            this.form.firstname = data.firstname;
            this.form.lastname = data.lastname;
            this.form.nickname = data.nickname;
            this.form.email = data.email;
            this.form.gender = data.gender;
            this.form.age = data.age;
            this.form.phone = data.phone;
            this.profileImg = data.path_img;

            this.form.line = data.line;
            this.form.facebook = data.facebook;
            this.form.instragram = data.instragram;
            this.lineImg = data.path_qrcode_line_img;

            this.form.address_id = data.address_id;
            this.form.deli_address_id = data.deli_address_id;
            if(data.address){
                let address = data.address;
                this.form.add_address = address.address;
                this.form.add_subdistrict = address.subdistrict;
                this.form.add_district = address.district;
                this.form.add_province = address.province;
                this.form.add_zipcode = address.zipcode;
            }  
            if(data.deli_address){
                let deliAddress = data.deli_address;
                this.form.deli_address = deliAddress.address;
                this.form.deli_subdistrict = deliAddress.subdistrict;
                this.form.deli_district = deliAddress.district;
                this.form.deli_province = deliAddress.province;
                this.form.deli_zipcode = deliAddress.zipcode;
            }    
        },
        getDataUser() {
            axios.get('/api-profile-user')
				.then( (response)=> {
                    let data = response.data;
                    this.addDataForm(data);
				})
				.catch(error =>  {
					Swal.fire({
                        icon: 'error',
                        title: 'ผิดพลาด.',
                        text: 'มีบางอย่างผิดพลาด โปรดติดต่อแอดมิน!!'
                    });
				})
				.finally(() => this.loading = false);
        },
        checkValidate(error) {
			if(error){
				return false;
			}else{
				return null;
			}
        },
        checkValidateDeli(error) {
            if(this.sameAddress == true){
                return null;
            }else{
                if(error){
                    return false;
                }else{
                    return null;
                }
            }
        },
        onSubmit() {
            let data = new FormData();
			data.append('firstname', this.form.firstname);
			data.append('lastname', this.form.lastname);
			data.append('nickname', this.form.nickname);
			data.append('email', this.form.email);
            data.append('gender', this.form.gender);
            if(this.form.age != 'null' && this.form.age != null){
                data.append('age', this.form.age);
            }
            data.append('phone', this.form.phone);
            data.append('_method', 'PATCH');
            if(document.getElementById('image').files[0]){
                data.append('img', document.getElementById('image').files[0]);
            }
			this.loading = true;
			axios.post('/api-profile-user/profile/'+this.form.id, data)
				.then( (response)=> {
                    let data = response.data;
                    this.addDataForm(data);
					this.form.errors.clear();
					Swal.fire({
                        icon: 'success',
                        confirmButtonColor: '#575942',
						text: 'คุณได้แก้ไขโปรไฟล์เรียบร้อยแล้ว',
						});
				})
				.catch(error =>  {
					this.form.errors.record(error.response.data);
				})
				.finally(() => this.loading = false);
        },
        onSubmitSocial() {
            let data = new FormData();
            data.append('line', this.form.line);
            if(this.form.facebook != 'null' && this.form.facebook != null){
                data.append('facebook', this.form.facebook);
            }
            if(this.form.instragram != 'null' && this.form.instragram != null){
                data.append('instragram', this.form.instragram);
            }
            data.append('_method', 'PATCH');
            if(document.getElementById('qrcode_line_img').files[0]){
                data.append('qrcode_line_img', document.getElementById('qrcode_line_img').files[0]);
            }
			this.loading = true;
			axios.post('/api-profile-user/social/'+this.form.id, data)
				.then( (response)=> {
                    let data = response.data;
                    this.addDataForm(data);
					this.form.errors.clear();
					Swal.fire({
                        icon: 'success',
                        confirmButtonColor: '#575942',
						text: 'คุณได้แก้ไขโปรไฟล์เรียบร้อยแล้ว',
					});
				})
				.catch(error =>  {
					this.form.errors.record(error.response.data);
				})
				.finally(() => this.loading = false);
        },
        onSubmitAddress() {
            let data = new FormData();
            data.append('address_id', this.form.address_id);
            data.append('deli_address_id', this.form.deli_address_id);
            data.append('add_address', this.form.add_address);
            data.append('add_subdistrict', this.form.add_subdistrict);
            data.append('add_district', this.form.add_district);
            data.append('add_province', this.form.add_province);
            data.append('add_zipcode', this.form.add_zipcode);
            if(this.sameAddress == true){
                data.append('deli_address', this.form.add_address);
                data.append('deli_subdistrict', this.form.add_subdistrict);
                data.append('deli_district', this.form.add_district);
                data.append('deli_province', this.form.add_province);
                data.append('deli_zipcode', this.form.add_zipcode);
            }else {
                data.append('deli_address', this.form.deli_address);
                data.append('deli_subdistrict', this.form.deli_subdistrict);
                data.append('deli_district', this.form.deli_district);
                data.append('deli_province', this.form.deli_province);
                data.append('deli_zipcode', this.form.deli_zipcode);
            }
            data.append('_method', 'PATCH');
            this.loading = true;
			axios.post('/api-profile-user/address/'+this.form.id, data)
				.then( (response)=> {
                    let data = response.data;
                    this.addDataForm(data);
					this.form.errors.clear();
					Swal.fire({
                        icon: 'success',
                        confirmButtonColor: '#575942',
						text: 'คุณได้แก้ไขโปรไฟล์เรียบร้อยแล้ว',
					});
				})
				.catch(error =>  {
                    this.form.errors.record(error.response.data);
				})
				.finally(() => this.loading = false);
        }
    },
    created() {
        this.getDataUser();
    }
}
</script>
