<template>
    <div class="grid_col is-12">
        <div class="row">
            <div class="col-md-4 p-md-0 mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <b-img-lazy v-if="userData.path_img"
                            class="profile-image"
                            :src="userData.path_img" 
                            :data-srcset="userData.path_img +' 1x,' + userData.path_img + ' 2x'" 
                            center
                            alt="profile"
                            > </b-img-lazy>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <b-list-group>
                            <b-list-group-item href="/profile" active>ข้อมูลส่วนตัว</b-list-group-item>
                            <b-list-group-item href="/profile/edit">แก้ไขข้อมูลส่วนตัว</b-list-group-item>
                            <b-list-group-item href="/profile/change-password">เปลี่ยนรหัสผ่าน</b-list-group-item>
                        </b-list-group>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-md-20 profile-detail-box pb-30 mt-4">
                <div class="ml-md-5">
                    <h2 class="sarabun mb-4">{{ userData.firstname }} {{ userData.lastname }} 
                        <span v-if="userData.nickname">({{userData.nickname}})</span>
                    </h2>
                    <div v-if="userData.members">
                        <p class="sarabun" v-for="member in userData.members" :key="member.id">
                            <b class="sarabun" >{{member.text_level}}</b> [ {{member.brand.name}} ]
                        </p>
                    </div>
                    <div>
                        <hr>
                        <p class="sarabun mt-3"><b>เพศ : </b><span>{{ userData.gender_text }}</span></p>
                        <p class="sarabun mt-3"><b>อายุ : </b><span>{{ userData.age }}</span></p>
                        <p class="sarabun"><b>เบอร์โทร : </b><span>{{ userData.phone }}</span></p>
                        <p class="sarabun"><b>Email : </b><span>{{ userData.email }}</span></p>
                        <p class="sarabun"><b>Instragram : </b><span>{{ userData.instragram }}</span></p>
                        <p class="sarabun"><b>Facebook : </b><span>{{ userData.facebook }}</span></p>
                        <p class="sarabun" v-if="userData.address"><b>ที่อยู่ : </b><span>{{ userData.address.full_address }}</span></p>
                        <p class="sarabun" v-if="userData.deli_address"><b>ที่อยู่จัดส่งสินค้า : </b><span>{{ userData.deli_address.full_address }}</span></p>
                        <hr>
                        <p class="sarabun mt-3"><b>Line : </b><span>{{ userData.line }}</span></p>
                    </div>
                    <div class="col-md-5 mt-4">
                        <b-img-lazy 
                            v-bind="{width: 300}" 
                            :src="userData.path_qrcode_line_img" 
                            fluid 
                            :alt="userData.line">
                        </b-img-lazy>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const Swal = require('sweetalert2');

export default {
    name: 'UserProfile',
    data() {
        return {
            userData: {},
        }
    },
    methods: {
        getDataUser() {
            axios.get('/api-profile-user')
				.then( (response)=> {
                    this.userData = response.data;
				})
				.catch(error =>  {
					Swal.fire({
                        icon: 'error',
                        title: 'ผิดพลาด.',
                        text: 'มีบางอย่างผิดพลาด โปรดติดต่อแอดมิน!!'
                    });
				})
				.finally(() => this.loading = false);
        }
    },
    created() {
        this.getDataUser();
    }
}
</script>
