<template>
    <div>
        <input type="checkbox" id="reloadCB" @click="disabled = (disabled + 1) % 2"> ฉันได้อ่านและยอมรับเงื่อนไขสัญญาแล้ว
        <br>
        <button :disabled="disabled == 0" @click="isGoToRegister()" class="btn btn-green">ยินยอม</button>
    </div>
</template>
<script>
export default {
    name: "disabled-button",
    data() {
        return {
            disabled: 0
        }
    },
    methods: {
        isGoToRegister() {
            if(this.disabled === 1) {
                document.getElementById("reloadCB").checked=false;
                window.location.assign('/register')
            }
        }
    },
}
</script>
