<template>
    <div class="header_lang_list">
        <ul class="header_lang_items">
            <li class="header_lang_item" v-for="product in this.products" v-bind:key="product.id" >
                <a class="header_lang_link top-text-nav-user-sub " :href="'/'+ product.slug + '/'+ product.id + '/dashboard'">
                    <img class="header_lang_link_flag" :src="product.path_img" >
                    <span class="header_lang_link_text">{{  product.name  }}</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'TopDroupdownProduct',
    data() {
      return {
        products: {},
        loading: false
      }
  },
  components: {
  },
  methods: {
    getData(){
        axios.get('/api-front/navbar')
            .then( (response)=> {
                 if(response.status==200){
                    this.products = response.data;
                }
            }).catch(err=>{
                console.log('error TopDroupdownProduct get api');
                console.log(err);
            }).finally(() => this.loading = false);
    }
  },
  created() {
    this.getData();
  }
}
</script>
