﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"LainieDaySH";src:url("Laine.eot?") format("eot"),url("Laine.woff") format("woff"),url("Laine.ttf") format("truetype"),url("Laine.svg#LainieDaySH") format("svg");font-weight:normal;font-style:normal;}
