.detail_img_main {
    width:100%;
}

.detail-member-icon {
    background-color: transparent !important;
    border: white !important;
}

@media (max-width: 767.98px) { 
    .qr_code_img{
        width: 100%;
    }
}

//breadcrumb
.breadcrumb {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    padding: unset;
}
.breadcrumb:not(:first-child) {
    margin-top: 30px ;
}
.breadcrumb_link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--color-text);
}
.breadcrumb_link:not(:first-child) {
    margin-left: 8px;
}
.breadcrumb_link:hover {
    color: var(--color-primary);
}
.breadcrumb_link_icon {
    flex: 0 0 auto;
    margin-left: 8px;
    font-size: 13px;
}
.breadcrumb_active {
    margin-left: 8px;
    white-space: nowrap;
    color: var(--color-secondary);
}