.footer-home {
    padding-bottom: 0px;
}

.card-footer {
    width: 100%;
    background-color: #455849;
}

.footer-card-header {
    background-color: #455849;
    height: 10px;
    border: none;
}

.footer-logo {
    width: 70px;
}

.ig-logo {
    width: 100px;
}

.footer-header {
    color: white;
    font-family: china-bold;
}

.footer-text-topic {
    color:#878A6F;
    margin-bottom: 0px;
}