
.section-product-1 {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-image: url('./image/home/blackgroud-product-1.jpg');
    background-color: #ffffff;
}

.content-deals_title {
    font-family: var(--font-primary);
    font-weight: 700;
}

.product-box {
    position: relative;
}
.text-image {
    background-color: #575942;
    border: none;
    color: white;
    font-size: 1em;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;

    @media (min-width: 576px) { 
        right: -3%;
        bottom: 5%;
    }
}

.btn-green {
    color: #fff;
    background-color: rgb(87, 89, 66);
    border-color: rgb(87, 89, 66);

    &:hover,  &:active, &:focus {
        color: #fff;
        border-color: #34441b;
        background-color: #34441b;
    }
}
