.border-none {
    border: none;
}

.logo-brand {
    width:80px !important;
    @media (min-width: 576px) and (max-width: 767.98px) {
        width:100px;
    }

    @media (max-width: 575.98px) {
        position: relative;
        width:90px;
        left: 1%;
    }
}

.background-navbar {
    background-image: url("./image/1.webp");
    height: 200px;
}

.navbar-main {
    background-color: white;
}

// custom ช่วงสูงระหว่าง logo และ navbar ในหน้าจอ sm
.navbar-collapse {
    @media (max-width: 575.98px) {
        position: relative;
        bottom: 10px;
        // background-image: url('../../../public/img/pin/15.jpg');
        width: 100%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        position: relative;
        bottom: 10px;
        // background-image: url('../../../public/img/pin/15.jpg');
        width: 100%;
    }
}

.nav-link {
    // color: #000;
    color: white;
    font-size: 1.8rem;

    @media (max-width: 575.98px) {
        font-size: 1.7rem;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 1.7rem;
        padding-left: 5%;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.6rem;
    }

    @media (min-width: 1920px) {
        font-size: 2.5em;
    }

}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

// navbar active background
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
    color:black;
}

@media screen and (min-width:768px){
    .navbar-brand {
        position: absolute;
        left: 42%;
        display: block;
        width: 160px;
        text-align: center;
    }
    // .navbar>.container .navbar-brand-centered,
    // .navbar>.container-fluid .navbar-brand-centered {
    //     margin-left: -80px;
    // }
}

.hover:hover {
    color: red;
}

.text-nav {
    color:#575943;
    @media (min-width: 1200px) {
        color: white;
        &:hover {
            color:white;
        }
    }
}

.sub-text-nav {
    color:#575943;
    @media (min-width: 1200px) {
        color: white;
    }
}

.is-menu  {
    color:white !important;
}

.icon-navbar-mobile {
    background-color: #575942;
    color:white;
}










