// .rating {
//     margin-top: 150px;
//     margin-bottom: 150px;
// }

// .branding-products {
//     width: 250px;
// }

// .rating-detail {
//     width: 50%;
// }

.c-bread-product {
    background: white;
    margin-bottom: 0px;
}
