.register-image-step1 {
	width: 100%;
	height: auto;
}

// h3 {
//     font-family: "Muli-SemiBold";
//     font-size: 22px;
//     color: #453e79;
//     text-transform: uppercase;
//     letter-spacing: 7px;
//     padding: 5px 15px;
//     // display: inline-block;
//     border: 1px solid #dad8e4;
// 	margin-bottom: 35px;
// }

.form-content {
    width: 100%;
}

// .form-group--error {
//     border-color: red !important;
// }

.error {
    color: #D9585C;
    margin-top: 5px;
    display: block;
    border-color: red;
    background: #FDD;
    font-size: 12px;
}

.header-register {
    @media (min-width: 1400px) and (max-width: 1920px) {
        font-size: 1.8em !important;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        font-size: 1.5em !important;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 1.5em !important;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.5em !important;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 1.7em;
    }
    // @media (max-width: 575.98px) {
    //     font-size: 1.8em;
    //     color: red;
    // }
    @media (min-width: 320.90px) and (max-width: 375px) {
        font-size: 1.5em !important;
        padding: 0.5em;
    }

    @media (max-width: 320px) {
        font-size: 1.3em !important;
        padding: 0.5em;
    }
}

.border-none-register {
    @media (max-width: 575.98px) {
        border: none;
    }
}

.form-control {
    @media (max-width: 575.98px) {
        font-size: 1.1em;
    }
}

.submit-btn {
    @media (max-width: 575.98px) {
        font-size: 1.2em;
    }
}

.margin-only-formbox {
    @media (min-width: 1200px) {
        padding: 1.5rem !important;
    }

    @media (min-width: 1400px) {
        padding: 4.5rem !important;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding: 4rem !important;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding-left: 0px;
        padding: 2.5em !important;
    }

    @media (min-width: 375.98px) and (max-width: 575.98px) {
        padding: 30px !important;
        padding-top: 30px !important;
    }

    @media (min-width: 320.90px) and (max-width: 375px) {
        padding: 30px !important;
        padding-top: 30px !important;
    }

    @media (max-width: 320px) {
        padding: 10px !important;
        padding-top: 30px !important;
    }
}

.padding0 {
    @media (max-width: 575.98px) {
        padding: 0px;
    }
}

// .setmargin-1920 {
//     @media (min-width: 1500px) and (max-width: 1600px){
//         margin-left: 100px;
//     }

//     @media (min-width: 1600px) and (max-width: 1700px){
//         margin-left: 180px;
//     }

//     @media (min-width: 1700px) and (max-width: 1800px){
//         margin-left: 250px;
//     }
//     @media (min-width: 1700px) and (max-width: 1920px){
//         margin-left: 280px;
//     }
// }

.input-create {
    @media (max-width: 320px) {
        font-size: 0.9em !important;
    }
}
