.profile-image {
    border-radius: 5px;
    max-height: 350px;
}

.profile-detail-box {
    background-color: #ffffff;
}

.list-group-item-action {
    color: #364A15;
}
.list-group-item.active {
    color: #ffff;
    background-color: #575942;
    border-color: #575942;
}
.custom-control-input:checked ~ .custom-control-label::before  {
    border-color: rgb(87, 89, 66);
    background-color: rgb(87, 89, 66);
}

.btn-green {
    color: #fff;
    background-color: rgb(87, 89, 66);
    border-color: rgb(87, 89, 66);

    &:hover,  &:active, &:focus {
        color: #fff;
        border-color: #34441b;
        background-color: #34441b;
    }
}

.form-control:focus,input[type="radio"]:focus, input[type="file"]:focus, textarea:focus, select:focus  {
    border-color: rgb(215, 219, 170);
    box-shadow: 0 0 0 0.2rem rgb(215, 219, 170);
}

