// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #919C93;

html {
    font-size: var(--font-size);
}

body {
    font-family: var(--font-primary);
    font-weight: var(--font-weight);
    color: var(--color-text);
    line-height: var(--line-height);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    overflow-y: scroll;
    background-color: var(--color-white);
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary-tint);
}

.title-darkgreen {
    color: #7E866F;
}

.title-green {
    color: #545E40;
}

.grey {
    color: grey;
}

.text-disabled {
    color: $grey;
}

.vue-a-href {
    cursor: pointer;
    color: #545E40;
    &:hover {
        color: #364A15;
    }
}

.background-contain-variable {
    @media (min-width: 1400px) {
        background-image: url("../../../public/img/design/3.png");
        width: auto;
        height: auto; //2600
        z-index: 0;
    }
}

