.section-slider-data {
    margin-top: 150px;
}

.img-about-back {
    width: 100%;
    height:auto;
    @media (min-width: 768px) and (max-width: 991.98px) {
        right: 120px;
        top: 20px;
        width: 120%;
    }

    @media (min-width: 400px) and (max-width: 575.98px) {
        margin-top: 2em;
        margin-left: 5%;
        width:100%;
        height: 93%;
    }

    @media (max-width: 575.98px) {
        margin-top: 2em;
        margin-left: 5%;
        width:100%;
        height: 100%;
    }
}

.img-about-back-sec2 {
    width: 130%;
    height:100%;
    position: absolute;
    left: -60px;
    @media (min-width: 576px) and (max-width: 767.98px) {
        display: none;
    }
    @media (max-width: 575.98px) {
        display: none;
    }
}

.img-about-front {
    width: 130%;
    height:auto;
    position: relative;
    right: 180px;
    top: 180px;
    z-index: 20;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        right: 150px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        right: 120px;
        width: 150%;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        right: 150px;
        width:132%;
    }

    @media (max-width: 575.98px) {
        width:130%;
        left: -30%;

    }
}

.img-about-front-sec2 {
    z-index: 2;
    width: 130%;
    height:auto;
    position: relative;
    left:50px;
    @media (min-width: 768px) and (max-width: 991.98px) {
        width: 150%;
        height: auto;
        position: relative;
        left: -10px;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        width:100%;
        position: static;
    }

    @media (max-width: 576px) {
        width: 100%;
        position: static;
    }
}



.img-avocado-header {
    width: 100%;
    height: auto;


    @media (min-width: 768px) and (max-width: 991.98px) {
        position: relative;
        right: -40px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        position: relative;
        right: 25px;
    }

    @media (max-width: 575.98px) {
        position: relative;
        right: 0px;
    }
}

body {
    background-color: white;
}

.about-heart {
    width:180px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;

    @media (min-width: 1920px) {
        width:220px;
        height: auto;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        width:120px;
    }

    @media (max-width: 576px) {
        width: 35%;
    }

}

.sarabun {
    font-family: th-sarabun;
}

// พื้นหลังหน้าจอโทรศัพท์ของ section
.about-brand {
    @media (max-width: 575.98px) {
        background-image: url("../../../public/img/pin/1.jpg");
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        background-image: url("../../../public/img/pin/1.jpg");
    }
}

.main-avocado {
    @media (min-width: 576px) and (max-width: 767.98px) {
        background-image: url("../../../public/img/pin/7.jpg");
    }
}

.aboutBrand-title {
    @media (min-width: 1920px) {
        font-size: 3em;
    }
    @media (min-width: 1200px) {
        font-size: 3em;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.8em;
    }
}


.aboutBrand-text {
    font-size: 1.7em;

    @media (min-width: 1920px) {
        font-size: 2em;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 1.5em;
    }

     @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.3em;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 1.8em;
        padding : 3rem;
    }

    @media (max-width: 575.98px) {
        padding: 30px;
        margin-top: 20px;
        font-size: 1.6em;
    }

}

li {
    list-style:none;
}


.border-bottom-about1 {
    border-bottom:5px solid #674A3C;
}

.border-right-about2 {
    border-right: 5px solid #839062;
    height: 100px;
    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 60px;
    }
}

.img-intro-avo {
    width:100%;
    height: auto;
    @media (min-width: 576px) and (max-width: 767.98px) {
        width: 100%;
    }

    @media (max-width: 575.98px) {
        width: 100%;
    }
}

.img-intro-product {
    width:100%;
    height: auto;
}

.img-intro-background-avo {
    width:100%;
    height: 475px;
    @media (min-width: 992px) and (max-width: 1199.98px) {
        height: 400px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 300px;
    }


}

.img-intro-background {
    width:100%;
    height: 475px;
    @media (min-width: 992px) and (max-width: 1199.98px) {
        height: 400px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 300px;
    }

}

.img-avocado-header-box {
    width: 40%;
    height: 10%;
    position: absolute;
    right: 130px;
    top: -30px;
}

.intro-box-text-right-avo {
    background-color:white;
    width:100%;
    height:80%;
    position: absolute;
    top: 50px;
    left: -50px;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        height:80%;
        top:40px;
        left:-50px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        top: 32px;
        left: -40px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 1rem;
        width: 90%;
        position: absolute;
        left: 20px;
    }

    @media (max-width: 575.98px) {
        width:100%;
        height: 70%;
        top:70px;
        left:0%;
    }
}

.intro-box-text-right {
    background-color:white;
    width:100%;
    height:80%;
    position: absolute;
    top: 50px;
    left: -50px;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        height:80%;
        top:40px;
        left:-50px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        top: 32px;
        left: -20px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 1rem;
        width: 90%;
        position: absolute;
        left: 25px;
    }

    @media (max-width: 575.98px) {
        width:100%;
        height: 70%;
        top:70px;
        left:0%;
    }
}

.intro-box-text-left {
    background-color:white;
    width:100%;
    height:80%;
    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 10;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        height:80%;
        top:40px;
        right:-30px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        top: 35px;
        right: -20px;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 1rem;
        width: 90%;
        position: absolute;
        left: 28px;
    }

    @media (max-width: 575.98px) {
        width:100%;
        height: 70%;
        top:70px;
        left:0%;
    }
}

.intro-text-header {
    font-size: 3.3em;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 2.6em;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.8rem;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 2.25rem;
    }
    @media (min-width: 400px) and (max-width: 575.98px) {
        font-size: 2.7em !important;
        padding: 15px !important;
        padding-bottom: 0px !important;
    }
    @media (max-width: 399.98px) {
        font-size: 2.7em
    }
}
.intro-text {
    font-size: 1.9em;
    line-height: 1.2;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 1.7em;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.2rem;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 1.6rem;
        margin-top: 0.5em;
    }

    @media (min-width: 400px) and (max-width: 575.98px) {
        font-size: 1.5em;
        padding: 15px !important;
    }

    @media (max-width: 399.98px) {
        font-size: 1.4em;
        padding: 15px !important;
        padding-top: 0px !important;
    }

}


@media (min-width: 1200px) {
    .margin-bottom-lg-100 {
        margin-bottom: 100px;
    }
}

@media (max-width: 767.98px) {
    .bt-480 {
        bottom: 480px;
    }
}

// modal

.modal-body-box {
    padding: 5em;
    padding-top: 0px;

    @media (min-width: 1200px) {
        padding: 3em;
    }

    @media (max-width: 575.98px) {
        padding: 2em;
    }
}

.description-login {
    text-align: center;
    margin-bottom: 30px;
    color: grey;
}






