// @font-face {
//     font-family: 'omyim';
//     src: url('/image/font/omyim.otf') format('omyim');
// }

li {
    list-style: none;
}

.py-4 {
    @media (max-width: 576px) {
        padding-top: 0px !important;
    }
}

.p-iphone-0 {
    // @media only screen and (max-width: 330.98px) {
    //     padding: 0px !important;
    // }
    @media (max-width: 575.98px) {
        padding-right: 0px !important;
    }
}

.p0-avo {
    // @media (max-width: 575.98px) {
    //     padding-right: 15px !important;
    //     padding-left: 0px !important;
    // }
}
// .fix-height-row {
//     // height: 3000px;
//     @media (min-width: 768px) and (max-width: 991.98px) {
//         height: 2700px;
//     }

//     @media (min-width: 992px) and (max-width: 1199.98px) {
//         height: 2700px;
//     }

//     @media (min-width: 1200px) {
//         height: 3000px;
//     }
// }

.box-shadow {
    box-shadow: 5px 7px 7px #ACB1A8;
}

.sarabun {
    font-family: "th-sarabun";
}

.msgyb {
    color: white;
    padding-top: 2.5em;
    font-size: 2.8em;
    padding-left: 0.4em;

    @media (min-width: 576px) and (max-width: 767.98px) {
        padding-top: 2.3em;
        font-size: 3.1em;
        padding-left: 0.8em;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        padding-top: 3em;
        font-size: 4em;
        padding-left: 1.1em;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding-top: 2.3em;
        font-size: 4em;
        padding-left: 1.5em;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        padding-top: 3em;
        font-size: 4em;
        padding-left: 1.5em;
    }
    @media (min-width: 1400px) {
        padding-top: 2.5em;
        font-size: 5em;
        padding-left: 1.1em;
    }
}

.background-header {
    @media (max-width: 575.98px) {
        background-image: url("./image/hd-mb-xs2.webp");
        width: auto;
        height: 500px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        background-image: url("./image/header2.webp");
        width: auto;
        height: 665px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        background-image: url("./image/header2.webp");
        width: auto;
        height: 665px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        background-image: url("./image/header2.webp");
        width: auto;
        height: 665px;
    }
    @media (min-width: 1200px) {
        background-image: url("./image/1.webp");
        width: auto;
        height: 980px;
    }

    @media (min-width: 1400px) {
        background-image: url("./image/1.webp");
        width: auto;
        height: 980px;
    }
}
.background-content {
    @media (max-width: 575.98px) {
        background-image: url("./image/bg-mobile.webp");
        width: auto;
        height: 3200px; //2600
        z-index: 0;
        margin-top: 500px;
    }
    @media (min-width: 575.98px) and (max-width: 767.98px) {
        background-image: url("./image/bg-mobile.webp");
        width: auto;
        height: 4600px; //2600
        z-index: 0;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        background-image: url("./image/bg-mobile-1000.webp");
        width: auto;
        height: 1900px; //2600
        z-index: 0;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        background-image: url("./image/bg-mobile-3.webp");
        width: auto;
        height: 2380px; //2600
        z-index: 0;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        background-image: url("./image/3.webp");
        width: auto;
        height: 2670px; //2600
        z-index: 0;
    }

    // @media (min-width: 1400px) {
    //     background-image: url("./image/3.webp");
    //     width: auto;
    //     height: 2800px; //2600
    //     z-index: 0;
    //     background-repeat : no-repeat;			//กำหนดให้แสดงเพียงภาพเดียว
    //     background-position :  top left; 			//จัดตำแหน่งของรูปภาพ
    //     background-attachment: fixed;			//กำหนดตรึงภาพ เพื่อไม่ให้ภาพเลื่อนตามสกอลบาร์
    // }

    @media (min-width: 1400px) {
        background-image: url("./image/3.webp");
        width: auto;
        height: 2770px; //2600
        z-index: 0;
    }
}

.bg-main {
    @media (min-width: 575.98px) and (max-width: 767.98px) {
        // background-image: url("./image/bg-main-final1.jpg");
        // position: absolute;
        // top: 700px;
        padding-top: 100px;
            // position: relative;
            // top: 30px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        background-image: url("./image/bg-main-final1.jpg");
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        background-image: url("./image/bg-main-final1.jpg");
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        background-image: url("./image/bg-main-final1.jpg");
    }

    @media (min-width: 1400px) {
        background-image: url("./image/bg-main-final1.jpg");
    }
}

.bg-main2 {
    @media (min-width: 575.98px) {
        background-image: url("./image/bg-main2.webp");
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        background-image: url("./image/bg-main2.webp");
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        background-image: url("./image/bg-main2.webp");
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        background-image: url("./image/bg-main2.webp");
    }

    @media (min-width: 1400px) {
        background-image: url("./image/bg-main2.webp");
    }
}

.z-index-1 {
    z-index: -1;
}
// ครีมโสมสมุนไพร
.bg-main-height-sec1 {
    @media (min-width: 575.98px) and (max-width: 767.98px) {
        max-height: 550px;
        height: 550px;
    }


    @media (min-width: 768px) and (max-width: 991.98px) {
        max-height: 550px;
        height: 550px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        max-height: 550px;
        height: 500px;
    }

    @media (min-width: 1200px) and (max-width: 1398.98px) {
        max-height: 600px;
        height: 600px;
    }

    @media (min-width: 1400px) {
        max-height: 600px;
        height: 600px;
    }
}
// avocado
.padding-contain-avo {
    //padding container avocado
    @media (min-width: 1400px) {
        padding: 0px !important;
    }
}

.avo-box {
    @media (max-width: 575.98px) {
        padding: 0px;
        padding-top: 25px;
        // background-color: #DEE4D8;
    }
    position: relative;
    bottom: 500px;
}

// ลด margin ของหน้าจอ mobile ลง
.mg0-avo-mobile {
    @media (max-width: 767.98px) {
        // margin-left:0px;
        // margin-righT:0px;
    }
}

.row-avocado {
    @media (max-width: 575.98px) {
        // padding: 5%;
        padding-top: 50px;
        height: 500px;
    }

    @media (min-width: 578px) and (max-width: 767.98px) {
        padding: 5%;
        max-height: 639px;
        padding-top: 0px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        max-height: 400px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        max-height: 639px;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        // padding-left: 5%;
        max-height: 639px;
    }

    @media (min-width: 1400px) {
        max-height: 639px;
        // padding-left: 5%;
    }
}

.avocado-image-box {
    @media (max-width: 575.98px) {
        padding: 0px;
    }

    @media (min-width: 576px) {
        padding: 0px;
    }

    @media (min-width: 768px) {
        padding-right: 0px;
    }
}

.box-shadow-avo {
    box-shadow: 5px 7px 7px #ACB1A8;
}

.avocado-box {
    @media (min-width: 576px) and (max-width: 767.98px) {
        position: absolute;
        top: 4000px;
    }
}
.bg-main-height-sec2 {
    @media (min-width: 575.98px) {
        max-height: 650px;
        height: 600px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        max-height: 650px;
        height: 600px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        max-height: 650px;
        height: 600px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        max-height: 650px;
        height: 600px;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        max-height: 650px;
        height: 600px;
    }

    @media (min-width: 1400px) {
        max-height: 650px;
        height: 600px;
        // padding-left: 300px;
    }
}

.bg-main-height-sec3 {
    // @media (min-width: 575.98px) {
    //     height: 1600px;
    // }

    // @media (min-width: 767.98px) and (max-width: 991.98px) {
    //     height: 1600px;
    // }

    // @media (min-width: 992px) and (max-width: 1199.98px) {
    //     height: 1600px;
    // }

    // @media (min-width: 1200px) and (max-width: 1399.98px) {
    //     height: 1600px;
    // }
    @media (min-width: 575.98px) and (max-width: 767.98px) {
        height: 1000px;
        padding: 0px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 1250px;
        position: relative;
        top: 0px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px)     {
        height: 1300px;
        position: relative;
        top: 0px;
    }
    @media (min-width: 1200px) {
        height: 1300px;
        position: relative;
        top: 0px;
    }
}
// จัด position detail mobile ของ herbal
.pt-detail-mobile {
    // @media (min-width: 600px) and (max-width: 639.98px) {
    //     position: relative;
    //     top: -40px;
    // }

    // @media (min-width: 640px) and (max-width: 699.98px) {
    //     position: relative;
    //     top: 20px;
    // }

    @media (min-width: 576px) and (max-width: 767.98px) {
        // position: relative;
        // top: 100px;
    }

}
.thai-herbal-box {
    @media (max-width: 575.98px) {
        padding: 0px;
    }
    position: relative;
    bottom: 500px;
}

.thai-herbal-head {
    @media only screen and (max-width: 320.98px) {
        font-size: 2.5em;
        display: flex;
        justify-content: center;
    }

//     @media (min-width: 321px) and (max-width: 575.98px) {
//         // top:100px;
//        // margin-top: 3em;
//        font-size: 3em;
//        display: flex;
//        padding-top: 10px;
//        justify-content: center;
//    }

    @media (min-width: 321px) and (max-width: 575.98px) {
         // top:100px;
        // margin-top: 3em;
        font-size: 2.5em;
        display: flex;
        padding-top: 10px;
        justify-content: center;
    }

    @media (min-width: 575.98px) and (max-width: 767.98px) {
        // top:100px;
        // margin-top: 3em;
        font-size: 3.5em;
        display: flex;
        padding-top: 10px;
        justify-content: center;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        position: relative;
        top:40px;
        padding-left: 1em;
        font-size: 2.7em;
        padding-top: 0.5em;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        position: relative;
        // position: relative;
        top:100px;
        font-size: 3.5em;
        padding-left: 1.3em;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        font-size: 4em;
        padding-left: 0.6em;
    }

    @media (min-width: 1400px) {
        font-size: 4.5em;
        padding-left: 0.6em;
    }
}

.thai-herbal-detail {
    @media only screen and (max-width: 320.98px) {
        // iphone se
        font-size: 1.8em;
        background-color: #DEE4D8;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        position: inherit;
        z-index: -1;
        padding: 8%;
    }

    @media (min-width: 321px) and (max-width: 575.98px) {
        font-size: 1.5em;
        background-color: #DEE4D8;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        position: inherit;
        z-index: -1;
        padding: 8%;
    }

    @media (min-width: 575.98px) and (max-width: 767.98px) {
        font-size: 1.9em;
        background-color: #DEE4D8;
        border-radius: 5px;
        padding: 2em;
        display: flex;
        justify-content: center;
        position: inherit;
        z-index: -1;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        position: relative;
        top:100px;
        padding-left: 1em;
        left: 5%;
        padding-top: 1em;
        font-size:1.5em;
        word-wrap: break-word;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding-top: 30px;
        position: relative;
        top:140px;
        padding-left: 2.5em;
        font-size: 1.7em;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        padding-top: 10%;
        padding-left: 6%;
        font-size: 2.1em;
    }

    @media (min-width: 1400px) {
        // padding-top: 30px;
        padding-top: 1.5em;
        padding-left: 1.5em;
        font-size: 1.9em;
        // position: relative;
        // top:140px;
    }
}

.avocado-head {
    @media only screen and (max-width: 320.98px) {
        display: flex;
        top:0px;
        font-size: 2.5em;
        justify-content: center;
        padding-top: 0.3em;
    }

    @media (min-width: 321px) and (max-width: 575.98px) {
        display: flex;
        top:0px;
        font-size: 2.5em;
        justify-content: center;
        padding-top: 0.3em;
    }

    @media (min-width: 578px) and (max-width: 767.98px) {
        display: flex;
        top:0px;
        font-size: 3.5em;
        justify-content: center;
        padding-top: 0.5em;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        position: relative;
        top: 0px;
        font-size: 2.7em;
        padding-left: 15px;
        padding-top: 0.5em;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        position: relative;
        top:0px;
        font-size: 3.5em;
        padding-left: 30px;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        position: relative;
        top:0px;
        font-size: 4em;
        padding-left: 0.6em;
        padding-bottom: 0.4em;
    }

    @media (min-width: 1400px) {
        position: relative;
        top:0px;
        font-size: 4.5em;
        padding-left: 0.6em;
        padding-bottom: 0.3em;
    }
}

.avocado-detail {
    @media only screen and (max-width: 320.98px) {
        // iphone se
        font-size: 1.8em;
        position: relative;
        top:0px;
        padding: 5%;
        padding-top: 0.5em;
    }

    @media (min-width: 321px) and (max-width: 575.98px) {
        font-size: 1.5em;
        position: relative;
        top:0px;
        padding: 5%;
        padding-top: 0.5em;
    }

    @media (min-width: 578px) and (max-width: 767.98px) {
        font-size: 1.7em;
        position: relative;
        top:0px;
        padding: 1.5em;
        padding-top: 0.5em;
        // padding-left: 30px !important;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.4em;
        position: relative;
        top: 0px;
        padding-left: 3%;
        padding-top: 0.5em;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 1.7em;
        position: relative;
        /* top: 30px; */
        padding-top: 1em;
        padding-left: 30px !important;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        font-size: 1.9em;
        position: relative;
        top: 0px;
        padding: 1.2em;
        padding-top: 0px;
    }

    @media (min-width: 1400px) {
        font-size: 1.9em;
        // position: relative;
        // top:0px;
        // padding: 2em;
        padding: 1.5em;
        padding-top: 0.5px;
    }
}

// display none div 1 in small
.visible-sm {
    @media (min-width: 576px) and (max-width: 767.98px) {
        display: none;
    }

}

.row-thai-herbal {
    @media (min-width: 576px) {
        max-height: 1200px;
    }

    @media (min-width: 768px) {
        max-height: 550px;
        padding-right: 8% !important;
    }

    @media (min-width: 1200px) {
        max-height: 639px;
        padding-right: 12% !important;
    }
    @media (min-width: 1920px) {
        max-height: 639px;
        padding-right: 8% !important;
    }
}

.image-thai-herb-box {

    @media (max-width: 575.98px) {

    }
    // flex-direction:column-reverse !important;
    @media (min-width: 768px) and (max-width: 991.98px) {
        top: 70px;
        right: 0;
    }

    @media (min-width: 992px) {
        top: 50px;
        right: -5%;
    }

    @media (min-width: 1200px) {
        top: -5%;
        right: -5%;
    }

    @media (min-width: 1400px) {
        top: -20px;
        right: -10%;
    }

    @media (min-width: 1600px) {
        top: -20px;
        right: -18%;
    }

    @media (min-width: 1920px) {
        top: -20px;
        right: -23%;
    }
}
// reverse row
.reverse-xs {
    @media (max-width: 575.98px) {
        display: flex;
        flex-direction:column-reverse;
    }
}

// รูป product
.thai-herbal-image {
    // @media (min-width: 575.98px) {
    //     // position: absolute;
    //     // bottom:60px;
    //     // left:10px;
    //     z-index:1;
    //     background-size: contain;
    //     background-origin: content-box;
    // }
    width: 100%;
    height: auto;
    @media (min-width: 767.98px) and (max-width: 991.98px) {
        position: absolute;
        // min-height: 300px;
        width: 100%;
        height: auto;
        // min-width: 380px;
    }

    // @media (min-width: 992px) and (max-width: 1199.98px) {
    //     position: absolute;
    //     z-index:1;
    //     top:10px;
    //     right: 70px;
    // }

    // @media (min-width: 1200px) and (max-width: 1398.98px) {
    //     position: absolute;
    //     z-index:1;
    //     top: -50px;
    //     margin-left: -30px;
    //     // left:10px;
    // }

    // @media (min-width: 1400px) {
    //     position: absolute;
    //     // z-index:1;
    //     top: -50px;
    //     margin-left: 60px;
    //     // left:90px;
    // }

    // @media (min-width: 1600px) {
    //     position: relative;
    //     top: -20px;
    //     margin-left: 205px;
    //     // margin-right: 100px;
    // }

    // @media (min-width: 1920px) {
    //     position: relative;
    //     top: -20px;
    //     margin-left: 205px;
    //     // margin-right: 100px;
    // }
    // @media (min-width: 1600px) {
    //     position: relative;
    //     top: -20px;
    //     left: 200px;
    // }
}

.thai-herbal-listband {
    background-color: #575942;
    color: white;
    width: auto;
    height: auto;
    border-radius: 5px;
    // z-index: 1;
    @media only screen and (max-width: 320.98px) {
        padding: 5px;
        font-size: 1.5em;
        position: absolute;
        top: -25px;
        margin-left : 25%;
    }

    @media (min-width: 321px) and (max-width: 575.98px) {
        padding: 5px;
        font-size: 1.5em;
        position: absolute;
        top: -25px;
        margin-left: 30%;
    }

    @media (min-width: 575.98px) and (max-width: 767.98px) {
        padding: 5px;
        font-size: 1.7em;
        position: absolute;
        top: -25px;
        margin-left : 35%;
    }

    // @media (min-width: 767.98px) and (max-width: 991.98px) {
    //     padding: 1px;
    //     font-size: 1.4em;
    //     position: absolute;
    //     right: 15px;
    //     bottom: -430px;
    //     bottom: -150px;
    // }

    // @media (min-width: 992px) and (max-width: 1199.98px) {
    //     padding: 5px;
    //     font-size: 1.4em;
    //     position: absolute;
    //     right: 45px;
    //     bottom: -120px;
    // }

    // @media (min-width: 1200px) and (max-width: 1398.98px) {
    //     padding: 10px;
    //     font-size: 1.6em;
    //     position: absolute;
    //     right: -25px;
    //     bottom: -80px;
    // }

    // @media (min-width: 1400px) {
    //     padding: 10px;
    //     font-size: 1.6em;
    //     position: absolute;
    //     right: -105px;
    //     bottom: -30px;
    // }

    // @media (min-width: 1600px) {
    //     padding: 10px;
    //     font-size: 1.6em;
    //     position: absolute;
    //     right: -220px;
    //     bottom: 40px;
    // }
    @media (min-width: 768px) {
        position: absolute;
        padding: 5px;
        font-size: 1.3em;
        right: -5%;
        bottom: -8%;
    }

    @media (min-width: 991.98px) {
        position: absolute;
        padding: 5px;
        font-size: 1.3em;
        right: 0;
        bottom: 5%;
    }

    @media (min-width: 1200px) {
        position: absolute;
        padding: 5px;
        font-size: 1.6em;
        right: -3%;
        bottom: 5%;
    }

    @media (min-width: 1600px) {
        position: absolute;
        padding: 10px;
        font-size: 1.6em;
        right: -3%;
        bottom: 5%;
    }
}

.avocado-image {
    @media (max-width: 575.98px) {
        padding: 0px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        // position: relative;
        // top:-350px;
        padding: 0px;
        z-index: 1;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        // position: absolute;
        height: 100%;
        z-index: 1;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        position: relative;
        z-index: 1;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        position: relative;
        z-index: 1;
    }

    @media (min-width: 1400px) {
        position: relative;
        z-index: 1;
    }
}

.bg-white {
    background: white;
    width: 100%;
    // height: 455px;
    border-radius: 5px;
    // box-shadow: 5px 10px 8px #888888;
    @media (min-width: 992px) {
        padding: 2em;
    }
}



.avocado-listband  {
    background-color: #575942;
    color: white;
    width: auto;
    height: auto;
    @media (max-width: 575.98px) {
        padding: 5px;
        font-size: 1.5em;
        position: absolute;
        border-radius: 5px;
        top: -25px;
        margin-left : 35%;
    }

    @media (min-width: 578px) and (max-width: 767.98px) {
        // font-size: 1.3em;
        // padding: 5px;
        // background-color: #575942;
        // color: white;
        // width: auto;
        // height: auto;
        // border-radius: 5px;
        // position: absolute;
        // bottom: 55px;
        // left: -20px;
        // z-index: 1;
        // padding-top: 0px !important;
        padding: 5px;
        font-size: 1.7em;
        position: absolute;
        border-radius: 5px;
        top: -25px;
        margin-left : 35%;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        font-size: 1.3em;
        padding: 5px;
        background-color: #575942;
        color: white;
        width: auto;
        height: auto;
        border-radius: 5px;
        position: absolute;
        bottom: 25px;
        left: -20px;
        z-index: 1;
        padding-top: 0px !important;
    }

    // @media (min-width: 992px) and (max-width: 1199.98px) {
    //     padding: 5px;
    //     font-size: 1.4em;
    //     position: absolute;
    //     left: -15px;
    //     bottom: 10px;
    // }

    @media (min-width: 992px) {
        padding: 5px;
        border-radius: 5px;
        font-size: 1.3em;
        position: absolute;
        bottom: 10px;
        left: -20px;
        z-index: 1;
    }
}
.row-camomild {
    @media (max-width: 575.98px) {
        // padding-top: 70px;
    }

    @media (min-width: 578px) and (max-width: 767.98px) {
        padding: 5%;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        padding: 1%;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        padding: 3%;
    }

    @media (min-width: 1400px) and (max-width: 1599.98px) {
        padding: 3%;
        max-height: 639px;
    }

    @media (min-width: 1600px) {
        padding: 5%;
        max-height: 639px;
    }
}

.camo-row-position {

    @media (min-width: 575.98px) and (max-width: 767.98px) {
        position: relative;
        bottom: 450px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        position: relative;
        bottom: 1100px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        position: relative;
        bottom: 1200px;
    }

    @media (min-width: 1200px) {
        position: relative;
        bottom: 1200px; }
}

.camo-listband {
    background-color: #575942;
    color: white;
    width: auto;
    height: auto;
    border-radius: 5px;

    @media (min-width: 768px) {
        z-index: 1;
        position: absolute;
        padding: 5px;
        font-size: 1.3em;
        right: -5%;
        bottom: 2%;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 5px;
        font-size: 1.7em;
        position: absolute;
        border-radius: 5px;
        top: -25px;
        margin-left : 35%;
    }

    @media (max-width: 575.98px) {
        padding: 5px;
        font-size: 1.5em;
        position: absolute;
        border-radius: 5px;
        top: -25px;
        margin-left : 35%;
    }
}

// padding and position
// col-1 and col-10
.padding-avo-1 {
    @media (min-width: 575.98px) and (max-width: 767.98px) {
        position: relative;
        bottom:630px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        position: relative;
        bottom:630px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        position: relative;
        bottom:630px;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        position: relative;
        bottom:630px;
    }

    @media (min-width: 1400px) {
        position: relative;
        bottom:630px;
    }
}
// col-md-1 อันสุดท้าย
.padding-avo-2 {
    @media (min-width: 575.98px) {
        position: relative;
        bottom:720px;
        z-index:-1;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        position: relative;
        bottom:720px;
        z-index:-1;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        position: relative;
        bottom:720px;
        z-index:-1;
    }

    @media (min-width: 1200px) and (max-width: 1399.98px) {
        position: relative;
        bottom:720px;
        z-index:-1;
    }

    @media (min-width: 1400px) {
        position: relative;
        bottom:720px;
        z-index:-1;
    }
}

// padding bg-green Camomild
.padding-bg-green-camo {
    position: relative;
    bottom:630px;
}

// padding Camomild content and Cacao content
// .padding-camo {
//     position: relative;
//     bottom:2200px;
// }

// footer image
.footer-image {
    background-image: url("./image/footer-main.webp");
    position: relative;
    // bottom:200px;
    height: 479px;
}

.detail-company {
    color:white;
    padding-left:1em;
    padding-top: 1em;
    font-size: 1.4em;
    @media (min-width: 576px) and (max-width: 767.98px) {
        padding-left:2em;
        padding-top: 1.5em;
        font-size: 1.4em;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        padding-left:2.8em;
        padding-top: 0.5em;
        font-size: 1.5em;

    }
    @media (min-width: 1200px) {
        padding-left:2.8em;
        padding-top: 1.5em;
        font-size: 2em;
    }

    @media (min-width: 991.98px) and (max-width: 1199.98px) {
        padding-left:3.4em;
        font-size: 1.7em;
        padding-top: 0.5em;
    }
}

.margin-macadamia {
    margin-top: 6em;
    @media (min-width: 576px) and (max-width: 767.98px) {
        background: #DEE4D8;
    }
}
